<script src="../../dist/js/dashboard_new.js"></script>
<link rel="stylesheet" href="../../dist/css/products.css">
<div class="column" >
        <h1>Edit <%= product.name %></h1>
        <form action="/dashboard/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <input class="input smmargin" name="name" value="<%= product.name %>" type="text" required />
            
            <div class="filencat">
                <div class="select">
                    <select name="category">
                            <option disabled selected>Categories</option>
                            <option disabled>Collectibles & Art</option>
                            <option <% if ( product.category == "collectibles") { %> selected <% } else { %> <% } %>  value="collectibles">Collectibles</option>
                            <option <% if ( product.category == "antiques") { %> selected <% } else { %> <% } %>  value="antiques">Antiques</option>
                            <option <% if ( product.category == "sportsmemorabilia") { %> selected <% } else { %> <% } %>  value="sportsmemorabilia">Sports Memorabilia</option>
                            <option <% if ( product.category == "art") { %> selected <% } else { %> <% } %>  value="art">Art</option>
                            <option disabled>Home & Garden</option>
                            <option <% if ( product.category == "yardgardenoutdoor") { %> selected <% } else { %> <% } %>  value="yardgardenoutdoor">Yard, Garden & Outdoor</option>
                            <option <% if ( product.category == "crafts") { %> selected <% } else { %> <% } %>  value="crafts">Crafts</option>
                            <option <% if ( product.category == "homeimprovement") { %> selected <% } else { %> <% } %>  value="homeimprovement">Home Improvement</option>
                            <option <% if ( product.category == "petsupplies") { %> selected <% } else { %> <% } %>  value="petsupplies">Pet Supplies</option>
                            <option disabled>Sporting goods</option>
                            <option <% if ( product.category == "outdoorsports") { %> selected <% } else { %> <% } %> value="outdoorsports">Outdoor Sports</option>
                            <option <% if ( product.category == "teamsports") { %> selected <% } else { %> <% } %>  value="teamsports">Team Sports</option>
                            <option <% if ( product.category == "exercisefitness") { %> selected <% } else { %> <% } %>  value="exercisefitness">Exercise & Fitness</option>
                            <option <% if ( product.category == "golf") { %> selected <% } else { %> <% } %>  value="golf">Golf</option>
                            <option disabled>Electronics</option>
                            <option <% if ( product.category == "computerstablets") { %> selected <% } else { %> <% } %>  value="computerstablets">Computers & Tablets</option>
                            <option <% if ( product.category == "camerasphoto") { %> selected <% } else { %> <% } %>  value="camerasphoto">Cameras & Photo</option>
                            <option <% if ( product.category == "tvaudiosurveillance") { %> selected <% } else { %> <% } %>  value="tvaudiosurveillance">TV, Audio & Surveillance</option>
                            <option <% if ( product.category == "phonesandaccessories") { %> selected <% } else { %> <% } %>  value="phonesandaccessories">Cell Phones & Accessories</option>
                            <option disabled>Auto Parts & Accessories</option>
                            <option <% if ( product.category == "gpssecurity") { %> selected <% } else { %> <% } %>  value="gpssecurity">GPS & Security Devices</option>
                            <option <% if ( product.category == "radarlaser") { %> selected <% } else { %> <% } %>  value="radarlaser">Radar & Laser Detectors</option>
                            <option <% if ( product.category == "caredetailing") { %> selected <% } else { %> <% } %>  value="caredetailing">Care & Detailing</option>
                            <option <% if ( product.category == "scooter") { %> selected <% } else { %> <% } %>  value="scooter">Scooter Parts & Accessories</option>
                            <option disabled>Toys & Hobbies</option>
                            <option <% if ( product.category == "radiocontrol") { %> selected <% } else { %> <% } %>  value="radiocontrol">Radio Control</option>
                            <option <% if ( product.category == "kidstoys") { %> selected <% } else { %> <% } %>  value="kidstoys">Kids Toys</option>
                            <option <% if ( product.category == "actionfigures") { %> selected <% } else { %> <% } %>  value="actionfigures">Action Figures</option>
                            <option <% if ( product.category == "dollsbears") { %> selected <% } else { %> <% } %>  value="dollsbears">Dolls & Bears</option>
                            <option disabled>Fashion</option>
                            <option <% if ( product.category == "women") { %> selected <% } else { %> <% } %>  value="women">Women</option>
                            <option <% if ( product.category == "men") { %> selected <% } else { %> <% } %>  value="men">Men</option>
                            <option <% if ( product.category == "jewerlywatches") { %> selected <% } else { %> <% } %>  value="jewerlywatches">Jewerly & Watches</option>
                            <option <% if ( product.category == "shoes") { %> selected <% } else { %> <% } %>  value="shoes">Shoes</option>
                            <option disabled>Musical instruments & gear</option>
                            <option <% if ( product.category == "guitar") { %> selected <% } else { %> <% } %>  value="guitar">Guitar</option>
                            <option <% if ( product.category == "proaudio") { %> selected <% } else { %> <% } %>  value="proaudio">Pro Audio Equipment</option>
                            <option <% if ( product.category == "string") { %> selected <% } else { %> <% } %>  value="string">String</option>
                            <option <% if ( product.category == "stagelightningeffects") { %> selected <% } else { %> <% } %>  value="stagelightningeffects">Stage Lightning & Effects</option>
                            <option disabled>Other categories</option>
                            <option <% if ( product.category == "videogamesconsoles") { %> selected <% } else { %> <% } %>  value="videogamesconsoles">Video Games & Consoles</option>
                            <option <% if ( product.category == "healthbeauty") { %> selected <% } else { %> <% } %>  value="healthbeauty">Health & Beauty</option>
                            <option <% if ( product.category == "baby") { %> selected <% } else { %> <% } %>  value="baby">Baby</option>
                            <option <% if ( product.category == "businessindustrial") { %> selected <% } else { %> <% } %>  value="businessindustrial">Business & Industrial</option>
                    </select>
                </div>

                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="image" accept="image/*">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                            </span>
                            <span class="file-name">
                                .jpeg .jpg .png
                            </span>
                    </label>
                </div>
            </div>
            
            <textarea name="description" class="textarea" value="<%= product.description %>"><%= product.description %></textarea>
            <!-- <input class="input smmargin" name="price" value="<%= product.price %>" type="number" placeholder="<%= product.price %>$" required /> -->
            <h4 style="margin-top: 1vh;">Accepted currencies</h4>
            <% 
                let currencies = [0, 0, 0, 0, 0];
                product.accepted.forEach(( key ) => {
                    if (key == 'BTC'){
                        currencies[0] = 1;
                    }
                    if (key == 'BCH'){
                        currencies[1] = 1;
                    }
                    if (key == 'ETH'){
                        currencies[2] = 1;
                    }
                    if (key == 'LTC'){
                        currencies[3] = 1;
                    }
                    if (key == 'DASH'){
                        currencies[4] = 1;
                    }
                });
            %>
            <label class="checkbox">
                <% if (currencies[0] == 1){ %>
                    <label class="img-check ">
                        <img src="../../dist/img/bitcoin.png" id="btc-check-img" alt="Bitcoin" class="new_cccy" id="btcimg">
                        <input id="btc-check" type="checkbox" name="accepted" class="curr_checkbox" value="BTC" checked>
                    </label>
                <% } else { %>
                    <label class="img-check ">
                        <img src="../../dist/img/bitcoin.png" id="btc-check-img" alt="Bitcoin" class="new_cccy gray" id="btcimg">
                        <input id="btc-check" type="checkbox" name="accepted" class="curr_checkbox" value="BTC">
                    </label>
                <% } %>
            </label>
            <label class="checkbox">
                <% if (currencies[1] == 1){ %>
                    <label class="img-check ">
                        <img src="../../dist/img/bitcoincash.png" id="bch-check-img"  alt="BitcoinCash" class="new_cccy" id="bchimg">
                        <input id="bch-check" type="checkbox" name="accepted"  class="curr_checkbox" value="BCH" checked>
                    </label>
                <% } else { %>
                    <label class="img-check ">
                        <img src="../../dist/img/bitcoincash.png" id="bch-check-img"  alt="BitcoinCash" class="new_cccy gray" id="bchimg">
                        <input id="bch-check" type="checkbox" name="accepted"  class="curr_checkbox" value="BCH">
                    </label>
                <% } %>
            </label>
            <label class="checkbox">
                <% if (currencies[2] == 1){ %>
                    <label class="img-check ">
                        <img src="../../dist/img/ethereum.png" id="eth-check-img"  alt="ethereum" class="new_cccy" id="ethimg">
                        <input id="eth-check" type="checkbox" name="accepted"  class="curr_checkbox" value="ETH" checked>
                    </label>
                <% } else { %>
                    <label class="img-check ">
                        <img src="../../dist/img/ethereum.png" id="eth-check-img"  alt="ethereum" class="new_cccy gray" id="ethimg">
                        <input id="eth-check" type="checkbox" name="accepted"  class="curr_checkbox" value="ETH">
                    </label>
                <% } %>
            </label>
            <label class="checkbox">
                <% if (currencies[3] == 1){ %>
                    <label class="img-check ">
                        <img src="../../dist/img/litecoin.png" id="ltc-check-img"  alt="Litecoin" class="new_cccy" id="ltcimg">
                        <input id="ltc-check" type="checkbox" name="accepted"  class="curr_checkbox" value="LTC" checked>
                    </label>
                <% } else { %>
                    <label class="img-check ">
                        <img src="../../dist/img/litecoin.png" id="ltc-check-img"  alt="Litecoin" class="new_cccy gray" id="ltcimg">
                        <input id="ltc-check" type="checkbox" name="accepted"  class="curr_checkbox" value="LTC">
                    </label>
                <% } %>
            </label>
            <label class="checkbox">
                <% if (currencies[4] == 1){ %>
                    <label class="img-check ">
                        <img src="../../dist/img/dash.png" id="dash-check-img"  alt="DASH" class="new_cccy" id="dashimg">
                        <input id="dash-check" type="checkbox" name="accepted"  class="curr_checkbox" value="DASH" checked>
                    </label>
                <% } else { %>
                    <label class="img-check ">
                        <img src="../../dist/img/dash.png" id="dash-check-img"  alt="DASH" class="new_cccy gray" id="dashimg">
                        <input id="dash-check" type="checkbox" name="accepted"  class="curr_checkbox" value="DASH">
                    </label>
                <% } %>
            </label>

            <% if (currencies[0] == 1) { %>
                <input class="input smmargin" id="btc-price" name="btc_price" placeholder="<%= product.price[0] %> BTC" type="number" step=any />
            <% } else { %>
                <input class="currency-input input smmargin" id="btc-price" name="btc_price" placeholder="Price (BTC)" type="number" step=any />
            <% } %>

            <% if (currencies[1] == 1) { %>
                <input class="input smmargin" id="bch-price"  name="bch_price" placeholder="<%= product.price[1] %> BCH" type="number" step=any />
            <% } else { %>
                <input class="currency-input input smmargin" id="bch-price"  name="bch_price" placeholder="Price (BCH)" type="number" step=any />
            <% } %>

            <% if (currencies[2] == 1) { %>
                <input class="input smmargin" id="eth-price"  name="eth_price" placeholder="<%= product.price[2] %> ETH" type="number" step=any />
            <% } else { %>
                <input class="currency-input input smmargin" id="eth-price"  name="eth_price" placeholder="Price (ETH)" type="number" step=any />
            <% } %>

            <% if (currencies[3] == 1) { %>
                <input class="input smmargin" id="ltc-price"  name="ltc_price" placeholder="<%= product.price[3] %> LTC" type="number" step=any />
            <% } else { %>
                <input class="currency-input input smmargin" id="ltc-price"  name="ltc_price" placeholder="Price (LTC)" type="number" step=any />
            <% } %>

            <% if (currencies[4] == 1) { %>
                <input class="input smmargin" id="dash-price"  name="dash_price" placeholder="<%= product.price[4] %> DASH" type="number" step=any />
            <% } else { %>
                <input class="currency-input input smmargin" id="dash-price"  name="dash_price" placeholder="Price (DASH)" type="number" step=any />
            <% } %>

            <hr />
            <div class="control smmargin">
                <button class="button is-primary">Update</button>
            </div>
            
            

        </form>
        <hr />
        <h4 style="margin-top: 1vh;">Feature your deal</h4>
        <h5>You have <%= user.feature_tokens %> DYC-Coins</h5>
        <table class="table is-hoverable is-bordered">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Duration</th>
                    <th>Cost</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Subcategory feature</td>
                    <td>The deal will be shown in the first 5 deals on a subcategory page.</td>
                    <td>14 days</td>
                    <td>5 DYC-Coins</td>
                    <td>
                        <form action="/dashboard/feature/subcateg/<%= product._id %>" method="POST">
                            <div class="control smmargin">
                                <button class="button is-primary">Feature</button>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Front-page feature</td>
                    <td>The deal will be shown on the front-page of the website.</td>
                    <td>7 days</td>
                    <td>15 DYC-Coins</td>
                    <td>
                        <form action="/dashboard/feature/front/<%= product._id %>" method="POST">
                            <div class="control smmargin">
                                <button class="button is-primary">Feature</button>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Slider feature</td>
                    <td>The deal will be shown on the front-page slider.</td>
                    <td>3 days</td>
                    <td>20 DYC-Coins</td>
                    <td>
                        <form action="/dashboard/feature/slider/<%= product._id %>" method="POST">
                            <div class="control smmargin">
                                <button class="button is-primary">Feature</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
            
    </div>