<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Deal Your Crypto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/dist/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/bulma.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/search.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script type="text/javascript" src="/dist/js/savvy.js"></script>
    <link rel="stylesheet" type="text/css" href="/dist/css/savvy.css" />
</head>
<body>
<div class="hero-head">

    <nav class="level navi navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="../../dist/img/rollo.png" width="100px" height="30px">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu level" id="navbarMenu">
            <div class="level-left">
                <div class="dropdown categ is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button dd-btn" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Categories</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content frame">
                            <div class="columns">
                                <div class="column" style="min-width: 200px;">
                                    <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown categDropdown main-categ">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="category" value="Collectibles and Art" hidden>
                                        <button class="searchBtn">Collectibles and Art</button>
                                    </form>
                                    <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ" id="collectibles-main">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="category" value="Electronics" hidden>
                                        <button class="searchBtn">Electronics</button>
                                    </form>
                                    <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="category" value="Fashion and Beauty" hidden>
                                        <button class="searchBtn">Fashion and Beauty</button>
                                    </form>
                                    <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="category" value="Home Improvement" hidden>
                                        <button class="searchBtn">Home Improvement</button>
                                    </form>
                                    <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="category" value="Leisure Time" hidden>
                                        <button class="searchBtn">Leisure Time</button>
                                    </form>
                                    <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="category" value="Mothers and Babies" hidden>
                                        <button class="searchBtn">Mothers and Babies</button>
                                    </form>
                                    <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="category" value="Pet Supplies" hidden>
                                        <button class="searchBtn">Pet Supplies</button>
                                    </form>
                                    <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="category" value="Real Estate" hidden>
                                        <button class="searchBtn">Real Estate</button>
                                    </form>
                                    <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="category" value="Sports and Outdoors" hidden>
                                        <button class="searchBtn">Sports and Outdoors</button>
                                    </form>
                                    <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="category" value="Vehicles" hidden>
                                        <button class="searchBtn">Vehicles</button>
                                    </form>
                                </div>
                                
                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Collectibles and Art" hidden>
                                        <input type="text" name="category" value="Collectibles" hidden>
                                        <button class="searchBtn">Collectibles</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Collectibles and Art" hidden>
                                        <input type="text" name="category" value="Antiques" hidden>
                                        <button class="searchBtn">Antiques</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Collectibles and Art" hidden>
                                        <input type="text" name="category" value="Art" hidden>
                                        <button class="searchBtn">Art</button>
                                    </form>           
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Electronics" hidden>
                                        <input type="text" name="category" value="Computers and Laptops" hidden>
                                        <button class="searchBtn">Computers and Laptops</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Electronics" hidden>
                                        <input type="text" name="category" value="Cameras" hidden>
                                        <button class="searchBtn">Cameras</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Electronics" hidden>
                                        <input type="text" name="category" value="TV and Audio" hidden>
                                        <button class="searchBtn">TV and Audio</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Electronics" hidden>
                                        <input type="text" name="category" value="Phones and Tablets" hidden>
                                        <button class="searchBtn">Phones and Tablets</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Electronics" hidden>
                                        <input type="text" name="category" value="Consoles and Games" hidden>
                                        <button class="searchBtn">Consoles and Games</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Electronics" hidden>
                                        <input type="text" name="category" value="Other Devices" hidden>
                                        <button class="searchBtn">Other Devices</button>
                                    </form>           
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                        <input type="text" name="category" value="Female Clothes" hidden>
                                        <button class="searchBtn">Female Clothes</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                        <input type="text" name="category" value="Female Shoes" hidden>
                                        <button class="searchBtn">Female Shoes</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                        <input type="text" name="category" value="Male Clothes" hidden>
                                        <button class="searchBtn">Male Clothes</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                        <input type="text" name="category" value="Male Shoes" hidden>
                                        <button class="searchBtn">Male Shoes</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                        <input type="text" name="category" value="Accessories" hidden>
                                        <button class="searchBtn">Accessories</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                        <input type="text" name="category" value="Jewellry" hidden>
                                        <button class="searchBtn">Jewellry</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                        <input type="text" name="category" value="Other Products" hidden>
                                        <button class="searchBtn">Other Products</button>
                                    </form>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Home Improvement" hidden>
                                            <input type="text" name="category" value="Furniture" hidden>
                                            <button class="searchBtn">Furniture</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Home Improvement" hidden>
                                            <input type="text" name="category" value="Decoration" hidden>
                                            <button class="searchBtn">Decoration</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Home Improvement" hidden>
                                            <input type="text" name="category" value="Garden" hidden>
                                            <button class="searchBtn">Garden</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Home Improvement" hidden>
                                            <input type="text" name="category" value="Hardware and Tools" hidden>
                                            <button class="searchBtn">Hardware and Tools</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Home Improvement" hidden>
                                            <input type="text" name="category" value="Other Home Products" hidden>
                                            <button class="searchBtn">Other Home Products</button>
                                        </form>
                                    </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Leisure Time" hidden>
                                        <input type="text" name="category" value="Books" hidden>
                                        <button class="searchBtn">Books</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Leisure Time" hidden>
                                        <input type="text" name="category" value="Movies and Television" hidden>
                                        <button class="searchBtn">Movies and Television</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Leisure Time" hidden>
                                        <input type="text" name="category" value="Music" hidden>
                                        <button class="searchBtn">Music</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Leisure Time" hidden>
                                        <input type="text" name="category" value="Other Leisure Products" hidden>
                                        <button class="searchBtn">Other Leisure Products</button>
                                    </form>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                        <input type="text" name="category" value="Clothes" hidden>
                                        <button class="searchBtn">Clothes</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                        <input type="text" name="category" value="Strollers" hidden>
                                        <button class="searchBtn">Strollers</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                        <input type="text" name="category" value="Baby Care" hidden>
                                        <button class="searchBtn">Baby Care</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                        <input type="text" name="category" value="Safety" hidden>
                                        <button class="searchBtn">Safety</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                        <input type="text" name="category" value="Toys" hidden>
                                        <button class="searchBtn">Toys</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                        <input type="text" name="category" value="Other Baby Products" hidden>
                                        <button class="searchBtn">Other Baby Products</button>
                                    </form>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Pet Supplies" hidden>
                                        <input type="text" name="category" value="Aquatic Pets" hidden>
                                        <button class="searchBtn">Aquatic Pets</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Pet Supplies" hidden>
                                        <input type="text" name="category" value="Birds" hidden>
                                        <button class="searchBtn">Birds</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Pet Supplies" hidden>
                                        <input type="text" name="category" value="Cats" hidden>
                                        <button class="searchBtn">Cats</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Pet Supplies" hidden>
                                        <input type="text" name="category" value="Dogs" hidden>
                                        <button class="searchBtn">Dogs</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Pet Supplies" hidden>
                                        <input type="text" name="category" value="Other Pets" hidden>
                                        <button class="searchBtn">Other Pets</button>
                                    </form>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Real Estate" hidden>
                                        <input type="text" name="category" value="Apartments" hidden>
                                        <button class="searchBtn">Apartments</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Real Estate" hidden>
                                        <input type="text" name="category" value="Houses" hidden>
                                        <button class="searchBtn">Houses</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Real Estate" hidden>
                                        <input type="text" name="category" value="Other Estates" hidden>
                                        <button class="searchBtn">Other Estates</button>
                                    </form>
                                </div>

                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Sports and Outdoors" hidden>
                                        <input type="text" name="category" value="Sports and Fitness" hidden>
                                        <button class="searchBtn">Sports and Fitness</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Sports and Outdoors" hidden>
                                        <input type="text" name="category" value="Outdoor" hidden>
                                        <button class="searchBtn">Outdoor</button>
                                    </form>
                                </div>
                                
                                <div class="column sec-categ" style=" display: none;" id="collectibles-sec">
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Vehicles" hidden>
                                        <input type="text" name="category" value="Automobiles" hidden>
                                        <button class="searchBtn">Automobiles</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Vehicles" hidden>
                                        <input type="text" name="category" value="Trucks and Trailers" hidden>
                                        <button class="searchBtn">Trucks and Trailers</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Vehicles" hidden>
                                        <input type="text" name="category" value="Motorcycles and ATVs" hidden>
                                        <button class="searchBtn">Motorcycles and ATVs</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Vehicles" hidden>
                                        <input type="text" name="category" value="Boats" hidden>
                                        <button class="searchBtn">Boats</button>
                                    </form>
                                    <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown">
                                        <input type="text" name="searchName" value="" hidden>
                                        <input type="text" name="searchCateg" value="Vehicles" hidden>
                                        <input type="text" name="category" value="Other Vehicles" hidden>
                                        <button class="searchBtn">Other Vehicles</button>
                                    </form>
                                </div>
                            </div>                                               
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-item input-group">
                <form action="/firstCategSearch" method="POST" style="display: flex; width: 80%;">
                    <input type="text" class="input" name="searchName" placeholder="Search for a product" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                    <div class="select categorySelect" style="border-radius: 0px; width: 20%;">
                        <select name="category" class="" id="" style="width: 100%; border-radius: 0px;">
                            <option value="all" checked>All categories</option>
                            <option value="Collectibles and Art">Collectibles and Art</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Fashion and Beauty">Fashion and Beauty</option>
                            <option value="Home Improvement">Home Improvement</option>
                            <option value="Leisure Time">Leisure Time</option>
                            <option value="Mothers and Babies">Mothers and Babies</option>
                            <option value="Pet Supplies">Pet Supplies</option>
                            <option value="Real Estate">Real Estate</option>
                            <option value="Sports and Outdoors">Sports and Outdoors</option>
                            <option value="Vehicles">Vehicles</option>
                        </select>
                    </div>
                    <button class="button is-primary" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="level-right navbar-end">
                <% if(!currentUser){ %>
                    <p class="level-item"><a href="/login" class="header-link">Login</a></p>
                    <p class="level-item"><a href="/register" class="header-link">Register</a></p>
                <% } else { %>
                    <div class=" level-item dropdown categ is-hoverable">
                        <div class="dropdown-trigger">
                            <button class="button balance-btn" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>Balance</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content frame" style="padding-top: 1vh !important; padding-bottom: 1vh !important;">
                               <!-- https://github.com/Coinomi/crypto-icons Creative Commons Attribution  -->
                                <div class="currency dropdown-item">
                                    <p class="curr_text" id="btc_curr"><% if (currentUser.btcbalance) {%> <%=  currentUser.btcbalance %> <%  } else { %>0.00000<% } %></p>
                                    <span class="curr_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="currency dropdown-item">
                                    <p class="curr_text" id="bch_curr"><% if (currentUser.bchbalance) { %> <%=  currentUser.bchbalance %> <% } else { %>0.00000<% } %></p>
                                    <span class="curr_img"><img src="../../dist/img/bitcoincash.png" alt="Bitcoin Cash"></span>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="currency dropdown-item">
                                    <p class="curr_text" id="eth_curr"><% if (currentUser.ethbalance) { %> <%=  currentUser.ethbalance %> <% } else { %>0.00000<% } %></p>
                                    <span class="curr_img"><img src="../../dist/img/ethereum.png" alt="Ethereum"></span>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="currency dropdown-item">
                                    <p class="curr_text" id="ltc_curr"><% if (currentUser.ltcbalance) { %> <%=  currentUser.ltcbalance %> <% } else { %>0.00000<% } %></p>
                                    <span class="curr_img"><img src="../../dist/img/litecoin.png" alt="Litecoin"></span>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="currency dropdown-item">
                                    <p class="curr_text" id="dash_curr"><% if (currentUser.dashbalance) { %> <%= currentUser.dashbalance %> <% } else { %>0.00000<% } %></p>
                                    <span class="curr_img"><img src="../../dist/img/dash.png" alt="DASH"></span>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="dropdown-item">
                                    <a class="link" style="font-weight: 600;" href="/dashboard/addresses" class="header-link">Top-up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="level-item"><a href="/dashboard" class="header-link">Dashboard</a></p>
                    <p class="level-item"><a href="/logout" class="header-link">Logout</a></p>
                <% } %>
                <p class="level-item"><a href="/contact" class="header-link">Contact</a></p>
            </div>
        </div>
    </nav>
</div>

<% if(error && error.length > 0) { %>
<div class="container is-fluid">
    <div class="notification is-danger" role="alert">
        <%= error %>
    </div>
</div>
<% } %>
<% if(success && success.length > 0) { %>
    <div class="container is-fluid">
        <div class="notification is-success" role="alert">
            <%= success %>
        </div>
    </div>
<% } %>
