<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142700214-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142700214-1');
    </script>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <title><%= pageTitle %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= pageDescription %>">
    <meta name="keywords" content="<%= pageKeywords %>">
    <link rel="shortcut icon" type="image/ico" href="/dist/img/favicon.ico"/>
    <!-- Css Links -->
    <link rel="stylesheet" type="text/css" media="screen" href="/dist/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/bulma.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/search.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/dist/css/bulma-checkradio.min.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/animate.css" />
    <!-- JavaScript links -->
    <script src="/dist/js/bulma-toast.min.js"></script>
    <!-- Hotjar Tracking Code for https://www.dealyourcrypto.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1400475,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '364317114279712');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=364317114279712&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body class="has-navbar-fixed-top">
<div class="hero-head">
    <nav class="level navi navbar is-fixed-top" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a id="Logo" class="navbar-item" href="/"></a>
                <% if (user) { %>
                    <p class="hidden" id="hiddenUsername"><%= user.username %></p>
                    <div class="dropdown is-hoverable navbar-dropdown">
                        <div class="dropdown-trigger">
                            <div class="button balance-btn" style="align-items: baseline; margin-left: 1vw;" aria-haspopup="true" aria-controls="dropdown-menu4">
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                                <span style="padding-right: 0.5vh;" ></span>
                                <a id="Avatar" href="/dashboard">
                                    <div class="image is-24x24">
                                        <img class="is-rounded" src="<%= user.avatar.url %>" alt="User avatar">
                                    </div>
                                </a>
                                <% if ((user.unreadNotifications > 0) || (user.processingDeals > 0)) { %>
                                    <span style="margin-left: 3px;">
                                        <i class="fas fa-exclamation-circle" style="color: red !important;"></i>
                                    </span>
                                <% } %>
                                </div>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <a href="/dashboard" class="dropdown-item link"><strong>Dashboard</strong></a>
                                </div>
                                <div class="dropdown-item">
                                    <a href="/dashboard/ongoing" class="dropdown-item link">
                                        <strong>
                                            Ongoing Deals
                                            <% if (user.processingDeals > 0) { %>
                                                <span>
                                                    <i class="fas fa-exclamation-circle" style="color: red !important;"></i>
                                                </span>
                                            <% } %>
                                        </strong>
                                    </a>
                                </div>
                                <div class="dropdown-item">
                                    <a href="/dashboard/notif" class="dropdown-item link">
                                        <strong>
                                            Notifications
                                            <% if (user.unreadNotifications > 0) { %>
                                                <span>
                                                    <i class="fas fa-exclamation-circle" style="color: red !important;"></i>
                                                </span>
                                            <% } %>
                                        </strong>
                                    </a>
                                </div>
                                <div class="dropdown-item">
                                    <a href="/messages" class="dropdown-item link">
                                        <strong>
                                            Messages
                                            <% if (user.unreadMessages > 0) { %>
                                                <span>
                                                    <i class="fas fa-exclamation-circle" style="color: red !important;"></i>
                                                </span>
                                            <% } %>
                                        </strong>
                                    </a>
                                </div>
                                <div class="dropdown-item">
                                    <a href="/dashboard/addresses" class="dropdown-item link"><strong>Balance</strong></a>
                                </div>
                                <div class="dropdown-item">
                                    <a href="/dashboard/tokens" class="dropdown-item link"><strong>Tokens</strong></a>
                                </div>
                                <div class="dropdown-item">
                                    <a href="/dashboard/premium" class="dropdown-item link"><strong>Premium</strong></a>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="dropdown-item">
                                    <a href="/logout" class="dropdown-item link"><strong>Log out</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                    <span aria-hidden="true" style="color: white"></span>
                    <span aria-hidden="true" style="color: white"></span>
                    <span aria-hidden="true" style="color: white"></span>
                </a>
            </div>

            <div class="navbar-menu" id="navbarMenu">
                <div class="navbar-start">
                    <div class="dropdown categ is-hoverable navbar-item hideOnBurger">
                        <div class="dropdown-trigger">
                            <button class="button dd-btn" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Categories</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content frame">
                                <div class="columns">
                                    <div class="column" style="min-width: 200px;">
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Collectibles and Art" hidden>
                                            <button class="searchBtn">Collectibles and Art</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ" >
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Electronics" hidden>
                                            <button class="searchBtn">Electronics</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Fashion and Beauty" hidden>
                                            <button class="searchBtn">Fashion and Beauty</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Home Improvement" hidden>
                                            <button class="searchBtn">Home Improvement</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Leisure Time" hidden>
                                            <button class="searchBtn">Leisure Time</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Mothers and Babies" hidden>
                                            <button class="searchBtn">Mothers and Babies</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Pet Supplies" hidden>
                                            <button class="searchBtn">Pet Supplies</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Real Estate" hidden>
                                            <button class="searchBtn">Real Estate</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Services" hidden>
                                            <button class="searchBtn">Services</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Sports and Outdoors" hidden>
                                            <button class="searchBtn">Sports and Outdoors</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Vehicles" hidden>
                                            <button class="searchBtn">Vehicles</button>
                                        </form>
                                        <form action="/firstCategSearch" method="POST" class="dropdown-item categDropdown categDropdown main-categ">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="category" value="Other" hidden>
                                            <button class="searchBtn">Other</button>
                                        </form>
                                        <div style="height: 1rem;">
                                            <a href="/categories" class="categBtn link">See All Categories</a>
                                        </div>
                                    </div>
                                    
                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Collectibles and Art" hidden>
                                            <input type="text" name="category" value="Collectibles" hidden>
                                            <button class="searchBtn secCategSearchBtn">Collectibles</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Collectibles and Art" hidden>
                                            <input type="text" name="category" value="Antiques" hidden>
                                            <button class="searchBtn secCategSearchBtn">Antiques</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Collectibles and Art" hidden>
                                            <input type="text" name="category" value="Art" hidden>
                                            <button class="searchBtn secCategSearchBtn">Art</button>
                                        </form>           
                                    </div>

                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Electronics" hidden>
                                            <input type="text" name="category" value="Computers and Laptops" hidden>
                                            <button class="searchBtn secCategSearchBtn">Computers and Laptops</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Electronics" hidden>
                                            <input type="text" name="category" value="Cameras" hidden>
                                            <button class="searchBtn secCategSearchBtn">Cameras</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Electronics" hidden>
                                            <input type="text" name="category" value="TV and Audio" hidden>
                                            <button class="searchBtn secCategSearchBtn">TV and Audio</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Electronics" hidden>
                                            <input type="text" name="category" value="Phones and Tablets" hidden>
                                            <button class="searchBtn secCategSearchBtn">Phones and Tablets</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Electronics" hidden>
                                            <input type="text" name="category" value="Consoles and Games" hidden>
                                            <button class="searchBtn secCategSearchBtn">Consoles and Games</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Electronics" hidden>
                                            <input type="text" name="category" value="Other Devices" hidden>
                                            <button class="searchBtn secCategSearchBtn">Other Devices</button>
                                        </form>           
                                    </div>

                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                            <input type="text" name="category" value="Female Clothes" hidden>
                                            <button class="searchBtn secCategSearchBtn">Female Clothes</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                            <input type="text" name="category" value="Female Shoes" hidden>
                                            <button class="searchBtn secCategSearchBtn">Female Shoes</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                            <input type="text" name="category" value="Male Clothes" hidden>
                                            <button class="searchBtn secCategSearchBtn">Male Clothes</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                            <input type="text" name="category" value="Male Shoes" hidden>
                                            <button class="searchBtn secCategSearchBtn">Male Shoes</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                            <input type="text" name="category" value="Accessories" hidden>
                                            <button class="searchBtn secCategSearchBtn">Accessories</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                            <input type="text" name="category" value="Jewellry" hidden>
                                            <button class="searchBtn secCategSearchBtn">Jewellry</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Fashion and Beauty" hidden>
                                            <input type="text" name="category" value="Other Products" hidden>
                                            <button class="searchBtn secCategSearchBtn">Other Products</button>
                                        </form>
                                    </div>

                                    <div class="column sec-categ" style=" display: none;" >
                                            <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                                <input type="text" name="searchName" value="" hidden>
                                                <input type="text" name="searchCateg" value="Home Improvement" hidden>
                                                <input type="text" name="category" value="Furniture" hidden>
                                                <button class="searchBtn secCategSearchBtn">Furniture</button>
                                            </form>
                                            <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                                <input type="text" name="searchName" value="" hidden>
                                                <input type="text" name="searchCateg" value="Home Improvement" hidden>
                                                <input type="text" name="category" value="Decoration" hidden>
                                                <button class="searchBtn secCategSearchBtn">Decoration</button>
                                            </form>
                                            <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                                <input type="text" name="searchName" value="" hidden>
                                                <input type="text" name="searchCateg" value="Home Improvement" hidden>
                                                <input type="text" name="category" value="Garden" hidden>
                                                <button class="searchBtn secCategSearchBtn">Garden</button>
                                            </form>
                                            <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                                <input type="text" name="searchName" value="" hidden>
                                                <input type="text" name="searchCateg" value="Home Improvement" hidden>
                                                <input type="text" name="category" value="Hardware and Tools" hidden>
                                                <button class="searchBtn secCategSearchBtn">Hardware and Tools</button>
                                            </form>
                                            <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                                <input type="text" name="searchName" value="" hidden>
                                                <input type="text" name="searchCateg" value="Home Improvement" hidden>
                                                <input type="text" name="category" value="Other Home Products" hidden>
                                                <button class="searchBtn secCategSearchBtn">Other Home Products</button>
                                            </form>
                                        </div>

                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Leisure Time" hidden>
                                            <input type="text" name="category" value="Books" hidden>
                                            <button class="searchBtn secCategSearchBtn">Books</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Leisure Time" hidden>
                                            <input type="text" name="category" value="Movies and Television" hidden>
                                            <button class="searchBtn secCategSearchBtn">Movies and Television</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Leisure Time" hidden>
                                            <input type="text" name="category" value="Music" hidden>
                                            <button class="searchBtn secCategSearchBtn">Music</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Leisure Time" hidden>
                                            <input type="text" name="category" value="Other Leisure Products" hidden>
                                            <button class="searchBtn secCategSearchBtn">Other Leisure Products</button>
                                        </form>
                                    </div>

                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                            <input type="text" name="category" value="Clothes" hidden>
                                            <button class="searchBtn secCategSearchBtn">Clothes</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                            <input type="text" name="category" value="Strollers" hidden>
                                            <button class="searchBtn secCategSearchBtn">Strollers</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                            <input type="text" name="category" value="Baby Care" hidden>
                                            <button class="searchBtn secCategSearchBtn">Baby Care</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                            <input type="text" name="category" value="Safety" hidden>
                                            <button class="searchBtn secCategSearchBtn">Safety</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                            <input type="text" name="category" value="Toys" hidden>
                                            <button class="searchBtn secCategSearchBtn">Toys</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Mothers and Babies" hidden>
                                            <input type="text" name="category" value="Other Baby Products" hidden>
                                            <button class="searchBtn secCategSearchBtn">Other Baby Products</button>
                                        </form>
                                    </div>

                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Pet Supplies" hidden>
                                            <input type="text" name="category" value="Aquatic Pets" hidden>
                                            <button class="searchBtn secCategSearchBtn">Aquatic Pets</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Pet Supplies" hidden>
                                            <input type="text" name="category" value="Birds" hidden>
                                            <button class="searchBtn secCategSearchBtn">Birds</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Pet Supplies" hidden>
                                            <input type="text" name="category" value="Cats" hidden>
                                            <button class="searchBtn secCategSearchBtn">Cats</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Pet Supplies" hidden>
                                            <input type="text" name="category" value="Dogs" hidden>
                                            <button class="searchBtn secCategSearchBtn">Dogs</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Pet Supplies" hidden>
                                            <input type="text" name="category" value="Other Pets" hidden>
                                            <button class="searchBtn secCategSearchBtn">Other Pets</button>
                                        </form>
                                    </div>

                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Real Estate" hidden>
                                            <input type="text" name="category" value="Apartments" hidden>
                                            <button class="searchBtn secCategSearchBtn">Apartments</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Real Estate" hidden>
                                            <input type="text" name="category" value="Houses" hidden>
                                            <button class="searchBtn secCategSearchBtn">Houses</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Real Estate" hidden>
                                            <input type="text" name="category" value="Other Estates" hidden>
                                            <button class="searchBtn secCategSearchBtn">Other Estates</button>
                                        </form>
                                    </div>

                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Services" hidden>
                                            <input type="text" name="category" value="Design" hidden>
                                            <button class="searchBtn secCategSearchBtn">Design</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Services" hidden>
                                            <input type="text" name="category" value="Education" hidden>
                                            <button class="searchBtn secCategSearchBtn">Education</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Services" hidden>
                                            <input type="text" name="category" value="Entertainment" hidden>
                                            <button class="searchBtn secCategSearchBtn">Entertainment</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Services" hidden>
                                            <input type="text" name="category" value="Financial" hidden>
                                            <button class="searchBtn secCategSearchBtn">Financial</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Services" hidden>
                                            <input type="text" name="category" value="IT" hidden>
                                            <button class="searchBtn secCategSearchBtn">IT</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Services" hidden>
                                            <input type="text" name="category" value="Sports" hidden>
                                            <button class="searchBtn secCategSearchBtn">Sports</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Services" hidden>
                                            <input type="text" name="category" value="Other Services" hidden>
                                            <button class="searchBtn secCategSearchBtn">Other Services</button>
                                        </form>
                                    </div>

                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Sports and Outdoors" hidden>
                                            <input type="text" name="category" value="Sports and Fitness" hidden>
                                            <button class="searchBtn secCategSearchBtn">Sports and Fitness</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Sports and Outdoors" hidden>
                                            <input type="text" name="category" value="Outdoor" hidden>
                                            <button class="searchBtn secCategSearchBtn">Outdoor</button>
                                        </form>
                                    </div>
                                    
                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Vehicles" hidden>
                                            <input type="text" name="category" value="Automobiles" hidden>
                                            <button class="searchBtn secCategSearchBtn">Automobiles</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Vehicles" hidden>
                                            <input type="text" name="category" value="Trucks and Trailers" hidden>
                                            <button class="searchBtn secCategSearchBtn">Trucks and Trailers</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Vehicles" hidden>
                                            <input type="text" name="category" value="Motorcycles and ATVs" hidden>
                                            <button class="searchBtn secCategSearchBtn">Motorcycles and ATVs</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Vehicles" hidden>
                                            <input type="text" name="category" value="Boats" hidden>
                                            <button class="searchBtn secCategSearchBtn">Boats</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Vehicles" hidden>
                                            <input type="text" name="category" value="Other Vehicles" hidden>
                                            <button class="searchBtn secCategSearchBtn">Other Vehicles</button>
                                        </form>
                                    </div>

                                    <div class="column sec-categ" style=" display: none;" >
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Other" hidden>
                                            <input type="text" name="category" value="Digital Goods" hidden>
                                            <button class="searchBtn secCategSearchBtn">Digital Goods</button>
                                        </form>
                                        <form action="/secondCategSearch" method="POST" class="dropdown-item categDropdown secCategDropdown">
                                            <input type="text" name="searchName" value="" hidden>
                                            <input type="text" name="searchCateg" value="Other" hidden>
                                            <input type="text" name="category" value="Other" hidden>
                                            <button class="searchBtn secCategSearchBtn">Other</button>
                                        </form>
                                    </div>
                                </div>                                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-item navbar-center input-group">
                    <form action="/firstCategSearch" method="GET" class="flexWide">
                        <input type="text" id="searchName" class="input searchbarInput" name="searchName" placeholder="Search">
                        <div class="select categorySelect" style="border-radius: 0px;">
                            <select name="category" id="category" class="searchCategory">
                                <option value="all" selected>All categories</option>
                                <option value="Collectibles and Art">Collectibles and Art</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Fashion and Beauty">Fashion and Beauty</option>
                                <option value="Home Improvement">Home Improvement</option>
                                <option value="Leisure Time">Leisure Time</option>
                                <option value="Mothers and Babies">Mothers and Babies</option>
                                <option value="Pet Supplies">Pet Supplies</option>
                                <option value="Real Estate">Real Estate</option>
                                <option value="Sports and Outdoors">Sports and Outdoors</option>
                                <option value="Vehicles">Vehicles</option>
                            </select>
                        </div>
                        <button class="button is-primary searchButton"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="navbar-end">
                    <% if(!user){ %>
                        <div class="navbar-item">
                            <a href="/login" class="white-text buttonShadow">Login</a>
                        </div>
                        <div class="navbar-item">
                            <a href="/register" class="white-text buttonShadow">Register</a>
                        </div>
                        <div class="navbar-item">
                            <a href="/contact" class="white-text buttonShadow">Contact</a>
                        </div>
                    <% } else { %>
                        <div class="navbar-item">
                            <div class="dropdown categ is-hoverable hideOnBurger">
                                <div class="dropdown-trigger">
                                    <button class="button balance-btn" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Balance</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content frame">
                                        <div class="currency dropdown-item">
                                            <p class="curr_text"><% if (user.btcbalance) {%> <%=  user.btcbalance.toFixed(8) %> <%  } else { %>0.00000<% } %></p>
                                            <span class="curr_img"><i class="fab fa-bitcoin fa-lg currencyIcon" style="color: orange;"></i></span>
                                        </div>
                                        <hr class="dropdown-divider">
                                        <div class="dropdown-item">
                                            <a class="link" style="font-weight: 600;" href="/dashboard/addresses">Deposit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-item showOnBurger">
                            <a href="/categories" class="white-text buttonShadow showOnBurger">Browse Categories</a>
                        </div>
                        <div class="navbar-item">
                            <a href="/contact" class="white-text buttonShadow">Contact</a>
                        </div>
                        <div class="navbar-item">
                            <a href="/dashboard/new" class="white-text buttonShadow">New Deal</a>
                        </div>
                        <div class="navbar-item">
                            <div class="dropdown is-right is-hoverable hideOnBurger">
                                <div class="dropdown-trigger">
                                    <div class="button balance-btn" style="align-items: baseline;" aria-haspopup="true" aria-controls="dropdown-menu4">
                                        <span class="icon is-small" style="margin-bottom: auto;">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                        <span style="padding-right: 0.5vh; margin-bottom: auto;" class="username"></span>
                                        
                                        <a href="/dashboard">
                                            <div class="image is-32x32">
                                                <img class="is-rounded" src="<%= user.avatar.url %>" alt="User Avatar">
                                            </div>
                                        </a>
                                        <% if ((user.unreadNotifications > 0) || (user.processingDeals > 0)) { %>
                                            <span style="margin-left: 3px;">
                                                <i class="fas fa-exclamation-circle" style="color: red !important;"></i>
                                            </span>
                                        <% } %>
                                        </div>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                    <div class="dropdown-content">
                                        <div class="dropdown-item">
                                            <a href="/dashboard" class="dropdown-item link"><strong>Dashboard</strong></a>
                                        </div>
                                        <div class="dropdown-item">
                                            <a href="/cart" class="dropdown-item link"><div style="display: flex; justify-content: space-between;"><strong>Cart</strong><%= cart.length %></div></a>
                                        </div>
                                        <div class="dropdown-item">
                                            <a href="/dashboard/ongoing" class="dropdown-item link">
                                                <strong>
                                                    Ongoing Deals
                                                    <% if (user.processingDeals > 0) { %>
                                                        <span>
                                                            <i class="fas fa-exclamation-circle" style="color: red !important;"></i>
                                                        </span>
                                                    <% } %>
                                                </strong>
                                            </a>
                                        </div>
                                        <div class="dropdown-item">
                                            <a href="/dashboard/notif" class="dropdown-item link">
                                                <strong>
                                                    Notifications
                                                    <% if (user.unreadNotifications > 0) { %>
                                                        <span>
                                                            <i class="fas fa-exclamation-circle" style="color: red !important;"></i>
                                                        </span>
                                                    <% } %>
                                                </strong>
                                            </a>
                                        </div>
                                        <div class="dropdown-item">
                                            <a href="/messages" class="dropdown-item link">
                                                <strong>
                                                    Messages
                                                    <% if (user.unreadMessages > 0) { %>
                                                        <span>
                                                            <i class="fas fa-exclamation-circle" style="color: red !important;"></i>
                                                        </span>
                                                    <% } %>
                                                </strong>
                                            </a>
                                        </div>
                                        <div class="dropdown-item">
                                            <a href="/dashboard/tokens" class="dropdown-item link"><strong>Tokens</strong></a>
                                        </div>
                                        <div class="dropdown-item">
                                            <a href="/dashboard/premium" class="dropdown-item link"><strong>Premium</strong></a>
                                        </div>
                                        <hr class="dropdown-divider">
                                        <div class="dropdown-item">
                                            <a href="/logout" class="dropdown-item link"><strong>Log out</strong></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
</div>

<% if(error && error.length > 0) { %>
    <script>
    bulmaToast.toast({ 
        message: "<%= error %>",
        type: "is-danger",
        duration: "5000",
        position: "bottom-left",
        dismissible: "true",
        pauseOnHover: "true",
        animate: { in: "fadeInUp", out: "fadeOutDown" }
    });
    </script>
<% } %>
<% if(success && success.length > 0) { %>
    <script>
        bulmaToast.toast({ 
            message: "<%= success %>",
            type: "is-success",
            duration: "5000",
            position: "bottom-left",
            dismissible: "true",
            pauseOnHover: "true",
            animate: { in: "fadeInUp", out: "fadeOutDown" }
        });
    </script>
<% } %>

<script>
document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    $notification = $delete.parentNode;
    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
</script>

