<div style="margin-left: 1vw;">
    <% if(products.page - 1) { %>
        <a class="button page" href="/dashboard/purchases?page=<%= products.page - 1 %>">Prev</a>
    <% } %>
    <% for(let i = 1; i <= products.pages; i++) { %>
        <a class="button page %>" href="/dashboard/purchases?page=<%= i %>"
                <%= i === products.page ? 'style=color:#000;' : '' %>
            ><%= i %></a>
    <% } %>
    <% if((products.page + 1) <= products.pages) { %>
        <a class="button page" href="/dashboard/purchases?page=<%= products.page + 1 %>">Next</a>
    <% } %>
</div>