<div style="margin-left: 1vw; display: flex;">
    <% if (from - 10 >= 0) { %>
        <form action="/secondCategSearch" method="GET">
            <input type="number" name="from" value="<%= Number(from) - 10 %>" hidden>
            <input type="text" name="searchName" value="<%= searchName %>" hidden>
            <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
            <input type="text" name="category" value="<%= secondSearchCateg %>" hidden>
            <input type="text" name="continent" value="<%= continent %>" hidden>
            <input type="text" name="condition" value="<%= condition %>" hidden>
            <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
            <input type="text" name="currency" value="<%= currency %>" hidden>
            <button class="button page">Prev</button>
        </form>
    <% } 

        let page;
        let page2; 
        let currentPage;
        if (from % 10 == 0) {
            currentPage = from/10 + 1;
            page = currentPage;
            page2 = currentPage - 1;
        } else {
            currentPage = Math.floor(from/10) + 1;
            page = currentPage;
            page2 = currentPage - 1;
        } %>

        <form action="/secondCategSearch" method="GET">
            <input type="number" name="from" value="0" hidden>
            <input type="text" name="searchName" value="<%= searchName %>" hidden>
            <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
            <input type="text" name="category" value="<%= secondSearchCateg %>" hidden>
            <input type="text" name="continent" value="<%= continent %>" hidden>
            <input type="text" name="condition" value="<%= condition %>" hidden>
            <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
            <input type="text" name="currency" value="<%= currency %>" hidden>
            <button class="button page paginationBtn <% if (currentPage == 1) { %>active<% } %>">1</button>
        </form>
        
        <%
        let pastPage;
        switch (page2) {
            case 0:
                break;
            case 1:
                break;
            case 2: %>
                <form action="/secondCategSearch" method="GET">
                    <input type="number" name="from" value="10" hidden>
                    <input type="text" name="searchName" value="<%= searchName %>" hidden>
                    <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
                    <input type="text" name="category" value="<%= secondSearchCateg %>" hidden>
                    <input type="text" name="continent" value="<%= continent %>" hidden>
                    <input type="text" name="condition" value="<%= condition %>" hidden>
                    <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                    <input type="text" name="currency" value="<%= currency %>" hidden>
                    <button class="button paginationBtn page">2</button>
                </form> 
                <% break;
            case 3: %>
                <form action="/secondCategSearch" method="GET">
                    <input type="number" name="from" value="10" hidden>
                    <input type="text" name="searchName" value="<%= searchName %>" hidden>
                    <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
                    <input type="text" name="category" value="<%= secondSearchCateg %>" hidden>
                    <input type="text" name="continent" value="<%= continent %>" hidden>
                    <input type="text" name="condition" value="<%= condition %>" hidden>
                    <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                    <input type="text" name="currency" value="<%= currency %>" hidden>
                    <button class="button paginationBtn page">2</button>
                </form> 
                <form action="/secondCategSearch" method="GET">
                    <input type="number" name="from" value="20" hidden>
                    <input type="text" name="searchName" value="<%= searchName %>" hidden>
                    <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
                    <input type="text" name="category" value="<%= secondSearchCateg %>" hidden>
                    <input type="text" name="continent" value="<%= continent %>" hidden>
                    <input type="text" name="condition" value="<%= condition %>" hidden>
                    <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                    <input type="text" name="currency" value="<%= currency %>" hidden>
                    <button class="button paginationBtn page">3</button>
                </form> 
                <% break;
            default:
                if (currentPage > 5) { %>
                    <button class="button page">...</button>
                <% }
                for (let i = currentPage - 3; i < currentPage; i += 1) { %>
                    <form action="/secondCategSearch" method="GET">
                        <input type="number" name="from" value="<%= i*10 - 10 %>" hidden>
                        <input type="text" name="searchName" value="<%= searchName %>" hidden>
                        <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
                        <input type="text" name="category" value="<%= secondSearchCateg %>" hidden>
                        <input type="text" name="continent" value="<%= continent %>" hidden>
                        <input type="text" name="condition" value="<%= condition %>" hidden>
                        <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                        <input type="text" name="currency" value="<%= currency %>" hidden>
                        <button class="button paginationBtn page"><%= i %></button>
                    </form> 
                <% }
                break;
        }

        let copyFrom = Number(from) + 10;
        let nr = 0;
        let totalPages = 0;
        if (total % 10 == 0) {
            totalPages = total/10;
        } else {
            totalPages = Math.floor(total/10) + 1;
        }
          
        if ((currentPage != 1) && (currentPage != totalPages)) { %>
            <div>
                <a href="#" class="button paginationBtn page active"><%= currentPage %></a>
            </div> 
    <% } 
    
        while ((page + 1 < totalPages) && (nr < 3)) { %>
            <form action="/secondCategSearch" method="GET">
                <input type="number" name="from" value="<%= copyFrom %>" hidden>
                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
                <input type="text" name="category" value="<%= secondSearchCateg %>" hidden>
                <input type="text" name="continent" value="<%= continent %>" hidden>
                <input type="text" name="condition" value="<%= condition %>" hidden>
                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                <input type="text" name="currency" value="<%= currency %>" hidden>
                <button class="button paginationBtn page"><%= page + 1 %></button>
            </form> 
            <% 
                copyFrom += 10;
                page += 1;
                nr += 1;
        } 
        if (page + 1 < totalPages) { %>
            <button class="button page">...</button>
        <% }
    %>
    <% if (total > 10) { %>
        <form action="/secondCategSearch" method="GET">
            <input type="number" name="from" value="<%= totalPages * 10 - 10 %>" hidden>
            <input type="text" name="searchName" value="<%= searchName %>" hidden>
            <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
            <input type="text" name="category" value="<%= secondSearchCateg %>" hidden>
            <input type="text" name="continent" value="<%= continent %>" hidden>
            <input type="text" name="condition" value="<%= condition %>" hidden>
            <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
            <input type="text" name="currency" value="<%= currency %>" hidden>
            <button class="button paginationBtn page <% if (currentPage == totalPages) { %>active<% } %> "><%= totalPages %></button>
        </form>
    <% } %>
    <% if (currentPage < totalPages) { %>
        <form action="/secondCategSearch" method="GET">
            <input type="number" name="from" value="<%= Number(from) + 10 %>" hidden>
            <input type="text" name="searchName" value="<%= searchName %>" hidden>
            <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
            <input type="text" name="category" value="<%= secondSearchCateg %>" hidden>
            <input type="text" name="continent" value="<%= continent %>" hidden>
            <input type="text" name="condition" value="<%= condition %>" hidden>
            <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
            <input type="text" name="currency" value="<%= currency %>" hidden>
            <button class="button paginationBtn page">Next</button>
        </form>
    <% } %>
</div>