<html style="overflow: hidden;">
    <head>
        <link rel="stylesheet" href="../../dist/css/index.css">  
        <link rel="stylesheet" href="../../dist/css/starability-basic.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="../../dist/css/main.css" />
        <link rel="stylesheet" type="text/css" href="../../dist/css/bulma.css" />
        <link rel="stylesheet" type="text/css" href="../../dist/css/index.css" />
        <link rel="stylesheet" type="text/css" href="../../dist/css/search.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body class="smallerCenter" style="background-color: white !important; margin-top: 1%; margin-bottom: 1%; font-family: 'Titillium Web', sans-serif !important;">
        <% if (reviews.total > 0) { %>
            <p class="subtitle" style="text-align: center;">Reviews</p>
            <br>
            <% if (reviews.total >= 5) { %>
                <div class="pagination" style="    margin-top: -1vh;
                margin-bottom: 1vh;
                justify-content: space-evenly;
                align-items: baseline;
            ">
                    <% include paginateReviews %>
                </div>
            <% } %>
            <!-- display all reviews -->
            <% reviews.docs.forEach(function(review, index) { %>
                <div class="columns container is-fluid frame" style="display: flex;
                    margin-bottom: 1vh;
                    padding: 2%; background-color: white;">
                    <div>
                        <a href="/profile/<%= review.author %>" target="_top" style="margin-left: 1vw; margin-right: 1vw;"><img src="<%= review.avatarUrl %>" style="width: 75px; height: 75px;"></a>
                        <a href="/profile/<%= review.author %>" target="_top" class="link"><p class="productDescriptionText" style="text-align:center !important;" ><%= review.name %></a>
                        <% if (review.createdAt) { %>
                        <p class="productDescriptionText" style="text-align:center !important;" >
                            <% switch(review.createdAt.getMonth()) {
                                case (0) : { %>
                                Jan
                                <% break; }%>
                                <% case (1) :{ %>
                                Feb
                                <% break; } %>
                                <% case (2) :{ %>
                                Mar
                                <% break; } %>
                                <% case (3) :{ %>
                                Apr
                                <% break; } %>
                                <% case (4) :{ %>
                                May
                                <% break; } %>
                                <% case (5) :{ %>
                                Jun
                                <% break; } %>
                                <% case (6) :{ %>
                                Jul
                                <% break; } %>
                                <% case (7) :{ %>
                                Aug
                                <% break; } %>
                                <% case (8) :{ %>
                                Sep 
                                <% break; } %>
                                <% case (9) :{ %>
                                Oct
                                <% break; } %>
                                <% case (10) :{ %>
                                Nov
                                <% break; } %>
                                <% case (11) :{ %>
                                Dec
                                <% break; } %>
                                <% default: { break; }%>
                            <% } %>
                            <%= (( review.createdAt.getDate()) < 10) ? '0' + ( review.createdAt.getDate()) : ( review.createdAt.getDate()) %>
                            <%= 1900 + Number((( review.createdAt.getYear()) < 10) ? '0' + ( review.createdAt.getYear()) : ( review.createdAt.getYear())) %></p>
                        <% } %>
                    </div>
                    <div style="padding-left: 2vw; max-width: 80%;">
                        <div style="float: left;"><%  
                            let i = 0;
                            for(i; i < review.rating; i++) { %>
                            <!-- display a full star -->
                            <i class="fas fa-star" style="color: orange;"></i>
                        <% } %>
                        <% for(i; i < 5; i++) { %>
                                <!-- display an empty star -->
                                <i class="far fa-star" style="color: orange;"></i>
                        <% } %>
                        </div>
                        <br>
                        <p class="productDescriptionText" style="margin-top: 1vh;" ><%= review.body %></p>
                        <sub>Review for: <a href="/products/<%= review.product._id %>/view" target="_top" class="link"><%= review.product.name %></a></sub>
                    </div>
                    <% if(user){ %>
                        <% if(review.author.equals(user._id)) { %>
                        <div class="column is-one-fifth" style="position: absolute; right: -1%; top: 3%;">
                            <button class="button is-primary edit">Edit</button>
                            <div class="modal modalEdit">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Edit Review</p>
                                        <button class="delete deleteEdit" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-foot" style="display: block;">
                                        <form action="/reviews/<%= user.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
                                            <textarea class="textarea" name="review[body]" required><%= review.body %></textarea>
                                            <fieldset class="starability-basic" style="margin-top: 1vh;
                                                margin-bottom: 1vh;
                                                margin-left: auto;
                                                margin-right: auto;">
                                                <legend>Rating:</legend>
                                                <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                                                <input type="radio" id="edit-rate1" name="review[rating]" value="1" <% if (review.rating == 1) { %> checked <% } %> />
                                                <label for="edit-rate1" title="Terrible">1 star</label>
                                                <input type="radio" id="edit-rate2" name="review[rating]" value="2" <% if (review.rating == 2) { %> checked <% } %> />
                                                <label for="edit-rate2" title="Not good">2 stars</label>
                                                <input type="radio" id="edit-rate3" name="review[rating]" value="3" <% if (review.rating == 3) { %> checked <% } %> />
                                                <label for="edit-rate3" title="Average">3 stars</label>
                                                <input type="radio" id="edit-rate4" name="review[rating]" value="4" <% if (review.rating == 4) { %> checked <% } %> />
                                                <label for="edit-rate4" title="Very good">4 stars</label>
                                                <input type="radio" id="edit-rate5" name="review[rating]" value="5" <% if (review.rating == 5) { %> checked <% } %> />
                                                <label for="edit-rate5" title="Amazing">5 stars</label>
                                            </fieldset>
                                            <input class="button is-primary" type="submit" value="Update">
                                        </form>
                                    </section>
                                </div>
                            </div>    
                            <button class="button is-danger del">Delete</button>
                            <div class="modal modalDelete">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Are you sure?</p>
                                        <button class="delete deleteDelete" aria-label="close"></button>
                                    </header>
                                    <section class=" modal-card-foot" style="display: block;">
                                        <p class="title is-5">This action is irrevocable and will remove the review permanently.</p>
                                        <form action="/reviews/<%= review.product._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                            <input class="button is-danger noborder" type="submit" value="Delete">
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% } %>
                </div>                
            <% }); %>     
        <% } %>
    </body>
    <script src='../../dist/js/dashboard_products.js'></script> 
    <script src='../../dist/js/reviews.js'></script>
</html>