<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<div class="columns">
    <% include ../partials/sidebar %>
    <div class="column dashboard-right adrcol">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <div class="adr">
                    <div class="currency"> 
                        <img src="../../dist/img/bitcoin.png" class="adr_img" alt="Bitcoin">
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="address">
                                <label class="label adrlabel">Current<br/>  Address</label>
                                <input class="input smmargin adradr" name="user[btcadr]" value="<%= user.btcadr %>" disabled />
                            </div>
                            <form action="/dashboard/addresses" method="POST">
                                <div class="address">
                                    <label class="label adrlabel">New <br/> Address</label>
                                    <input class="input smmargin adradr" name="btcadr" placeholder="Bitcoin Address" type="text" required />
                                </div>
                                <button class="button is-primary">Change Address</button>
                            </form>
                            <div class="address">
                                <label class="label adrlabel" style="margin-top: 1.2em;">Value</label>
                                <input class="input smmargin adradr" name="btc_value" placeholder="<% if (user.currency[0]) { %><%= user.currency[0] %> BTC<% } else { %>0.000000000 BTC <% } %>" type="number" step="any" disabled />
                            </div>
                            <button class="button is-primary topup" style="margin-top:1vh;">Top-up</button>
                            <button class="button is-primary withdraw" style="margin-top:1vh;">Withdraw</button>
                            <div class="modal modalTopup">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Add Bitcoin</p>
                                        <button class="delete deleteTopup" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <p class="title is-5 modal-section-title">Instructions</p>
                                        <div style="text-align: left;">
                                            <p class="subtitle">1. Instruction 1</p>
                                            <p class="subtitle">2. Instruction 2</p>
                                            <p class="subtitle">3. Instruction 3</p>
                                            <p class="subtitle">4. Instruction 4</p>
                                            <p class="subtitle">5. Instruction 5</p>    
                                        </div>
                                        <br>
                                        <p class="title is-5 modal-section-title">Input Value</p>
                                        <form class="modal-form" action="/dashboard/addresses/topup/0?_method=PUT" method="POST">
                                            <label class="label adrlabel">Value</label>
                                            <input class="input adradr" name="value" placeholder="0.000000000 BTC" type="number" step="any" style="width: 60%;" />
                                            <button class="button is-primary">Continue</button>
                                        </form>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-danger cancelTopup">Cancel</button>
                                    </footer>
                                    </div>
                            </div>
                            <div class="modal modalWithdraw">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Withdraw Bitcoin</p>
                                        <button class="delete deleteWithdraw" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <p class="title is-5 modal-section-title">Instructions</p>
                                        <div style="text-align: left;">
                                            <p class="subtitle">1. Instruction 1</p>
                                            <p class="subtitle">2. Instruction 2</p>
                                            <p class="subtitle">3. Instruction 3</p>
                                            <p class="subtitle">4. Instruction 4</p>
                                            <p class="subtitle">5. Instruction 5</p>    
                                        </div>
                                        <br>
                                        <p class="title is-5 modal-section-title">Input Value</p>
                                        <form class="modal-form" action="/dashboard/addresses/withdraw/0?_method=PUT" method="POST">
                                            <label class="label adrlabel">Value</label>
                                            <input class="input adradr" name="value" placeholder="0.000000000 BTC" type="number" step="any" style="width: 60%;" />
                                            <button class="button is-primary">Continue</button>
                                        </form>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-danger cancelWithdraw">Cancel</button>
                                    </footer>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="adr">
                    <div class="currency">
                        <img src="../../dist/img/bitcoincash.png" class="adr_img"  alt="Bitcoin Cash">
                    </div>
                    <div class="columns">
                        <div class="column">              
                            <div class="address">
                                <label class="label adrlabel">Current<br/>  Address</label>
                                <input class="input smmargin adradr" name="user[bchadr]" value="<%= user.bchadr %>" disabled />
                            </div>
                            <form action="/dashboard/addresses" method="POST">
                                <div class="address">
                                    <label class="label adrlabel">New<br/> Address</label>
                                    <input class="input smmargin adradr" name="bchadr" placeholder="Bitcoin Cash Address" type="text" required />       
                                </div>
                    
                            <button class="button is-primary">Change Address</button>          
                            </form>
                            <div class="address">
                                <label class="label adrlabel" style="margin-top: 1.2em;">Value</label>
                                <input class="input smmargin adradr" name="bch_value" placeholder="<% if (user.currency[1]) { %><%= user.currency[1] %> BCH<% } else { %>0.000000000 BCH <% } %>" type="number" step="any" disabled />
                            </div>
                            <button class="button is-primary topup" style="margin-top:1vh;">Top-up</button>
                            <button class="button is-primary withdraw" style="margin-top:1vh;">Withdraw</button>
                            <div class="modal modalTopup">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                        <p class="modal-card-title">Add Bitcoin Cash</p>
                                        <button class="delete deleteTopup" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                        <p class="title is-5 modal-section-title">Instructions</p>
                                        <div style="text-align: left;">
                                            <p class="subtitle">1. Instruction 1</p>
                                            <p class="subtitle">2. Instruction 2</p>
                                            <p class="subtitle">3. Instruction 3</p>
                                            <p class="subtitle">4. Instruction 4</p>
                                            <p class="subtitle">5. Instruction 5</p>    
                                        </div>
                                        <br>
                                        <p class="title is-5 modal-section-title">Input Value</p>
                                        <form class="modal-form" action="/dashboard/addresses/topup/1?_method=PUT" method="POST">
                                            <label class="label adrlabel">Value</label>
                                            <input class="input adradr" name="value" placeholder="0.000000000 BCH" type="number" step="any" style="width: 60%;" />
                                            <button class="button is-primary">Continue</button>
                                        </form>
                                        </section>
                                        <footer class="modal-card-foot">
                                        <button class="button is-danger cancelTopup">Cancel</button>
                                        </footer>
                                    </div>
                            </div>
                            <div class="modal modalWithdraw">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Withdraw Bitcoin Cash</p>
                                        <button class="delete deleteWithdraw" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <p class="title is-5 modal-section-title">Instructions</p>
                                        <div style="text-align: left;">
                                            <p class="subtitle">1. Instruction 1</p>
                                            <p class="subtitle">2. Instruction 2</p>
                                            <p class="subtitle">3. Instruction 3</p>
                                            <p class="subtitle">4. Instruction 4</p>
                                            <p class="subtitle">5. Instruction 5</p>    
                                        </div>
                                        <br>
                                        <p class="title is-5 modal-section-title">Input Value</p>
                                        <form class="modal-form" action="/dashboard/addresses/withdraw/1?_method=PUT" method="POST">
                                            <label class="label adrlabel">Value</label>
                                            <input class="input adradr" name="value" placeholder="0.000000000 BCH" type="number" step="any" style="width: 60%;" />
                                            <button class="button is-primary">Continue</button>
                                        </form>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-danger cancelWithdraw">Cancel</button>
                                    </footer>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="adr">
                    <div class="currency">
                        <img src="../../dist/img/ethereum.png"  class="adr_img" alt="Ethereum">
                    </div>
                    <div class="columns">
                        <div class="column">
                        <div class="address">
                            <label class="label adrlabel">Current<br/>  Address</label>
                            <input class="input smmargin adradr" name="user[ethadr]" value="<%= user.ethadr %>" disabled />
                            </div>
                            <form action="/dashboard/addresses" method="POST">
                                <div class="address">
                                    <label class="label adrlabel">New<br/> Address</label>
                                    <input class="input smmargin adradr" name="ethadr" placeholder="Ethereum Address" type="text" required />       
                                </div>
                                <button class="button is-primary">Change Address</button>         
                            </form> 
                            <div class="address">
                                <label class="label adrlabel" style="margin-top: 1.2em;">Value</label>
                                <input class="input smmargin adradr" name="eth_value" placeholder="<% if (user.currency[2]) { %><%= user.currency[2] %> ETH<% } else { %>0.000000000 ETH <% } %>" type="number" step="any" disabled />
                            </div>
                            <button class="button is-primary topup" style="margin-top:1vh;">Top-up</button>
                            <button class="button is-primary withdraw" style="margin-top:1vh;">Withdraw</button>
                            <div class="modal modalTopup">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                        <p class="modal-card-title">Add Ethereum</p>
                                        <button class="delete deleteTopup" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                        <p class="title is-5 modal-section-title">Instructions</p>
                                        <div style="text-align: left;">
                                            <p class="subtitle">1. Instruction 1</p>
                                            <p class="subtitle">2. Instruction 2</p>
                                            <p class="subtitle">3. Instruction 3</p>
                                            <p class="subtitle">4. Instruction 4</p>
                                            <p class="subtitle">5. Instruction 5</p>    
                                        </div>
                                        <br>
                                        <p class="title is-5 modal-section-title">Input Value</p>
                                        <form class="modal-form" action="/dashboard/addresses/topup/2?_method=PUT" method="POST">
                                            <label class="label adrlabel">Value</label>
                                            <input class="input adradr" name="value" placeholder="0.000000000 ETH" type="number" step="any" style="width: 60%;" />
                                            <button class="button is-primary">Continue</button>
                                        </form>
                                        </section>
                                        <footer class="modal-card-foot">
                                        <button class="button is-danger cancelTopup">Cancel</button>
                                        </footer>
                                    </div>
                            </div>
                            <div class="modal modalWithdraw">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Withdraw Ethereum</p>
                                        <button class="delete deleteWithdraw" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <p class="title is-5 modal-section-title">Instructions</p>
                                        <div style="text-align: left;">
                                            <p class="subtitle">1. Instruction 1</p>
                                            <p class="subtitle">2. Instruction 2</p>
                                            <p class="subtitle">3. Instruction 3</p>
                                            <p class="subtitle">4. Instruction 4</p>
                                            <p class="subtitle">5. Instruction 5</p>    
                                        </div>
                                        <br>
                                        <p class="title is-5 modal-section-title">Input Value</p>
                                        <form class="modal-form" action="/dashboard/addresses/withdraw/2?_method=PUT" method="POST">
                                            <label class="label adrlabel">Value</label>
                                            <input class="input adradr" name="value" placeholder="0.000000000 ETH" type="number" step="any" style="width: 60%;" />
                                            <button class="button is-primary">Continue</button>
                                        </form>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-danger cancelWithdraw">Cancel</button>
                                    </footer>
                                    </div>
                            </div>
                        </div>
                    </div>        
                </div>
                <hr />
                <div class="adr">
                    <div class="currency">
                        <img src="../../dist/img/litecoin.png" class="adr_img"  alt="Litecoin">
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="address">
                                <label class="label adrlabel">Current<br/>  Address</label>
                                <input class="input smmargin adradr" name="user[ltcadr]" value="<%= user.ltcadr %>" disabled />
                            </div>
                            <form action="/dashboard/addresses" method="POST">
                                <div class="address">
                                    <label class="label adrlabel">New<br/> Address</label>
                                    <input class="input smmargin adradr" name="ltcadr" placeholder="Litecoin Address" type="text" required />       
                                </div>
                    
                                <button class="button is-primary">Change Address</button>            
                            </form>
                            <div class="address">
                                <label class="label adrlabel" style="margin-top: 1.2em;">Value</label>
                                <input class="input smmargin adradr" name="ltc_value" placeholder="<% if (user.currency[3]) { %><%= user.currency[3] %> LTC<% } else { %>0.000000000 LTC <% } %>" type="number" step="any" disabled />
                            </div>
                            <button class="button is-primary topup" style="margin-top:1vh;">Top-up</button>
                            <button class="button is-primary withdraw" style="margin-top:1vh;">Withdraw</button>
                            <div class="modal modalTopup">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                        <p class="modal-card-title">Add Litecoin</p>
                                        <button class="delete deleteTopup" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                        <p class="title is-5 modal-section-title">Instructions</p>
                                        <div style="text-align: left;">
                                            <p class="subtitle">1. Instruction 1</p>
                                            <p class="subtitle">2. Instruction 2</p>
                                            <p class="subtitle">3. Instruction 3</p>
                                            <p class="subtitle">4. Instruction 4</p>
                                            <p class="subtitle">5. Instruction 5</p>    
                                        </div>
                                        <br>
                                        <p class="title is-5 modal-section-title">Input Value</p>
                                        <form class="modal-form" action="/dashboard/addresses/topup/3?_method=PUT" method="POST">
                                            <label class="label adrlabel">Value</label>
                                            <input class="input adradr" name="value" placeholder="0.000000000 LTC" type="number" step="any" style="width: 60%;" />
                                            <button class="button is-primary">Continue</button>
                                        </form>
                                        </section>
                                        <footer class="modal-card-foot">
                                        <button class="button is-danger cancelTopup">Cancel</button>
                                        </footer>
                                    </div>
                            </div>
                            <div class="modal modalWithdraw">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Withdraw Litecoin</p>
                                        <button class="delete deleteWithdraw" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <p class="title is-5 modal-section-title">Instructions</p>
                                        <div style="text-align: left;">
                                            <p class="subtitle">1. Instruction 1</p>
                                            <p class="subtitle">2. Instruction 2</p>
                                            <p class="subtitle">3. Instruction 3</p>
                                            <p class="subtitle">4. Instruction 4</p>
                                            <p class="subtitle">5. Instruction 5</p>    
                                        </div>
                                        <br>
                                        <p class="title is-5 modal-section-title">Input Value</p>
                                        <form class="modal-form" action="/dashboard/addresses/withdraw/3?_method=PUT" method="POST">
                                            <label class="label adrlabel">Value</label>
                                            <input class="input adradr" name="value" placeholder="0.000000000 LTC" type="number" step="any" style="width: 60%;" />
                                            <button class="button is-primary">Continue</button>
                                        </form>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-danger cancelWithdraw">Cancel</button>
                                    </footer>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="adr">
                    <div class="currency">
                        <img src="../../dist/img/dash.png"  class="adr_img" alt="DASH">
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="address">
                                <label class="label adrlabel">Current<br/>  Address</label>
                                <input class="input smmargin adradr" name="user[dashadr]" value="<%= user.dashadr %>" disabled />
                            </div>     
                            <form action="/dashboard/addresses" method="POST">
                                <div class="address">
                                    <label class="label adrlabel">New<br/> Address</label>
                                    <input class="input smmargin adradr" name="dashadr" placeholder="DASH Address" type="text" required />       
                                </div>
                            <button class="button is-primary">Change Address</button>
                            </form>
                            <div class="address">
                                <label class="label adrlabel" style="margin-top: 1.2em;">Value</label>
                                <input class="input smmargin adradr" name="dash_value" placeholder="<% if (user.currency[4]) { %><%= user.currency[4] %> DASH<% } else { %>0.000000000 DASH <% } %>" type="number" step="any" disabled />
                            </div>
                            <button class="button is-primary topup" style="margin-top:1vh;">Top-up</button>
                            <button class="button is-primary withdraw" style="margin-top:1vh;">Withdraw</button>
                            <div class="modal modalTopup">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                        <p class="modal-card-title">Add DASH</p>
                                        <button class="delete deleteTopup" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                        <p class="title is-5 modal-section-title">Instructions</p>
                                        <div style="text-align: left;">
                                            <p class="subtitle">1. Instruction 1</p>
                                            <p class="subtitle">2. Instruction 2</p>
                                            <p class="subtitle">3. Instruction 3</p>
                                            <p class="subtitle">4. Instruction 4</p>
                                            <p class="subtitle">5. Instruction 5</p>    
                                        </div>
                                        <br>
                                        <p class="title is-5 modal-section-title">Input Value</p>
                                        <form class="modal-form" action="/dashboard/addresses/topup/4?_method=PUT" method="POST">
                                            <label class="label adrlabel">Value</label>
                                            <input class="input adradr" name="value" placeholder="0.000000000 DASH" type="number" step="any" style="width: 60%;" />
                                            <button class="button is-primary">Continue</button>
                                        </form>
                                        </section>
                                        <footer class="modal-card-foot">
                                        <button class="button is-danger cancelTopup">Cancel</button>
                                        </footer>
                                    </div>
                            </div>
                            <div class="modal modalWithdraw">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Withdraw DASH</p>
                                        <button class="delete deleteWithdraw" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <p class="title is-5 modal-section-title">Instructions</p>
                                        <div style="text-align: left;">
                                            <p class="subtitle">1. Instruction 1</p>
                                            <p class="subtitle">2. Instruction 2</p>
                                            <p class="subtitle">3. Instruction 3</p>
                                            <p class="subtitle">4. Instruction 4</p>
                                            <p class="subtitle">5. Instruction 5</p>    
                                        </div>
                                        <br>
                                        <p class="title is-5 modal-section-title">Input Value</p>
                                        <form class="modal-form" action="/dashboard/addresses/withdraw/4?_method=PUT" method="POST">
                                            <label class="label adrlabel">Value</label>
                                            <input class="input adradr" name="value" placeholder="0.000000000 DASH" type="number" step="any" style="width: 60%;" />
                                            <button class="button is-primary">Continue</button>
                                        </form>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-danger cancelWithdraw">Cancel</button>
                                    </footer>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
        
    </div>   
</div>

<script src="../../dist/js/dashboard_addr.js"></script>
<% include ../partials/footer %>
