<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/dist/css/main.css" />
<link rel="stylesheet" href="/dist/css/tooltips.css">
<div class="columns wrapper">
    <% include ../partials/sidebar %>
    <div class="column dashboard-right">
        <div class="dashTop column">
            <h2 class="title">Closed Deals</h2>
        </div>
        <br>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <% if (products.docs.length === 0) { %>
                    <p class="title">You do not have any closed deals yet.</p>
                <% } else { %>
                    <div>
                        <div class="pagination paginationT">
                            <% include ../partials/paginateIndex %>
                        </div>
                        <main id="hits productWrapper">
                        <% products.docs.forEach((product) => { %>
                            <article class="hit columns frame">
                                <div class="product-picture-wrapper" >
                                    <% if (product.feat_1.status === true) { %><span class="featured"></span><% } %>
                                    <figure class="image is-128x128" style="margin:auto;">
                                        <img src="<%= product.images[0].url %>" class="productImage" alt="">
                                    </figure>                                  
                                </div>
                                <div class="column prod_info product-desc-wrapper" style="text-align: left !important;">
                                    <div class="product-name">
                                        <a class="is-5 dealname" href="/products/<%= product._id %>/view"><%= product.name %></a>
                                        <p class="productRating">
                                            <% for(let i = 0; i < 5; i++) { %>
                                                <% if(i < Math.floor(product.avgRating)) { %>
                                                <!-- display a full star -->
                                                <i class="fas fa-star" style="color: orange;"></i>
                                                <% } else if((product.avgRating - i) > 0 && (product.avgRating - i) < 1) { %>
                                                <!-- display a half star -->
                                                <i class="fas fa-star-half-alt" style="color: orange;"></i>
                                                <% } else { %>
                                                <!-- display an empty star -->
                                                <i class="far fa-star" style="color: orange;"></i>
                                                <% } %>
                                            <% } %>
                                        </p>
                                        <a href="/products/<%= product._id %>/view" class="button is-primary">View Details</a>
                                    </div>
                                </div>
                                <div class="column prod_info productPrice">
                                    <div class="prices openPrices frame" style="width: 100%;">
                                        <p class="price_text"><%= product.btcPrice %></p>
                                        <span class="price_img"><img src="/dist/img/bitcoin.png" alt="Bitcoin"></span>
                                    </div>
                                </div>
                            </article>                            
                        <% }); %>            
                    </main>    
                    <div  class="pagination paginationD">
                        <% include ../partials/paginateIndex %>
                    </div>
                </div> 
                <% } %>       
            </div>
            <div class="column"></div>
        </div>

    </div> 
</div>

<% include ../partials/footer %>
<script src='/dist/js/dashboard_products.js'></script>