<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<div class="columns wrapper">
    <% include ../partials/sidebar %>

    <div class="column dashboard-right">
        <div class="dashTop column">
            <h1 class="title dashTitle" style="color: white !important;">Notifications</h1>
        </div>
        <div class="halfPad">
            <br>
        </div>
        <br>
        <div>
            <% if (notifications.docs.length === 0) { %>
                <p class="title">You do not have any notifications yet.</p>
            <% } else { %>
                <div>
                    <div class="pagination paginationT">
                        <% include ../partials/paginateNotifications %>
                    </div>
                </div>
            <% } %>
            <% let time; %>
            <div class="column is-four-fifths" style="margin: auto;">
                <% notifications.docs.forEach(notification => { %>
                    <div class="columns notif" <% if (!notification.read) { %> style="background-color: rgba(50, 105, 202, 0.44);" <% } else { %> style="background-color: rgba(50, 105, 202, 0.44);" <% } %> >
                        <div style="position: absolute; width: 100%; height: 100%;">
                            <a href="<%= notification.linkTo %>" class="notifBtn">
                                <span class="notifSpan"></span>
                            </a>
                        </div>
                        <div class="column is-one-fifth">
                            <img src="<%= notification.imgLink %>" class="notifImg" style="width: 36px; height: 36px;" alt="">
                        </div>
                        <div class="column">
                            <p style="text-align: left;" class="is-size-5"><%= notification.message %></p>
                            <span style="display: flex; align-items: center;">
                                <i class="far fa-clock" style="margin-right: 0.5vw;"></i>
                                <div style="text-align: left;" class="is-size-6">
                                    <% time = Math.floor((Date.now() - notification.createdAt)/1000/60/60) %>
                                    <%
                                        const days = Math.floor(time/24);
                                        const weeks = Math.floor(days/7);
                                        const months = Math.floor(weeks/4);
                                    %>
                                    <% if (months >= 1) { %><%= months %> Month <% if (months > 1) { %>s <% } %> ago<% } else if (weeks >= 1) { %><%= weeks %> Week <% if (weeks > 1) { %>s <% } %>ago<% } else if (days >= 1) { %><%= days %> Day<% if (Math.floor(time/24) > 1) { %>s <% } %> ago <% } else if (time >= 1) { %> <%= time %> Hr <% } else { %> Just now <% } %>
                                </div>
                            </span>
                        </div>
                    </div>
                <% }); %>
            </div>
            <br>
            <% if (notifications.docs.length === 0) { %>
            <% } else { %>
                <div>
                    <div class="pagination paginationT">
                        <% include ../partials/paginateNotifications %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

</div>

<script src="../../dist/js/dashboard_products.js"></script>
<% include ../partials/footer %>
