<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/dist/css/main.css" />
<div class="columns wrapper">
    <% include ../partials/sidebar %>
    <div class="column dashboard-right">
        <div class="dashTop column">
            <h2 class="title dashTitle" style="color: white !important;">Ongoing Deals</h2>
        </div>
        <br>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <% if (deals.docs.length === 0) { %>
                        <p class="title">You have no ongoing deals at this time.</p>
                <% } else { %>
                    <div>
                        <div class="pagination paginationT">
                            <% include ../partials/paginatePurchases %>
                        </div>
                        <main class="productWrapper" id="hits">
                        <% deals.docs.forEach((deal) => { %>
                            <article class="hit columns frame">
                                <div class="product-picture-wrapper" >
                                    <figure class="image is-128x128" style="margin:auto;">
                                        <img src="<%= deal.product.imageUrl %>" class="productImage" alt="<%= deal.product.name %> Image" onError="this.onerror=null;this.src='/dist/img/missing_image.png';">
                                    </figure>
                                </div>
                                <div class="column prod_info product-desc-wrapper" style="text-align: left !important;">
                                    <div class="product-name">
                                        <p class="title is-6"><%= deal.product.name %></p>
                                        <p class="subtitle is-6" style="margin-bottom: 1vh;"><sub <% if (deal.status == 'Processing') { %>style="color: red;" <% } %>>Status: <%= deal.status %></sub></p>
                                        <form action="/messages/<%= deal.chat %>/<%= deal._id %>?_method=PUT" method="POST">
                                            <button class="button view-btn is-primary">View Deal</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="column prod_info productPrice">
                                    <div class="prices openPrices frame" style="width: 100%;">
                                        <p class="price_text" style="padding-left: 2vw;"><%= deal.price %></p>
                                        <span class="price_img"><i class="fab fa-bitcoin fa-lg currencyIcon" style="color: orange;"></i></span>
                                    </div>
                                </div>
                            </article>
                        <% }); %>         
                    </main>
                    <div class="pagination paginationD">
                        <% include ../partials/paginatePurchases %>
                    </div>
                </div>        
                 
                <% } %>
            </div>
            <div class="column"></div>
        </div>

    </div> 
</div>

<script src='/dist/js/dashboard_products.js'></script>
<% include ../partials/footer %>
