<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="../../dist/css/dashboard.css" />
<link rel="stylesheet" href="../../dist/css/products.css">
<link rel="stylesheet" href="../../dist/css/bulma-pricingtable.min.css">
<!-- <script src="../../dist/js/tokens.js"></script> -->
<div class="columns" style="overflow: hidden; margin: auto;">
    <% include ../partials/sidebar %>

    <div class="column dashboard-right" >
        <div class="container is-fluid">
            <% if(errors){ %>
                <div class="notification is-danger" role="alert"> 
                <% errors.forEach(function( err){ %>
                    <%= err.msg %><br>
                <% }) %>
                </div>
            <% } %>
        </div>
        <div class="dashTop column">
            <h2 class="title">Tokens</h2>
        </div>
        <div class="columns container">
            <div class="column is-one-third">
                <div class="feature-div frame">
                    <h2 class="title is-3" style="font-weight: 600;">You have <%= user.feature_tokens %> Tokens</h2>
                    <form action="/dashboard/tokens/0" method="POST">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div id="btc-fields" class="fields">
                            <div class="currency" style="padding-top: 3vh; justify-content: center !important;">
                                <p>Price per token: <span id="btcTokenPrice"><%= Number(tokenprice.toFixed(8)) %></span></p>
                                <span class="curr_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                            </div>
                            <div class="currency" style="padding-top: 3vh; justify-content: center !important;">
                                <p>Aproximatively $0.99 USD</p>
                            </div>
                            <input class="input inputTokens" id="btc-tokens" type="number" name="tokensNr" placeholder="Number of tokens"
                                min="0" max="500" required style="margin-top: 3vh;">
                            <input type="hidden" name="tokenprice" value="<%= Number(tokenprice.toFixed(8)) %>">
                            <div class="currency" style="padding-top: 3vh; justify-content: center !important;">
                                <p>Total price: <span id="btcPrice" class="tPrice">0</span></p>
                                <span class="curr_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                            </div>                            
                            <button class="button is-primary is-rounded" style="margin-top: 3vh;">Purchase Tokens</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column tokens-faq">
                <div class="frame">
                    <h3 class="title is-4">What is a feature token?</h3>
                    <h4 class="title is-5">The feature token is a type of currency used to promote deals on the marketplace</h4>
                </div>
                <br>
                <div class="frame">
                    <h3 class="title is-4">How can I promote my deal?</h3>
                    <h4 class="title is-5">You can do so when creating the deal or afterwards, from the edit page.</h4>
                </div>
                <br>
                <div class="frame">
                    <h3 class="title is-4">Are there multiple levels of promotion?</h3>
                    <h4 class="title is-5">Yes, we offer category and search promotion and front-page promotion</h4>
                </div>
            </div>
        </div>
        <div class="pricing-table is-comparative" style="padding-right:2vw;">
            <div class="pricing-plan is-features">
              <div class="plan-header">Token Packs</div>
              <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>
              <div class="plan-items">
                <div class="plan-item">USD Equivalent</div>
                <div class="plan-item">Tokens</div>
                <div class="plan-item">Bonus Tokens</div>
                <div class="plan-item">(%) Saved</div>
              </div>
              <div class="plan-footer">
          
              </div>
            </div>
            <div class="pricing-plan">
              <div class="plan-header">Basic</div>
              <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">BTC</span><%= Number((tokenprice*19.99).toFixed(8)) %></span></div>
              <div class="plan-items">
                <div class="plan-item" data-feature="USD Equivalent">$19.99 USD</div>
                <div class="plan-item" data-feature="Tokens">21.5</div>
                <div class="plan-item" data-feature="Bonus Tokens">1.5</div>
                <div class="plan-item" data-feature="(%) Saved">7.5%</div>
              </div>
              <div class="plan-footer">
                  <form action="/dashboard/tokens/<%= user._id %>/packs" method="POST">
                    <input type="hidden" name="pack" value="21.5" />
                    <input type="hidden" name="tokenCost" value="<%= (tokenprice*19.99).toFixed(5) %>" />
                    <button class="button is-fullwidth">Choose</button>
                </form>
              </div>
            </div>
          
            <div class="pricing-plan is-warning">
              <div class="plan-header">Enthusiast</div>
              <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">BTC</span><%= Number((tokenprice*39.99).toFixed(8)) %></span></div>
              <div class="plan-items">
                <div class="plan-item" data-feature="USD Equivalent">$39.99 USD</div>
                <div class="plan-item" data-feature="Tokens">43.5</div>
                <div class="plan-item" data-feature="Bonus Tokens">3.5</div>
                <div class="plan-item" data-feature="(%) Saved">8.75%</div>
              </div>
              <div class="plan-footer">
                  <form action="/dashboard/tokens/<%= user._id %>/packs" method="POST">
                    <input type="hidden" name="pack" value="43.5" />
                    <input type="hidden" name="tokenCost" value="<%= (tokenprice*39.99).toFixed(5) %>" />
                    <button class="button is-fullwidth">Choose</button>
                </form>
              </div>
            </div>
          
            <div class="pricing-plan is-active">
              <div class="plan-header">Visionary</div>
              <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">BTC</span><%= Number((tokenprice*59.99).toFixed(8)) %></span></div>
              <div class="plan-items">
                <div class="plan-item" data-feature="USD Equivalent">$59.99 USD</div>
                <div class="plan-item" data-feature="Tokens">67</div>
                <div class="plan-item" data-feature="Bonus Tokens">7</div>
                <div class="plan-item" data-feature="(%) Saved">11.66%</div>
              </div>
              <div class="plan-footer">
                  <form action="/dashboard/tokens/<%= user._id %>/packs" method="POST">
                    <input type="hidden" name="pack" value="67" />
                    <input type="hidden" name="tokenCost" value="<%= (tokenprice*59.99).toFixed(5) %>" />
                    <button class="button is-fullwidth">Choose</button>
                </form>
              </div>
            </div>
          
            <div class="pricing-plan is-danger">
              <div class="plan-header">Enterprise</div>
              <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">BTC</span><%= Number((tokenprice*99.99).toFixed(8)) %></span></div>
              <div class="plan-items">
                <div class="plan-item" data-feature="USD Equivalent">$99.99 USD</div>
                <div class="plan-item" data-feature="Tokens">115</div>
                <div class="plan-item" data-feature="Bonus Tokens">15</div>
                <div class="plan-item" data-feature="(%) Saved">15%</div>
              </div>
              <div class="plan-footer">
                  <form action="/dashboard/tokens/<%= user._id %>/packs" method="POST">
                    <input type="hidden" name="pack" value="115" />
                    <input type="hidden" name="tokenCost" value="<%= (tokenprice*99.99).toFixed(5) %>" />
                    <button class="button is-fullwidth">Choose</button>
                </form>
              </div>
            </div>
          </div>
    </div>
</div>

<% include ../partials/footer %>

<script src="../../dist/js/dashboard_tokens.js"></script>