<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" href="../../dist/css/products.css">
<div class="columns" style="overflow: hidden; margin: auto;">
    <% include ../partials/sidebar %>
    
    <div class="column dashboard-right smallerCenter">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-fifths">
                <div class="dashTop column">
                    <h1 class="title">Edit Product</h1>
                </div>
                <br>
                <form action="/dashboard/<%= product._id %>/<%= csrfToken %>/<%= csrfSecret %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="container is-fluid">
                        <% if(errors){ %>
                            <div class="notification is-danger" role="alert"> 
                            <% errors.forEach(function( err){ %>
                                <%= err.msg %><br>
                            <% }) %>
                            </div>
                        <% } %>
                    </div>
                    <br>
                    <div class="frame">
                        <h4 class="new-text" style="margin-bottom: 3vh;">General Information</h4>
                        <input class="input smmargin" style="width: 90%;" name="product[name]" value="<%= product.name %>" type="text" required />
                        <div class="select cont-select catSelectLeft">
                            <select type="text" name="product[category][0]" id="firstCat" style="width: 100%;" required>
                                <option disabled>Main Category</option>
                                <option value="Collectibles & Art" <% if (product.category[1] == 'Collectibles & Art') { %> selected <% } %>>Collectibles & Art</option>
                                <option value="Electronics" <% if (product.category[1] == 'Electronics') { %> selected <% } %>>Electronics</option>
                                <option value="Fashion & Beauty" <% if (product.category[1] == 'Fashion & Beauty') { %> selected <% } %>>Fashion & Beauty</option>
                                <option value="Home Improvement" <% if (product.category[1] == 'Home Improvement') { %> selected <% } %>>Home Improvement</option>
                                <option value="Leisure Time" <% if (product.category[1] == 'Leisure Time') { %> selected <% } %>>Leisure Time</option>
                                <option value="Mothers & Babies" <% if (product.category[1] == 'Mothers & Babies') { %> selected <% } %>>Mothers & Babies</option>
                                <option value="Pet Supplies" <% if (product.category[1] == 'Pet Supplies') { %> selected <% } %>>Pet Supplies</option>
                                <option value="Real Estate" <% if (product.category[1] == 'Real Estate') { %> selected <% } %>>Real Estate</option>
                                <option value="Sports & Outdoors" <% if (product.category[1] == 'Sports & Outdoors') { %> selected <% } %>>Sports & Outdoors</option>
                                <option value="Vehicles" <% if (product.category[1] == 'Vehicles') { %> selected <% } %>>Vehicles</option>
                            </select>
                        </div>
                        <div class="select cont-select catSelectCenter">
                            <select type="text" name="product[category][1]" id="secondCat" style="width: 100%" required>
                                <option value="<%= product.category[2] %>" selected><%= product.category[2] %></option>
                            </select>
                        </div>
                        <div class="select cont-select catSelectRight">
                            <select type="text" name="product[category][2]" id="thirdCat" style="width: 100%" required>
                                <option value="<%= product.category[3] %>" selected><%= product.category[3] %></option>
                            </select>
                        </div>
                        <div class="select cont-select" style="width: 90% !important;">
                            <select type="text" name="product[condition]" style="width: 100%" required>
                                <option disabled>Condition</option>
                                <option value="Not Specified" <% if (product.condition == 'Not Specified') { %> selected <% } %> >Not Specified</option>
                                <option value="Brand New" <% if (product.condition == 'Brand New') { %> selected <% } %> >Brand New</option>
                                <option value="Like New" <% if (product.condition == 'Like New') { %> selected <% } %>>Like New</option>
                                <option value="Refurbished" <% if (product.condition == 'Refurbished') { %> selected <% } %>>Refurbished</option>
                                <option value="Used" <% if (product.condition == 'Used') { %> selected <% } %>>Used</option>
                                <option value="Broken" <% if (product.condition == 'Broken or Scrap') { %> selected <% } %>>Broken or Scrap</option>
                            </select>
                        </div>
                        <textarea name="product[description]" class="textarea" value="<%= product.description %>"><%= product.description %></textarea>
                        <br>     
                        <div style="display: flex; justify-content: space-evenly; margin-top: 1vh; align-items: center; padding-left: 5vw; padding-right: 5vw;">
                            <div>
                                <label id="repeatableLabel" for="repeatable"><i class="fas fa-redo fa-5x <% if (product.repeatable) { %>green<% } else { %>normal<% } %>"></i></label>
                                <input id="repeatable" name="product[repeatable]" type="checkbox" value="true" <% if (product.repeatable) { %>checked<% } %> hidden>
                            </div>
                            <div>
                                <p class="title is-4" style="font-weight: 100;">Repeatable Deal</p>
                                <p class="subtitle is-6">The product won't disappear from the market after you sell it.</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="frame">
                        <h4 class="new-text" style="margin-bottom: 3vh;">Images</h4>
                        <div class="file-upload">
                            <div class="mobileUpload">
                                <label for="upload[0]" name="u" class="<% if (product.images[0]) { %> file-upload__label-green <% } else { %> file-upload__label <% } %>">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square <% if (product.images[0]) { %> hide <% } %>"></i>
                                        <i class="far fa-check-square <% if (!product.images[0]) { %> hide <% } %>"></i>
                                    </span>
                                </label>
                                <input id="upload[0]" class="file-upload__input" accept="image/*" type="file" name="images" 
                                    <% if (product.images[0]) { %> value="<%= product.images[0].url %>" <% } %>>
                                <label class="file-delete__label <% if (!product.images[0]) { %> hide <% } %>">
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="mobileUpload">
                                <label for="upload[1]" name="u" class="<% if (product.images[1]) { %> file-upload__label-green <% } else { %> file-upload__label <% } %>">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square <% if (product.images[1]) { %> hide <% } %>"></i>
                                        <i class="far fa-check-square <% if (!product.images[1]) { %> hide <% } %>"></i>
                                    </span>
                                </label>
                                <input id="upload[1]" class="file-upload__input" accept="image/*" type="file" name="images" 
                                    <% if (product.images[1]) { %> value="<%= product.images[1].url %>" <% } %>>
                                <label class="file-delete__label <% if (!product.images[1]) { %> hide <% } %>">
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="mobileUpload">
                                <label for="upload[2]" name="u" class="<% if (product.images[2]) { %> file-upload__label-green <% } else { %> file-upload__label <% } %>">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square <% if (product.images[2]) { %> hide <% } %>"></i>
                                        <i class="far fa-check-square <% if (!product.images[2]) { %> hide <% } %>"></i>
                                    </span>
                                </label>
                                <input id="upload[2]" class="file-upload__input" accept="image/*" type="file" name="images" 
                                    <% if (product.images[2]) { %> value="<%= product.images[2].url %>" <% } %>>
                                <label class="file-delete__label <% if (!product.images[2]) { %> hide <% } %>">
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="mobileUpload">
                                <label for="upload[3]" name="u" class="<% if (product.images[3]) { %> file-upload__label-green <% } else { %> file-upload__label <% } %>">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square <% if (product.images[3]) { %> hide <% } %>"></i>
                                        <i class="far fa-check-square <% if (!product.images[3]) { %> hide <% } %>"></i>
                                    </span>
                                </label>
                                <input id="upload[3]" class="file-upload__input" accept="image/*" type="file" name="images" 
                                    <% if (product.images[3]) { %> value="<%= product.images[3].url %>" <% } %>>
                                <label class="file-delete__label <% if (!product.images[3]) { %> hide <% } %>">
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="mobileUpload">
                                <label for="upload[4]" name="u" class="<% if (product.images[4]) { %> file-upload__label-green <% } else { %> file-upload__label <% } %>">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square <% if (product.images[4]) { %> hide <% } %>"></i>
                                        <i class="far fa-check-square <% if (!product.images[4]) { %> hide <% } %>"></i>
                                    </span>
                                </label>
                                <input id="upload[4]" class="file-upload__input" accept="image/*" type="file" name="images" 
                                    <% if (product.images[4]) { %> value="<%= product.images[4].url %>" <% } %>>
                                <label class="file-delete__label <% if (!product.images[4]) { %> hide <% } %>">
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </label>
                            </div>
                        </div>                                     
                    </div>
                    <br>
                    <div class="frame">
                        <h4 class="new-text" style="margin-bottom: 3vh;">Price</h4>
                        <div class="field">
                            <p class="control has-icons-left smmargin" style="margin: auto;">
                                <input class="input" id="btc-price" name="product[btc_price]" placeholder="Price (BTC)" type="number" step=any value="<%= product.btcPrice %>" />
                                <span class="icon is-small is-left">
                                    <i class="fab fa-bitcoin" style="color: orange;"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="control smmargin" style="margin: auto !important; margin-top: 2vh !important;">
                        <button class="button is-primary">Update</button>
                    </div>
                </form>
                <br>
                <div class="frame">
                    <h4 class="new-text">Feature your deal</h4>
                    <h5 class="token-text">You have <%= user.feature_tokens %> tokens</h5>
                    <table class="new-table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Duration</th>
                                <th>Cost</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Subcategory feature</td>
                                <td>The deal will be shown in the first 5 deals on a subcategory page.</td>
                                <td>14 days</td>
                                <td>5 Tokens</td>
                                <td style="padding-top: 0;">
                                    <form action="/dashboard/<%= product._id %>/edit/1?_method=PUT" method="POST" style="padding: inherit;">
                                        <div class="control smmargin">
                                            <button class="button is-primary">Feature</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>Front-page feature</td>
                                <td>The deal will be shown on the front-page of the website.</td>
                                <td>7 days</td>
                                <td>15 Tokens</td>
                                <td style="padding-top: 0;">
                                    <form action="/dashboard/<%= product._id %>/edit/2?_method=PUT" method="POST" style="padding: inherit;">
                                        <div class="control smmargin">
                                            <button class="button is-primary">Feature</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
<script src="../../dist/js/editTransport.js"></script>
<script src="../../dist/js/dashboard_new.js"></script>