<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<div class="columns" style="overflow: hidden; margin: auto;"> 
    <% include ../partials/sidebar %>
    <div class="column dashboard-right" style="margin-bottom: 4vh;">
        <div class="column dashTop">
            <h2 class="title">Account Details</h2>
        </div>
        <br>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <div class="frame smallerCenter">
                    <form action="/profile/update/<%= csrfToken %>/<%= csrfSecret %>?_method=PUT" method="POST" enctype="multipart/form-data" id="changeDetails">
                        <% if(premium !== true) { %>
                            <h1 class="title">Standard Account</h1>
                        <% } else { %>
                            <h1 class="title">Premium Account</h1>
                            <p class="subtitle">Expires on: <%= expireDate %></p>
                        <% } %>
                        <p class="subtitle">Personal Details</p>
                        <div class="container is-fluid">
                            <% if(errors){ %>
                                <div class="notification is-danger" role="alert"> 
                                <% errors.forEach(function( err){ %>
                                    <%= err.msg %><br>
                                <% }) %>
                                </div>
                                <br>
                            <% } %>
                        </div>
                        <div class="column is-three-fifths" style="margin: auto;">
                            <div class="level control has-icons-left">
                                    <input class="input" name="name" placeholder="Full Name*" type="text"
                                    <% if (user.full_name) { %> value="<%= user.full_name %>" <% } %> required />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user-tie"></i>
                                    </span>
                            </div>
                            <div class="level column select cont-select" style="padding: 0 !important; margin-left: auto; margin-right: auto;">
                                <select name="country" class="countries" id="countryId" style="width: 100%;" required>
                                    <% if (user.country) { %>
                                    <option value="<%= user.country %>" selected><%= user.country %></option>
                                    <% } else { %>
                                    <option value="">Select Country</option>
                                    <% } %>                                        
                                </select>
                            </div>
                            <div class="level column select dash-select" style="padding-top: 0 !important; width: 100%; margin-left: auto; margin-right: auto; padding-left: 0; padding-right: 0;">
                                <select name="state" class="states" id="stateId" style="width:100%;" required>
                                    <% if (user.country) { %>
                                    <option value="<%= user.state %>"><%= user.state %></option>
                                    <% } else { %>
                                    <option value="">Select State</option>
                                    <% } %>   
                                </select>
                            </div>
                            <div class="level column select cont-select" style="padding: 0 !important; margin-left: auto; margin-right: auto;">
                                <select name="city" class="cities" id="cityId" style="width: 100%;" required>
                                    <% if (user.country) { %>
                                    <option value="<%= user.city %>"><%= user.city %></option>
                                    <% } else { %>
                                    <option value="">Select City</option>
                                    <% } %>   
                                </select>
                            </div>
                            <div class="columns level">
                                <div class="column is-three-fifths">
                                    <input class="input" name="address1" placeholder="Address Line 1* (Street name, number, etc.)" type="text"
                                    <% if (user.address1) { %> value="<%= user.address1%>" <% } %> required />
                                </div>
                                <div class="column">
                                    <input class="input" name="zip" type="text" placeholder="ZIP Code*"
                                    <% if (user.zip) { %> value="<%= user.zip %>" <% } %> required />
                                </div>
                            </div>  
                                        
                            <div class="level">
                                <input class="input" name="address2" placeholder="Address Line 2" type="text"
                                <% if (user.address2) { %> value="<%= user.address2 %>" <% } %>/>
                            </div>
    
                            <div class="columns level">
                                <div class="column">
                                    <!-- Every user will have a default profile pic  -->
                                    <figure class="image is-128x128" style="margin: auto;">
                                        <% if(premium !== true) { %>
                                            <img src="<%= user.avatar.url %>" class="profilepic">
                                        <% } else { %>
                                            <img src="<%= user.avatar.url %>" class="premiumImg">
                                            <span class="premium"></span>
                                        <% } %>
                                    </figure>
                                </div>
                                <div class="column">
                                    <div class="file-upload">
                                        <div>
                                            <label for="upload[0]" class="file-upload__label">
                                                <span style="font-size: 5rem;">
                                                    <i class="far fa-plus-square square"></i>
                                                    <i class="far fa-check-square hide"></i>
                                                </span>
                                            </label>
                                            <p>New profile picture</p>
                                            <input id="upload[0]" class="file-upload__input" accept="image/*" type="file" name="avatar">
                                            <label class="file-delete__label hide">
                                                <span>
                                                    <i class="far fa-trash-alt"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>       
                    </form>
                    <div class="buttons is-centered">
                        <button type="submit" class="button is-primary is-rounded" form="changeDetails">Submit</button>
                        <a href="/profile/<%= user._id %>"><button class="button is-primary smmargin is-rounded" style="margin-top: 0;">View Profile</button></a>
                        <% if(premium !== true) { %>
                            <a href="/dashboard/subscription"><button class="button is-primary smmargin is-rounded" style="margin-top: 0;">Upgrade Account</button></a>
                        <% } %>
                    </div>
                </div>
                <br>
                <div class="frame smallerCenter">
                    <h2 class="subtitle">Credentials</h2>
                    <div class="buttons" style="justify-content: space-evenly;">
                        <div class="chpw">
                            <form action="/forgot" method="POST">
                                <input class="input smmargin" name="email" value="<%= user.email %>" type="hidden" required />
                                <div class="control smmargin">
                                    <button class="button is-primary is-rounded">Change your Password</button>
                                </div>
                            </form>
                        </div>
                        <div class="chemail">
                            <form action="/forgotemail" method="POST">
                                <input class="input smmargin" name="email" value="<%= user.email %>" type="hidden" required />
                                <div class="control smmargin">
                                    <button class="button is-primary is-rounded">Change your Email</button>
                                </div>
                            </form>
                        </div>
                        <% if(currentUser.twofactor === true) { %> 
                        <div class="chemail">
                            <div class="control smmargin">
                                <button class="button is-primary deactivate is-rounded">Deactivate Two-Factor Authentication</button>
                            </div>
                            <div class="modal modalDeactivate">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Deactivate Two-Factor</p>
                                        <button class="delete deleteDeactivate" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <p class="subtitle">Are you sure you want to deactivate two-factor authentication?</p>
                                        <sub class="subWarning">This action will make your account less secure.</sub>
                                        <br>
                                        <form class="modal-form" action="/disable2factor" method="POST">
                                            <div class="control smmargin">
                                                <button class="button is-primary is-rounded">Deactivate Two-Factor Authentication</button>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="chemail">
                                <form action="/2factor">
                                    <div class="control smmargin">
                                        <button class="button is-primary is-rounded">Activate Two-Factor Authentication</button>
                                    </div>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<!-- <script src="//geodata.solutions/includes/countrystatecity.js"></script> -->
<script src="../../dist/js/dashboard.js"></script>
<script src="../../dist/js/getScript.js"></script>
