<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="../../dist/css/main.css" />
<div class="columns">
    <% include ../partials/sidebar %>
    <div class="column dashboard-right">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <% if (deals.docs.length === 0) { %>
                        <p class="title">You have no ongoing deals at this time.</p>
                <% } else { %>
                    <div style="overflow-x: hidden;">
        
                        <div class="pagination">
                            <p class="subtitle pagePad">Pages:</p> 
                            <% include ../partials/paginatePurchases %>
                        </div>
                       
                        <% deals.docs.forEach((deal) => { %>
                            <div class="columns">
                                    <div class="column is-one-quarter">
                                            <img src="<%= deal.product.imageUrl %>" class="open-img">
                                    </div>
                                    <div class="column prod_info">
                                        <p class="title is-5 dealname"><%= deal.product.name %></p>
                                        <p class="subtitle is-6" style="margin-bottom: 0;"><sub>Shipping: TBD</sub></p>
                                        <p class="subtitle is-6" style="margin-bottom: 1vh;"><sub>Status: <%= deal.status %></sub></p>
                                        <div style="display: flex;">
                                            <a href="/deals/<%= deal.id %>"><button class="button view-btn">View</button></a>
                                            <a href="/messages/<%= deal.chat %>" style="margin-left: 1vw;"><button class="button view-btn">Contact</button></a>
                                        </div>   
                                    </div>
                                    <div class="column prod_info" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
                                        <div class="prices openPrices">
                                            <p class="price_text"> <%= deal.product.price[deal.boughtWith] %></p>
                                            <% switch(deal.boughtWith) {
                                                case 0: { %>
                                                    <span class="price_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                                                    <% break;}
                                                case 1: { %>
                                                    <span class="price_img"><img src="../../dist/img/bitcoincash.png" alt="BitcoinCash"></span>
                                                    <% break; }
                                                case 2: {%>
                                                    <span class="price_img"><img src="../../dist/img/ethereum.png" alt="Ethereum"></span>
                                                    <% break; }
                                                case 3: { %>
                                                    <span class="price_img"><img src="../../dist/img/litecoin.png" alt="Litecoin"></span>
                                                    <% break; }
                                                case 4: { %>
                                                    <span class="price_img"><img src="../../dist/img/dash.png" alt="DASH"></span>
                                                    <% break; }
                                                default: { break; } } %> 
                                        </div>
                                </div>
                            </div>
                            <hr>                            
                        <% }); %>         
                    </div>        
                    
                        <div class="pagination">
                            <p class="subtitle pagePad">Pages:</p> 
                            <% include ../partials/paginatePurchases %>
                        </div>
                 
                <% } %>
            </div>
            <div class="column"></div>
        </div>

    </div> 
</div>

<% include ../partials/footer %>
<script src='../../dist/js/dashboard_products.js'></script>