<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="../../dist/css/main.css" />
<link rel="stylesheet" href="../../dist/css/search.css">
<link rel="stylesheet" href="../../dist/css/tooltips.css">
<div class="columns">
    <% include ../partials/sidebar %>
    <div class="column dashboard-right" >
        <div class="dashTop column">
            <h2 class="title">Open Deals</h2>
        </div>
        <br>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <% if (products.docs.length === 0) { %>
                    <p class="title">You have not created any products yet.</p>
                    <p class="title">Click <a href="/dashboard/new">here</a> to create a deal.</p>
                <% } else { %>
                    <div>
                        <div class="pagination paginationT">
                            <% include ../partials/paginateIndex %>
                        </div>
                        <main id="hits" style="width: 85%; margin: auto;">
                        <% products.docs.forEach((product) => { %>
                            <article class="hit columns frame">
                                <div class="column is-one-fifth product-picture-wrapper">
                                    <div class="product-picture">
                                        <img src="<%= product.images[0].url %>">
                                    </div>
                                </div>
                                <div class="column prod_info product-desc-wrapper" style="text-align: left !important;">
                                    <div class="product-name">
                                        <a class="is-5 dealname" href="/products/<%= product._id %>/view"><%= product.name %></a>
                                        <% if (product.feat_1.status === true) { %>
                                            <p class="is-5"><span style="color: red;"><i class="fas fa-fire"></i> FEATURED DEAL <i class="fas fa-fire"></i></span></p>    
                                        <% } %>
                                        <p>
                                            <% for(let i = 0; i < 5; i++) { %>
                                                <% if(i < Math.floor(product.avgRating)) { %>
                                                <!-- display a full star -->
                                                <i class="fas fa-star" style="color: orange;"></i>
                                                <% } else if((product.avgRating - i) > 0 && (product.avgRating - i) < 1) { %>
                                                <!-- display a half star -->
                                                <i class="fas fa-star-half-alt" style="color: orange;"></i>
                                                <% } else { %>
                                                <!-- display an empty star -->
                                                <i class="far fa-star" style="color: orange;"></i>
                                                <% } %>
                                            <% } %>
                                        </p>
                                        <a href="/products/<%= product._id %>/view" class="button is-primary">View Details</a>
                                        <a href="/dashboard/<%= product._id %>/edit" class="button is-primary">Edit</a>
                                    </div>
                                    <button class="button is-danger deleteModal">Delete</button>
                                    <div class="modal modalDelete">
                                        <div class="modal-background"></div>
                                            <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Are you sure?</p>
                                                <button class="delete deleteDelete" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <p class="title is-5" style="text-align: center;">This is a permanent action. You will not be able to revert the status of your product.</p>
                                            </section>
                                            <footer class="modal-card-foot">
                                                <form class="modal-form deleteForm" action="/dashboard/<%= product._id %>?_method=DELETE" method="POST">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <button class="button is-danger">Delete</button>
                                                </form>
                                            </footer>
                                            </div>
                                    </div>
                                    <div style="display: flex; margin-top: 1vh;">
                                        <% let k = 0; %>
                                        <% if (product.deliveryOptions.city.valid) { %>
                                            <div class="label">
                                                <span class="tooltip-toggle" aria-label="Same City Delivery" tabindex="0">
                                                    <i class="fa fa-city fa-2x" style="color: green;"></i>
                                                </span>
                                            </div>
                                            <% k += 1; %>
                                        <% } %>
                                        <% if (product.deliveryOptions.state.valid) { %>
                                            <div class="label" <% if (k!=0) { %> style="margin-left: 1vw;" <% } %>>
                                                <span class="tooltip-toggle" aria-label="Same State Delivery" tabindex="0">
                                                    <i class="fa fa-map-marked-alt fa-2x" style="color: green;"></i>
                                                </span>
                                            </div>
                                            <% k += 1; %>
                                        <% } %>
                                        <% if (product.deliveryOptions.country.valid) { %>
                                            <div class="label" <% if (k!=0) { %> style="margin-left: 1vw;" <% } %>>
                                                <span class="tooltip-toggle" aria-label="Same Country Delivery" tabindex="0">
                                                    <i class="fa fa-flag fa-2x" style="color: green;"></i>
                                                </span>
                                            </div>
                                            <% k += 1; %>
                                        <% } %>
                                        <% if (product.deliveryOptions.worldwide.valid) { %>
                                            <div class="label" <% if (k!=0) { %> style="margin-left: 1vw;" <% } %>>
                                                <span class="tooltip-toggle" aria-label="Worldwide Delivery" tabindex="0">
                                                    <i class="fa fa-globe-americas fa-2x" style="color: green;"></i>
                                                </span>
                                            </div>
                                            <% k += 1; %>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="column prod_info" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; position: relative; top: -1vh;">
                                    <div class="prices openPrices frame">
                                        <p class="price_text"> <%= product.btcPrice %></p>
                                        <span class="price_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                                    </div>
                                </div>
                            </article>      
                        <% }); %> 
                    </main>
                        <div class="pagination paginationD">
                            <% include ../partials/paginateIndex %>
                        </div>        
                    </div>        
                    
                <% } %>
            </div>
            <div class="column"></div>
        </div>
        
</div> 
</div>


<% include ../partials/footer %>
<script src='../../dist/js/dashboard_products.js'></script>
<script src="../../dist/js/dashboard_open.js"></script>