<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" href="/dist/css/products.css">
<link rel="stylesheet" href="/dist/css/registerTooltips.css">
<link rel="stylesheet" href="/dist/css/parsley.css">

    <div class="columns wrapper">
            <% include ../partials/sidebar %>
            <div class="column dashboard-right smallerCenter">
                <div class="columns">
                   <div class="column"></div>
                <div class="column is-three-fifths">
                    <div class="dashTop column">
                        <h1 class="title dashTitle" style="color: white !important;">New Deal</h1>
                    </div>
                    <br>
                    <form action="/dashboard/new/<%= csrfToken %>/<%= csrfSecret %>" method="POST" enctype="multipart/form-data" id="newProductForm" data-parsley-validate>
                        <div class="container is-fluid">
                            <% if(errors){ %>
                                <div class="notification is-danger" role="alert"> 
                                <% errors.forEach(function( err){ %>
                                    <%= err.msg %><br>
                                <% }) %>
                                </div>
                            <% } %>
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text" style="margin-bottom: 3vh;">General Information</h4>
                            <div class="inputWrapper">
                                <input class="input" name="product[name]" placeholder="Name" type="text" required maxlength="100" minlength="3"
                                    data-parsley-error-message=""	 data-parsley-trigger="change" autofocus required/>
                                <div class="label" style="margin-left: 1vw;">
                                    <span class="registerTooltip" aria-label="Length: 3 - 100 characters" tabindex="-1">
                                        <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="select cont-select catSelectLeft">
                                <select name="product[category][0]" id="firstCat" style="width: 100%;" required
                                data-parsley-error-message="">
                                    <option disabled selected>Main Category</option>
                                    <option value="Collectibles and Art">Collectibles and Art</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Fashion and Beauty">Fashion and Beauty</option>
                                    <option value="Home Improvement">Home Improvement</option>
                                    <option value="Leisure Time">Leisure Time</option>
                                    <option value="Mothers and Babies">Mothers and Babies</option>
                                    <option value="Pet Supplies">Pet Supplies</option>
                                    <option value="Real Estate">Real Estate</option>
                                    <option value="Services">Services</option>
                                    <option value="Sports and Outdoors">Sports and Outdoors</option>
                                    <option value="Vehicles">Vehicles</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="select cont-select catSelectCenter">
                                <select name="product[category][1]" id="secondCat" style="width: 100%" required
                                data-parsley-error-message="">
                                    <option disabled selected>Secondary Category</option>
                                </select>
                            </div>
                            <div class="select cont-select catSelectRight">
                                <select name="product[category][2]" id="thirdCat" style="width: 100%" required
                                data-parsley-error-message="">
                                    <option disabled selected>Tertiary Category</option>
                                </select>
                            </div>
                            <div class="select cont-select" id="conditionSelect" style="width: 90% !important;">
                                <select name="product[condition]" style="width: 100%"
                                data-parsley-error-message="">
                                    <option value="Not Specified" disabled selected>Condition</option>
                                    <option value="Brand New">Brand New</option>
                                    <option value="Like New">Like New</option>
                                    <option value="Refurbished">Refurbished</option>
                                    <option value="Used">Used</option>
                                    <option value="Broken or Scrap">Broken or Scrap</option>
                                </select>
                            </div>
                            <div class="inputWrapper">
                                <textarea name="product[description]" class="textarea" placeholder="Description (500 characters)" style="margin-left: 0;" required
                                    maxlength="500"
                                    data-parsley-error-message="" data-parsley-trigger="keyup"></textarea>
                                <div class="label tooltipLabel">
                                    <span class="newTooltip" aria-label="Length: 3 - 500 characters" tabindex="-1">
                                        <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                    </span>
                                </div>
                            </div>
                            <br>
                            <div class="inputWrapper">
                                <input type="text" id="tagInput" class="input" placeholder="Tags">
                                <p class="button is-primary" id="addTag" style="margin-left: 1vw;">Add tag</p>
                                <div class="label" style="margin-left: 1vw;">
                                    <span class="registerTooltip" aria-label="Maximum 10 tags." tabindex="-1">
                                        <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                    </span>
                                </div>
                            </div>
                            <input type="text" name="product[tags]" id="tags" maxlength="500" hidden>
                            <div class="tags tagsWrapper" id="tagsControl"></div>
                            <br>
                            <div class="repeatable frame smallerCenter" id="repeatablaLabel">
                                <div>
                                    <label id="repeatableLabel" for="repeatable"><i class="fas fa-redo fa-5x"></i></label>
                                    <input id="repeatable" name="product[repeatable]" type="checkbox" value="true" hidden>
                                </div>
                                <div>
                                    <p class="title is-4" style="font-weight: 100;">Repeatable Deal</p>
                                    <p class="subtitle is-6">The product won't disappear from the market after you sell it.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text" style="margin-bottom: 3vh;">Images</h4>
                            <div class="label">
                                <span class="newTooltip" aria-label="Max filesize is 5MB" tabindex="-1">
                                    <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                </span>
                            </div>
                            <div class="file-upload">
                                <div class="mobileUpload">
                                    <label for="upload[0]" class="file-upload__label label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <figure class="image previewImage hide is-128x128">
                                                <img id="Preview0" src="https://bulma.io/images/placeholders/128x128.png" alt="Picture 0">
                                            </figure>
                                        </span>
                                    </label>
                                    <input id="upload[0]" class="file-upload__input" accept="image/*" type="file" name="images" onchange="PicturePreview(this, 0);">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt fa-2x"></i>
                                        </span>
                                    </label>
                                </div>
                                <div class="mobileUpload">
                                    <label for="upload[1]" class="file-upload__label label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <figure class="image previewImage hide is-128x128">
                                                <img id="Preview1" src="https://bulma.io/images/placeholders/128x128.png" alt="Picture 1">
                                            </figure>
                                        </span>
                                    </label>
                                    <input id="upload[1]" class="file-upload__input" accept="image/*" type="file" name="images" onchange="PicturePreview(this, 1);">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt fa-2x"></i>
                                        </span>
                                    </label>
                                </div>
                                <div class="mobileUpload">
                                    <label for="upload[2]" class="file-upload__label label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <figure class="image previewImage hide is-128x128">
                                                <img id="Preview2" src="https://bulma.io/images/placeholders/128x128.png" alt="Picture 2">
                                            </figure>
                                        </span>
                                    </label>
                                    <input id="upload[2]" class="file-upload__input" accept="image/*" type="file" name="images" onchange="PicturePreview(this, 2);">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt fa-2x"></i>
                                        </span>
                                    </label>
                                </div>
                                <div class="mobileUpload">
                                    <label for="upload[3]" class="file-upload__label label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <figure class="image previewImage hide is-128x128">
                                                <img id="Preview3" src="https://bulma.io/images/placeholders/128x128.png" alt="Picture 3">
                                            </figure>
                                        </span>
                                    </label>
                                    <input id="upload[3]" class="file-upload__input" accept="image/*" type="file" name="images" onchange="PicturePreview(this, 3);">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt fa-2x"></i>
                                        </span>
                                    </label>
                                </div>
                                <div class="mobileUpload">
                                    <label for="upload[4]" class="file-upload__label label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <figure class="image previewImage hide is-128x128">
                                                <img id="Preview4" src="https://bulma.io/images/placeholders/128x128.png" alt="Picture 4">
                                            </figure>
                                        </span>
                                    </label>
                                    <input id="upload[4]" class="file-upload__input" accept="image/*" type="file" name="images" onchange="PicturePreview(this, 4);">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt fa-2x"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>                                     
                        </div>
                        <br>
                        <div class="frame">
                            <input type="text" id="userType" value="<% if (premium == true) { %>Premium<% } else { %><%= user.accountType %><% } %>" hidden>
                            <h4 class="new-text" style="margin-bottom: 3vh;">Price</h4>                            
                            <div class="field">
                                <label class="label" for="usd-price" style="text-align: left; width: 90%; margin: auto; margin-bottom: 0.5em;">Listing Price (USD)</label>
                                <p class="control has-icons-left smmargin" style="margin: auto;">
                                    <input class="input" id="usd-price" name="product[usd_price]" placeholder="Price (USD)" type="number" step="0.01" min="0.01" />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-dollar-sign" style="color: green;"></i>
                                    </span>
                                </p>
                            </div>
                            <% if (oneDollar != null) { %>
                            <div class="field">
                                <label class="label" for="btc-price" style="text-align: left; width: 90%; margin: auto; margin-bottom: 0.5em;">Listing Price (BTC Estimate)</label>
                                <p class="control has-icons-left smmargin" style="margin: auto;">
                                    <input class="input" id="btc-price" placeholder="Price (BTC)" type="number" step="0.00000001" min="0.00000001" readonly/>
                                    <span class="icon is-small is-left">
                                        <i class="fab fa-bitcoin" style="color: orange;"></i>
                                    </span>
                                </p>
                            </div>
                            <% } %>
                            <input style="display: none;" id="oneDollar" value="<% if (oneDollar != null) { %><%= oneDollar.toFixed(8) %><% } %>">
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text">Promote your deal</h4>
                            <h5 class="token-text">You have <%= user.feature_tokens %> tokens</h5>
                            <div class="columns">
                                <div class="column is-one-fifth"></div>
                                <div class="column frame">
                                    <label for="feat_1" id="feat1Label">
                                        <i class="fas fa-angle-double-up fa-7x blueI" id="feat1I" style="margin-bottom: 1vh;"></i>
                                        <br>
                                        <p style="font-weight: 800">Subcategory feature</p>
                                        <br>
                                        <p>The product will be shown towards the beginning of the list</p>
                                        <p>Lasts 14 days</p>
                                        <p>Costs 5 tokens</p>
                                        <br>
                                        <input name="product[feat_1]" type="checkbox" id="feat_1" class="is-checkradio is-info is-large" value="1">
                                        <label for="feat_1" style="padding-left: 2rem !important;"></label>
                                    </label>
                                </div>
                                <div class="column frame">
                                    <label for="feat_2" id="feat2Label">
                                        <i class="fas fa-file fa-7x blueI" id="feat2I" style="margin-bottom: 1vh;"></i>
                                        <p style="font-weight: 800">Frontpage feature</p>
                                        <br>
                                        <p>The product will be shown on the website's front page</p>
                                        <p>Lasts 7 days</p>
                                        <p>Costs 15 tokens</p>
                                        <br>
                                        <input name="product[feat_2]" type="checkbox" id="feat_2" class="is-checkradio is-info is-large" value="1">
                                        <label for="feat_2" style="padding-left: 2rem !important;"></label>
                                    </label>
                                </div>
                                <div class="column is-one-fifth"></div>
                            </div>
                            <div class="control smmargin" style="margin: auto; margin-top: 2vh;">
                                <button type="submit" form="newProductForm" class="button is-primary" id="createNewDeal">Create new deal</button>
                                <p class="help">
                                    By creating a new deal you agree to our 
                                    <a href="/terms-of-service" class="link" target="_blank">Terms of Service</a> 
                                    and 
                                    <a href="/shipping" class="link" target="_blank">Shipping & Delivery</a> 
                                    policy.
                                </p>
                            </div>
                        </div>
                    </form>                
                </div>
                <div class="column"></div> 
                </div>
            </div>
        
</div>


<script src="/dist/js/dashboard_new.js"></script>
<script src="/dist/js/jquery-3.4.1.slim.min.js"></script>
<script src="/dist/js/parsley.min.js"></script>
<% include ../partials/footer %>