<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" href="/dist/css/products.css">
<link rel="stylesheet" href="/dist/css/registerTooltips.css">
<link rel="stylesheet" href="/dist/css/parsley.css">
<div class="columns wrapper">
    <% include ../partials/sidebar %>
    
    <div class="column dashboard-right smallerCenter">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-fifths">
                <div class="dashTop column">
                    <h1 class="title dashTitle" style="color: white !important;">Edit Product</h1>
                </div>
                <br>
                <form action="/dashboard/<%= product._id %>/<%= csrfToken %>/<%= csrfSecret %>?_method=PUT" method="POST" enctype="multipart/form-data" id="editProductForm" data-parsley-validate>
                    <div class="container is-fluid">
                        <% if(errors){ %>
                            <div class="notification is-danger" role="alert"> 
                            <% errors.forEach(function( err){ %>
                                <%= err.msg %><br>
                            <% }) %>
                            </div>
                        <% } %>
                    </div>
                    <br>
                    <div class="frame">
                        <h4 class="new-text" style="margin-bottom: 3vh;">General Information</h4>
                        <div class="inputWrapper">
                            <input class="input" name="product[name]" value="<%= product.name %>" type="text" required maxlength="100"
                            data-parsley-error-message=""	 data-parsley-trigger="change"/>
                            <div class="label" style="margin-left: 1vw;">
                                <span class="registerTooltip" aria-label="Length: 3 - 100 characters" tabindex="-1">
                                    <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                </span>
                            </div>
                        </div>
                        <div class="select cont-select catSelectLeft">
                            <select name="product[category][0]" id="firstCat" style="width: 100%;" required
                            data-parsley-error-message="">
                                <option disabled>Main Category</option>
                                <option value="Collectibles & Art" <% if (product.category[1] == 'Collectibles & Art') { %> selected <% } %>>Collectibles & Art</option>
                                <option value="Electronics" <% if (product.category[1] == 'Electronics') { %> selected <% } %>>Electronics</option>
                                <option value="Fashion & Beauty" <% if (product.category[1] == 'Fashion & Beauty') { %> selected <% } %>>Fashion & Beauty</option>
                                <option value="Home Improvement" <% if (product.category[1] == 'Home Improvement') { %> selected <% } %>>Home Improvement</option>
                                <option value="Leisure Time" <% if (product.category[1] == 'Leisure Time') { %> selected <% } %>>Leisure Time</option>
                                <option value="Mothers & Babies" <% if (product.category[1] == 'Mothers & Babies') { %> selected <% } %>>Mothers & Babies</option>
                                <option value="Pet Supplies" <% if (product.category[1] == 'Pet Supplies') { %> selected <% } %>>Pet Supplies</option>
                                <option value="Real Estate" <% if (product.category[1] == 'Real Estate') { %> selected <% } %>>Real Estate</option>
                                <option value="Sports & Outdoors" <% if (product.category[1] == 'Sports & Outdoors') { %> selected <% } %>>Sports & Outdoors</option>
                                <option value="Vehicles" <% if (product.category[1] == 'Vehicles') { %> selected <% } %>>Vehicles</option>
                                <option value="Other" <% if (product.category[1] == 'Other') { %>selectd<% } %>>Other</option>
                            </select>
                        </div>
                        <div class="select cont-select catSelectCenter">
                            <select type="text" name="product[category][1]" id="secondCat" style="width: 100%" required
                            data-parsley-error-message="">
                                <option value="<%= product.category[2] %>" selected><%= product.category[2] %></option>
                            </select>
                        </div>
                        <div class="select cont-select catSelectRight">
                            <select type="text" name="product[category][2]" id="thirdCat" style="width: 100%" required
                            data-parsley-error-message="">
                                <option value="<%= product.category[3] %>" selected><%= product.category[3] %></option>
                            </select>
                        </div>
                        <div class="select cont-select" style="width: 90% !important;">
                            <select type="text" name="product[condition]" style="width: 100%" required
                            data-parsley-error-message="">
                                <option disabled>Condition</option>
                                <option value="Not Specified" <% if (product.condition == 'Not Specified') { %> selected <% } %> >Not Specified</option>
                                <option value="Brand New" <% if (product.condition == 'Brand New') { %> selected <% } %> >Brand New</option>
                                <option value="Like New" <% if (product.condition == 'Like New') { %> selected <% } %>>Like New</option>
                                <option value="Refurbished" <% if (product.condition == 'Refurbished') { %> selected <% } %>>Refurbished</option>
                                <option value="Used" <% if (product.condition == 'Used') { %> selected <% } %>>Used</option>
                                <option value="Broken" <% if (product.condition == 'Broken or Scrap') { %> selected <% } %>>Broken or Scrap</option>
                            </select>
                        </div>
                        <div class="inputWrapper">
                            <textarea name="product[description]" class="textarea" value="<%= product.description %>" placeholder="Description (500 characters)" style="margin-left: 0;" required
                                maxlength="500"
                                data-parsley-pattern-message="The description contains invalid characters" data-parsley-trigger="change"><%= product.description %></textarea>
                            <div class="label tooltipLabel">
                                <span class="newTooltip" aria-label="Length: 3 - 500 characters" tabindex="-1">
                                    <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                </span>
                            </div>
                        </div>
                        <br>
                        <div class="inputWrapper">
                            <input type="text" id="tagInput" class="input" placeholder="Tags" style="width: 90%;">
                            <p class="button is-primary" id="addTag" style="margin-left: 1vw;">Add tag</p>
                            <div class="label" style="margin-left: 1vw;">
                                <span class="registerTooltip" aria-label="Maximum 10 tags" tabindex="-1">
                                    <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                </span>
                            </div>
                        </div>
                        <input type="text" name="product[tags]" id="tags" value="<% product.tags.forEach(tag => { %><%= tag %> <%});%>" hidden  required>
                        <div class="tags tagsWrapper" id="tagsControl">
                            <% product.tags.forEach(tag => { %>
                                <span class="tag is-link is-medium">
                                    <%= tag %>
                                    <button type="button" class="delete deleteTag is-small"></button>
                                </span>
                            <% }); %>
                        </div>
                        <br>     
                        <div class="repeatable">
                            <div>
                                <label id="repeatableLabel" for="repeatable"><i class="fas fa-redo fa-5x <% if (product.repeatable) { %>green<% } else { %>normal<% } %>"></i></label>
                                <input id="repeatable" name="product[repeatable]" type="checkbox" value="true" <% if (product.repeatable) { %>checked<% } %> hidden>
                            </div>
                            <div>
                                <p class="title is-4" style="font-weight: 100;">Repeatable Deal</p>
                                <p class="subtitle is-6">The product won't disappear from the market after you sell it.</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="frame">
                        <h4 class="new-text" style="margin-bottom: 3vh;">Images</h4>
                        <div class="label">
                            <span class="newTooltip" aria-label="The recommended aspect ratio is 16:9
All images are scaled to that ratio" tabindex="-1">
                                <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                            </span>
                        </div>
                        <input type="text" id="deleteImages" name="deleteImages" hidden>
                        <div class="file-upload">
                            <div class="mobileUpload">
                                <label for="upload[0]" name="u" class="<% if (product.images[0]) { %> file-upload__label-green <% } else { %> file-upload__label <% } %>">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square <% if (product.images[0]) { %> hide <% } %>"></i>
                                        <i class="far fa-check-square <% if (!product.images[0]) { %> hide <% } %>"></i>
                                    </span>
                                </label>
                                <input id="upload[0]" class="file-upload__input" accept="image/*" type="file" name="images" 
                                    <% if (product.images[0]) { %> value="<%= product.images[0].url %>" <% } %>>
                                <label class="file-delete__label <% if (!product.images[0]) { %> hide <% } %>">
                                    <span>
                                        <i class="far fa-trash-alt fa-2x"></i>
                                    </span>
                                </label>
                                <br>
                                <% if(product.images[0].url) { %>
                                    <figure class="image is-128x128">
                                        <img src="<%= product.images[0].url %>">
                                    </figure>
                                <% } %>
                            </div>
                            <div class="mobileUpload">
                                <label for="upload[1]" name="u" class="<% if (product.images[1]) { %> file-upload__label-green <% } else { %> file-upload__label <% } %>">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square <% if (product.images[1]) { %> hide <% } %>"></i>
                                        <i class="far fa-check-square <% if (!product.images[1]) { %> hide <% } %>"></i>
                                    </span>
                                </label>
                                <input id="upload[1]" class="file-upload__input" accept="image/*" type="file" name="images" 
                                    <% if (product.images[1]) { %> value="<%= product.images[1].url %>" <% } %>>
                                <label class="file-delete__label <% if (!product.images[1]) { %> hide <% } %>">
                                    <span>
                                        <i class="far fa-trash-alt fa-2x"></i>
                                    </span>
                                </label>
                                <br>
                                <% if(product.images[1].url) { %>
                                    <figure class="image is-128x128">
                                        <img src="<%= product.images[1].url %>">
                                    </figure>
                                <% } %>
                            </div>
                            <div class="mobileUpload">
                                <label for="upload[2]" name="u" class="<% if (product.images[2]) { %> file-upload__label-green <% } else { %> file-upload__label <% } %>">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square <% if (product.images[2]) { %> hide <% } %>"></i>
                                        <i class="far fa-check-square <% if (!product.images[2]) { %> hide <% } %>"></i>
                                    </span>
                                </label>
                                <input id="upload[2]" class="file-upload__input" accept="image/*" type="file" name="images" 
                                    <% if (product.images[2]) { %> value="<%= product.images[2].url %>" <% } %>>
                                <label class="file-delete__label <% if (!product.images[2]) { %> hide <% } %>">
                                    <span>
                                        <i class="far fa-trash-alt fa-2x"></i>
                                    </span>
                                </label>
                                <br>
                                <% if(product.images[2].url) { %>
                                    <figure class="image is-128x128">
                                        <img src="<%= product.images[2].url %>">
                                    </figure>
                                <% } %>
                            </div>
                            <div class="mobileUpload">
                                <label for="upload[3]" name="u" class="<% if (product.images[3]) { %> file-upload__label-green <% } else { %> file-upload__label <% } %>">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square <% if (product.images[3]) { %> hide <% } %>"></i>
                                        <i class="far fa-check-square <% if (!product.images[3]) { %> hide <% } %>"></i>
                                    </span>
                                </label>
                                <input id="upload[3]" class="file-upload__input" accept="image/*" type="file" name="images" 
                                    <% if (product.images[3]) { %> value="<%= product.images[3].url %>" <% } %>>
                                <label class="file-delete__label <% if (!product.images[3]) { %> hide <% } %>">
                                    <span>
                                        <i class="far fa-trash-alt fa-2x"></i>
                                    </span>
                                </label>
                                <br>
                                <% if(product.images[3].url) { %>
                                    <figure class="image is-128x128">
                                        <img src="<%= product.images[3].url %>">
                                    </figure>
                                <% } %>
                            </div>
                            <div class="mobileUpload">
                                <label for="upload[4]" name="u" class="<% if (product.images[4]) { %> file-upload__label-green <% } else { %> file-upload__label <% } %>">
                                    <span style="font-size: 5rem;">
                                        <i class="far fa-plus-square square <% if (product.images[4]) { %> hide <% } %>"></i>
                                        <i class="far fa-check-square <% if (!product.images[4]) { %> hide <% } %>"></i>
                                    </span>
                                </label>
                                <input id="upload[4]" class="file-upload__input" accept="image/*" type="file" name="images" 
                                    <% if (product.images[4]) { %> value="<%= product.images[4].url %>" <% } %>>
                                <label class="file-delete__label <% if (!product.images[4]) { %> hide <% } %>">
                                    <span>
                                        <i class="far fa-trash-alt fa-2x"></i>
                                    </span>
                                </label>
                                <br>
                                <% if(product.images[4].url) { %>
                                    <figure class="image is-128x128">
                                        <img src="<%= product.images[4].url %>">
                                    </figure>
                                <% } %>
                            </div>
                        </div>                                     
                    </div>
                    <br>
                    <div class="frame">
                        <input type="text" id="userType" value="<% if (premium == true) { %>Premium<% } else { %><%= user.accountType %><% } %>" hidden>
                        <h4 class="new-text" style="margin-bottom: 3vh;">Price</h4>                        
                        <div class="field">
                            <label class="label" for="btc-price" style="text-align: left; width: 90%; margin: auto; margin-bottom: 0.5em;">Listing Price (BTC)</label>
                            <p class="control has-icons-left smmargin" style="margin: auto;">
                                <input class="input" id="btc-price" name="product[btc_price]" placeholder="Price (BTC)" type="number" step="0.00000001" min="0.00000001" value="<%= product.btcPrice %>" />
                                <span class="icon is-small is-left">
                                    <i class="fab fa-bitcoin" style="color: orange;"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label" for="usd-price" style="text-align: left; width: 90%; margin: auto; margin-bottom: 0.5em;">Listing Price (USD)</label>
                            <p class="control has-icons-left smmargin" style="margin: auto;">
                                <input class="input" id="usd-price" placeholder="Price (USD)" type="number" step="0.01" min="0.01" />
                                <span class="icon is-small is-left">
                                    <i class="fas fa-dollar-sign" style="color: green;"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field" style="width: 90%; margin: auto; margin-bottom: 0.75rem;">
                            <label class="label" for="fee" style="text-align: left;"><% if (premium) { %>Premium<%} else { %><%= user.accountType %><% } %> Account Fee</label>
                            <input type="text" class="input" value="<% if ((premium) || (user.accountType == 'Partner')) { %> 8% <% } else { %>10%<% } %>">
                        </div>
                        <div class="field">
                            <label class="label" for="btc-payout" style="text-align: left; width: 90%; margin: auto; margin-bottom: 0.5em;">Estimated Payout (BTC)</label>
                            <p class="control has-icons-left smmargin" style="margin: auto;">
                                <input class="input" id="btc-payout" placeholder="Payout (BTC)" type="number" step="0.00000001" min="0.00000001" readonly/>
                                <span class="icon is-small is-left">
                                    <i class="fab fa-bitcoin" style="color: orange;"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label" for="usd-payout" style="text-align: left; width: 90%; margin: auto; margin-bottom: 0.5em;">Estimated Payout (USD)</label>
                            <p class="control has-icons-left smmargin" style="margin: auto;">
                                <input class="input" id="usd-payout" placeholder="Payout (USD)" type="number" step="0.00000001" min="0.00000001" readonly />
                                <span class="icon is-small is-left">
                                    <i class="fas fa-dollar-sign" style="color: green;"></i>
                                </span>
                            </p>
                        </div>
                        <input style="display: none;" id="oneDollar" value="<%= oneDollar.toFixed(8) %>">
                    </div>
                    <br>
                    <div class="control smmargin" style="margin: auto !important;">
                        <button form="editProductForm" class="button is-primary is-rounded" id="createNewDeal">Update Deal</button>
                    </div>
                </form>
                <br>
                <div class="frame">
                    <h4 class="new-text">Feature your deal</h4>
                    <h5 class="token-text">You have <%= user.feature_tokens %> tokens</h5>
                    <div class="columns">
                        <div class="column is-one-fifth"></div>
                        <div class="column frame">
                            <label for="feat_1">
                                <i class="fas fa-angle-double-up fa-7x blueI" id="feat1I" style="margin-bottom: 1vh;"></i>
                                <br>
                                <p style="font-weight: 800">Subcategory feature</p>
                                <br>
                                <p>The product will be shown towards the beginning of the list</p>
                                <p>Lasts 14 days</p>
                                <p>Costs 5 tokens</p>
                                <br>
                                <% if (product.feat_1.status) { %>
                                    <p style="color: red;">Unable to buy until the current subcategory feature expires</p>
                                    <br>
                                    <p>Expiry date: <%= product.feat_1.expiry_date.getDate() %>/<%= product.feat_1.expiry_date.getMonth() %>/<%= product.feat_1.expiry_date.getFullYear() %></p>
                                <% } else { %>
                                    <form action="/dashboard/<%= product._id %>/edit/1/<%= csrfToken %>/<%= csrfSecret %>?_method=PUT" method="POST" style="padding: inherit;">
                                        <button class="button is-primary">Feature</button>
                                    </form>
                                <% } %>
                            </label>
                        </div>
                        <div class="column frame">
                            <label for="feat_2">
                                <i class="fas fa-file fa-7x blueI" id="feat2I" style="margin-bottom: 1vh;"></i>
                                <p style="font-weight: 800">Frontpage feature</p>
                                <br>
                                <p>The product will be shown on the website's front page</p>
                                <p>Lasts 7 days</p>
                                <p>Costs 15 tokens</p>
                                <br>
                                <% if (product.feat_2.status) { %>
                                    <p style="color: red;">Unable to buy until the current frontpage feature expires</p>
                                    <br>
                                    <p>Expiry date: <%= product.feat_2.expiry_date.getDate() %>/<%= product.feat_2.expiry_date.getMonth() %>/<%= product.feat_2.expiry_date.getFullYear() %></p>
                                <% } else { %>
                                    <form action="/dashboard/<%= product._id %>/edit/2/<%= csrfToken %>/<%= csrfSecret %>?_method=PUT" method="POST" style="padding: inherit;">
                                        <button class="button is-primary">Feature</button>
                                    </form>
                                <% } %>
                            </label>
                        </div>
                        <div class="column is-one-fifth"></div>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>

<script src="/dist/js/dashboard_new.js"></script>
<script src="/dist/js/deleteImages.js"></script>
<span id="currentImages" hidden>
    <%= JSON.stringify(product.images) %>
</span>
<script src="/dist/js/jquery-3.4.1.slim.min.js"></script>
<script src="/dist/js/parsley.min.js"></script>
<% include ../partials/footer %>
