<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="../../dist/css/main.css" />
<div class="columns">
    <% include ../partials/sidebar %>
    <div class="column dashboard-right">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <% if (products.docs.length === 0) { %>
                    <p class="title">You do not have any closed deals yet.</p>
                <% } else { %>
                    <div style="overflow-x: hidden;">
                        <div class="pagination">
                            <p class="subtitle pagePad" >Pages:</p> 
                            <% include ../partials/paginateIndex %>
                        </div>
                        <% products.docs.forEach((product) => { %>
                            <div class="columns">
                                    <div class="column is-one-quarter">
                                            <img src="<%= product.images[0].url %>" class="open-img">
                                    </div>
                                    <div class="column prod_info">
                                        <p class="title is-5 dealname"><%= product.name %></p>
                                        <p class="subtitle is-6"><sub>Shipping: TBD</sub></p>
                                        <div style="display: flex;">
                                            <a href="/products/<%= product._id %>/view"><button class="button view-btn">View</button></a>
                                        </div>   
                                    </div>
                                    <div class="column prod_info" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
                                    <% if (product.accepted[0]) { %>
                                        <div class="prices openPrices">
                                            <p class="price_text"> <%= product.price[0] %></p>
                                            <span class="price_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                                        </div>
                                    <% } 
                                        if (product.accepted[1]) {
                                    %>
                                        <div class="prices openPrices">
                                            <p class="price_text"> <%= product.price[1] %></p>
                                            <span class="price_img"><img src="../../dist/img/bitcoincash.png" alt="BitcoinCash"></span>
                                        </div>
                                    <% } 
                                        if (product.accepted[2]) {
                                    %>
                                        <div class="prices openPrices">
                                            <p class="price_text"> <%= product.price[2] %></p>
                                            <span class="price_img"><img src="../../dist/img/ethereum.png" alt="Ethereum"></span>
                                        </div>
                                    <% } 
                                        if (product.accepted[3]) {
                                    %>
                                        <div class="prices openPrices">
                                            <p class="price_text"> <%= product.price[3] %></p>
                                            <span class="price_img"><img src="../../dist/img/litecoin.png" alt="Litecoin"></span>
                                        </div>
                                    <% } 
                                        if (product.accepted[4]) {
                                    %>
                                        <div class="prices openPrices">
                                            <p class="price_text"> <%= product.price[4] %></p>
                                            <span class="price_img"><img src="../../dist/img/dash.png" alt="DASH"></span> 
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <hr>                         
                        <% }); %>         
                    </div>        
                    <div  class="pagination paginationD">
                        <p class="subtitle pagePad">Pages:</p> 
                        <% include ../partials/paginateIndex %>
                    </div>
                <% } %>       
            </div>
            <div class="column"></div>
        </div>

    </div> 
</div>

<% include ../partials/footer %>
<script src='../../dist/js/dashboard_products.js'></script>