<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="../../dist/css/main.css" />
<link rel="stylesheet" href="../../dist/css/tooltips.css">
<div class="columns" style="overflow: hidden; margin: auto;">
    <% include ../partials/sidebar %>
    <div class="column dashboard-right">
        <div class="dashTop column">
            <h2 class="title">Purchases</h2>
        </div>
        <br>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <% if (deals.total === 0) { %>
                        <p class="title">You have not purchased any products yet.</p>
                <% } else { %>
                    <div>
                        <% if (deals.total > 10) { %>
                            <div class="pagination paginationT">
                                <% include ../partials/paginatePurchases %>
                            </div>
                        <% } %>
                        <main id="hits" style="width: 85%; margin: auto;">
                            <% deals.docs.forEach((deal) => { %>
                                <article class="hit columns frame">
                                        <div class="product-picture-wrapper" style="margin-bottom: auto;">
                                            <figure class="image is-128x128" style="margin:auto;">
                                                <img src="<%= deal.product.imageUrl %>" style="margin: auto; height: 100%; border-style: solid; border-radius: 10px;">
                                            </figure>
                                        </div>
                                        <div class="column prod_info product-desc-wrapper" style="text-align: left !important;">
                                            <div class="product-name">
                                                <p class="title is-6"><%= deal.product.name %></p>
                                                <p class="subtitle is-6" style="margin-bottom: 1vh;"><sub>Status: <%= deal.status %></sub></p>
                                                <form action="/messages/<%= deal.chat %>/<%= deal._id %>?_method=PUT" method="POST">
                                                    <button class="button view-btn is-primary">View Deal</button>
                                                </form>
                                                <br>
                                                <div style="display: flex;">
                                                    <a href="/products/<%= deal.product.id %>/view"><button class="button view-btn is-primary">View Product</button></a>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="column prod_info" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; position: relative; top: -1vh;">
                                            <div class="prices openPrices frame" style="width: 100%;">
                                                <p class="price_text" style="padding-left: 2vw;"><%= deal.price %></p>
                                                <span class="price_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>

                                            </div>
                                        </div>
                                    </article>                                          
                            <% }); %>         
                        </main>       
                    </div>        
                    <% if (deals.total > 10) { %>
                        <div class="pagination paginationD">
                            <% include ../partials/paginatePurchases %>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <div class="column"></div>
        </div>

    </div> 
</div>

<% include ../partials/footer %>
<script src='../../dist/js/dashboard_products.js'></script>