<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/bulma-steps.min.css" />
<script src="/dist/js/bulma-steps.min.js"></script>
<div class="columns wrapper">
    <% include ../partials/sidebar %>
    <div class="column dashboard-right smallerCenter">
        <div class="dashTop column">
            <h2 class="title dashTitle" style="color: white !important;">Addresses</h2>
        </div>
        <br>
        <div class="container is-fluid errors">
            <% if(errors){ %>
                <div class="notification is-danger" role="alert"> 
                <% errors.forEach(function( err){ %>
                    <%= err.msg %><br>
                <% }) %>
                </div>
            <% } %>
        </div>
        <div class="columns">
            <div class="column is-four-fifths" style="margin: auto;">
                <div class="columns">
                    <div class="column frame">  
                        <div class="adr">
                            <div class="currency"> 
                                <span class="price_img"><i class="fab fa-bitcoin fa-lg currencyIcon" style="color: orange;"></i></span>
                                <p class="title"> = $<%= btcrate %> USD</p>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="address">
                                        <label class="label adrlabel">Current<br/> Address</label>
                                        <input class="input smmargin adradr" name="user[btcadr]" value="<% if (user.btcadr) { %><%= user.btcadr %><% } else { %>No current withdraw address found - please add a new one below<% } %>" readonly />
                                    </div>
                                    <form action="/dashboard/addresses" id="addressesForm" method="POST">
                                        <div class="address">
                                            <label class="label adrlabel" for="btcadr">New <br/> Address</label>
                                            <input class="input smmargin adradr" name="btcadr" id="btcadr" placeholder="Withdraw Bitcoin Address" type="text" required />
                                        </div>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                    </form>
                                    <div class="buttons has-addons is-centered">
                                        <button form="addressesForm" class="button is-primary">Change Address</button>
                                        <a href="/buy-bitcoin" class="button is-primary">Buy Bitcoin</a>
                                    </div>
                                    <div class="address">
                                        <label class="label adrlabel" style="margin-top: 1.2em;">Balance</label>
                                        <input class="input smmargin adradr" name="btc_value" value="<% if (user.btcbalance) { %><%= user.btcbalance.toFixed(8) %> BTC = <%= (user.btcbalance * btcrate).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g,',') %> USD <% } else { %>0.00000000 BTC <% } %>" type="text" readonly />
                                    </div>
                                    <div class="buttons has-addons is-centered">
                                        <button class="button is-primary topup" style="margin-top:1vh;" id="depositBtn">Deposit BTC</button>
                                        <button class="button is-primary withdraw" style="margin-top:1vh;">Withdraw BTC</button>
                                        <button class="button is-primary coinswitch" style="margin-top:1vh;" id="myButton">Deposit with Altcoins</button>
                                    </div>
                                    <div class="modal modalTopup">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Deposit Bitcoin</p>
                                                <button class="delete deleteTopup is-large" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <div class="lds-roller" id="depositSpinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                                <div id="depositBody">
                                                    <p class="title is-5 modal-section-title">Transaction details</p>
                                                    <div style="text-align: left;">
                                                        <div class="field">
                                                            <p class="control has-icons-left">
                                                                <input class="input" name="rate" value="1 BTC = $<%= btcrate %> USD" required readonly/>
                                                                <span class="icon is-small is-left">
                                                                    <i class="fab fa-bitcoin" style="color: orange"></i>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="field">
                                                            <p class="control has-icons-left">
                                                                <input class="input" name="transactionId" id="transactionId" value="Transaction ID: " required readonly />
                                                                <span class="icon is-small is-left">
                                                                    <i class="fas fa-id-card" style="color: lightblue"></i>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="field">
                                                            <p class="control has-icons-left">
                                                                <input class="input" name="maxConfirmationsBTC" value="Required Confirmations: <%= maxConfirmationsBTC %>" required readonly/>
                                                                <span class="icon is-small is-left">
                                                                    <i class="fas fa-calendar-check" style="color: green"></i>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <p class="title is-5 modal-section-title">Send Bitcoin to this address valid for 15 minutes only</p>
                                                    <input class="input" id="depositAddressBTC" name="depositAddressBTC" value="Bitcoin Deposit Address" readonly/>
                                                    <input type="hidden" id="username" name="username" value="<%= user.username %>" />
                                                </div>
                                            </section>
                                            <footer class="modal-card-foot">
                                                <button class="button is-danger cancelTopup">Cancel</button>
                                                <p class="subtitle">You will receive a success email after enough confirmations.</p>
                                            </footer>
                                        </div>
                                    </div>
                                    <div class="modal modalWithdraw">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Withdraw Bitcoin</p>
                                                <button class="delete deleteWithdraw is-large" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <p class="title is-5 modal-section-title">Instructions</p>
                                                <div style="text-align: left;">
                                                    <p class="subtitle">1. Input how much you wish to withdraw</p>
                                                    <p class="subtitle">2. Add a withdrawal address (if you haven't already)</p>
                                                    <p class="subtitle">3. Bear in mind there will be 0.00005 BTC subtracted to cover transaction fee.</p>
                                                    <p class="subtitle">4. Click continue to start the transaction</p>
                                                    <p class="subtitle">5. If you've received a succes message, check your wallet for your funds.</p>
                                                </div>
                                                <br>
                                                <p class="title is-5 modal-section-title">Input Value</p>
                                                <form action="/dashboard/addresses/verifyWithdraw" method="POST">
                                                    <div class="field is-horizontal">
                                                        <div class="field-label is-normal">
                                                        <label class="label" for="withdrawValue">Value</label>
                                                        </div>
                                                        <div class="field-body">
                                                        <div class="field">
                                                            <div class="control">
                                                                <input class="input" name="value" id="withdrawValue" placeholder="0.00000000 BTC" type="number" step="0.00000001" min="0.00005" required/>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <% if(user.btcadr) { %>
                                                    <input type="hidden" name="address" value="<%= user.btcadr %>" />
                                                    <% } else { %>
                                                    <div class="field is-horizontal">
                                                        <div class="field-label is-normal">
                                                        <label class="label" for="withdrawAddress">Address</label>
                                                        </div>
                                                        <div class="field-body">
                                                        <div class="field">
                                                            <div class="control">
                                                                <input class="input" name="address" id="withdrawAddress" placeholder="Bitcoin Address" type="text" required />
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                    <button class="button is-primary">Continue</button>
                                                </form>
                                            </section>
                                            <footer class="modal-card-foot">
                                                <button class="button is-danger cancelWithdraw">Cancel</button>
                                                <p class="subtitle">Your withdrawal will also have 0.00005000 (BTC) subtracted to cover the transaction fee.</p>
                                            </footer>
                                        </div>
                                    </div>
                                    <div class="modal modalCoinswitch">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Deposit Altcoins</p>
                                                <button class="delete deleteCoinswitch is-large" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                    <div class="lds-roller" id="altcoinsSpinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                                    <div id="errorImage" style="display: none;">
                                                        <p class="subtitle">There's been an error with your request, please refresh the page and try again.</p>
                                                        <button class="button is-warning" value="Refresh Page" onClick="window.location.reload();">Refresh Page</button>
                                                    </div>
                                                    <div class="steps" id="stepsDemo">
                                                        <div class="step-item is-active">
                                                            <div class="step-marker">1</div>
                                                            <div class="step-details">
                                                            <p class="step-title">Pair</p>
                                                            </div>
                                                        </div>
                                                        <div class="step-item">
                                                            <div class="step-marker">2</div>
                                                            <div class="step-details">
                                                            <p class="step-title">Rate</p>
                                                            </div>
                                                        </div>
                                                        <div class="step-item">
                                                            <div class="step-marker">3</div>
                                                            <div class="step-details">
                                                            <p class="step-title">Deposit</p>
                                                            </div>
                                                        </div>
                                                        <div class="step-item">
                                                            <div class="step-marker">4</div>
                                                            <div class="step-details">
                                                            <p class="step-title">Status</p>
                                                            </div>
                                                        </div>
                                                        <div class="steps-content">
                                                            <div class="step-content has-text-centered is-active">
                                                                <div class="field is-horizontal">
                                                                    <div class="field-label is-normal">
                                                                    <label class="label">Receive BTC</label>
                                                                    </div>
                                                                    <div class="field-body">
                                                                    <div class="field">
                                                                        <div class="control">
                                                                            <input class="input" name="btc_value" placeholder="Balance: <% if (user.btcbalance) { %><%= user.btcbalance %> BTC<% } else { %>0.000000000 BTC <% } %>" type="number" step="any" data-validate="require" readonly/>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                <div class="field is-horizontal">
                                                                    <div class="field-label is-normal">
                                                                    <label class="label">Deposit With</label>
                                                                    </div>
                                                                    <div class="field-body">
                                                                    <div class="field">
                                                                        <div class="control">
                                                                            <select name="counter" class="select" id="counter" style="width: 100%;" data-validate="require">
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="step-content has-text-centered">
                                                            <div class="field is-horizontal">
                                                                <div class="field-label is-normal">
                                                                <label class="label">Deposit Coin:</label>
                                                                </div>
                                                                <div class="field-body">
                                                                <div class="field">
                                                                    <div class="control">
                                                                        <input class="input" name="depositCoin" id="depositCoin" placeholder="Loading..." type="text" readonly data-validate="require" />
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="field is-horizontal">
                                                                <div class="field-label is-normal">
                                                                <label class="label">Instant Rate:</label>
                                                                </div>
                                                                <div class="field-body">
                                                                <div class="field">
                                                                    <div class="control">
                                                                        <input class="input" name="rate" id="rate" placeholder="Loading..." type="number" step="any" readonly data-validate="require" />
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="field is-horizontal">
                                                                <div class="field-label is-normal">
                                                                <label class="label">Max Deposit:</label>
                                                                </div>
                                                                <div class="field-body">
                                                                <div class="field">
                                                                    <div class="control has-icon has-icon-right">
                                                                        <input class="input" name="max" id="max" placeholder="Loading..." type="number" step="any" readonly data-validate="require" />
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="field is-horizontal">
                                                                <div class="field-label is-normal">
                                                                <label class="label">Min Deposit:</label>
                                                                </div>
                                                                <div class="field-body">
                                                                <div class="field">
                                                                    <div class="control has-icon has-icon-right">
                                                                        <input class="input" name="min" id="min" placeholder="Loading..." type="number" step="any" readonly data-validate="require" />
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="field is-horizontal">
                                                                <div class="field-label is-normal">
                                                                <label class="label">Miner Fee:</label>
                                                                </div>
                                                                <div class="field-body">
                                                                <div class="field">
                                                                    <div class="control has-icon has-icon-right">
                                                                        <input class="input" name="fee" id="fee" placeholder="Loading..." type="number" step="any" readonly data-validate="require" />
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="field is-horizontal">
                                                                <div class="field-label is-normal">
                                                                <label class="label">Refund Address:</label>
                                                                </div>
                                                                <div class="field-body">
                                                                <div class="field">
                                                                    <div class="control has-icon has-icon-right">
                                                                        <input class="input" name="refundAddress" id="refundAddress" placeholder="Your Refund Address" data-validate="require" required />
                                                                    </div>
                                                                    <p class="help">In case of unforseen errors, your sent coins will be refunded here.</p>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="field is-horizontal">
                                                                <div class="field-label is-normal">
                                                                <label class="label">Deposit Amount:</label>
                                                                </div>
                                                                <div class="field-body">
                                                                <div class="field">
                                                                    <div class="control has-icon has-icon-right">
                                                                        <input class="input" name="depositCoinAmount" id="depositCoinAmount" placeholder="Amount" type="number" step="any" data-validate="require" required />
                                                                    </div>
                                                                    <p class="help">How much you wish to deposit</p>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="step-content has-text-centered">
                                                            <div class="field is-horizontal">
                                                                <div class="field-label is-normal">
                                                                <label class="label">Deposit to:</label>
                                                                </div>
                                                                <div class="field-body">
                                                                <div class="field">
                                                                    <div class="control">
                                                                        <input class="input" name="depositAddress" id="depositAddress" placeholder="Loading..." type="text" readonly data-validate="require" />
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="field is-horizontal">
                                                                <div class="field-label is-normal">
                                                                <label class="label">Minimum Deposit:</label>
                                                                </div>
                                                                <div class="field-body">
                                                                <div class="field">
                                                                    <div class="control">
                                                                        <input class="input" name="expectedAmount" id="expectedAmount" placeholder="Loading..." type="number" step="any" readonly data-validate="require" />
                                                                        <input type="hidden" id="orderIdHidden" />
                                                                        <input type="hidden" id="end" />
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="step-content has-text-centered">
                                                                <div class="field is-horizontal">
                                                                    <div class="field-label is-normal">
                                                                    <label class="label">Order ID:</label>
                                                                    </div>
                                                                    <div class="field-body">
                                                                    <div class="field">
                                                                        <div class="control">
                                                                            <input class="input" name="orderId" id="orderId" placeholder="Loading..." type="text" readonly data-validate="require" />
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                <div class="field is-horizontal">
                                                                    <div class="field-label is-normal">
                                                                    <label class="label">Status:</label>
                                                                    </div>
                                                                    <div class="field-body">
                                                                    <div class="field">
                                                                        <div class="control">
                                                                            <input class="input" name="status" id="status" placeholder="Loading..." type="text" readonly data-validate="require" />
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                <div class="field is-horizontal">
                                                                    <div class="field-label is-normal">
                                                                    <label class="label">Created Date:</label>
                                                                    </div>
                                                                    <div class="field-body">
                                                                    <div class="field">
                                                                        <div class="control">
                                                                            <input class="input" name="createDate" id="createDate" placeholder="Loading..." type="number" step="any" readonly data-validate="require" />
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                <div class="field is-horizontal">
                                                                    <div class="field-label is-normal">
                                                                    <label class="label">Valid until:</label>
                                                                    </div>
                                                                    <div class="field-body">
                                                                    <div class="field">
                                                                        <div class="control">
                                                                            <input class="input" name="expirationDate" id="expirationDate" placeholder="Loading..." type="number" step="any" readonly data-validate="require" />
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="steps-actions">
                                                            <div class="steps-action">
                                                                <a href="#" data-nav="previous" class="button is-light">Previous</a>
                                                            </div>
                                                            <div class="steps-action">
                                                                <a href="#" data-nav="next" class="button is-light" id="next">Next</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </section>
                                            <footer class="modal-card-foot">
                                                <button class="button is-danger cancelCoinswitch">Cancel</button>
                                            </footer>
                                        </div>
                                        <script>
                                        bulmaSteps.attach();
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="columns">
                    <div class="column frame">
                        <h4 class="new-text">Payments received in the last 30 days</h4>
                        <br>
                        <% if (dealsSold.length == 0) { %>
                            <p>You haven't sold any products yet.</p>
                        <% } else { %>
                            <table class="table is-hoverable is-bordered new-table">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Product</th>
                                        <th>Buyer</th>
                                        <th>Amount</th>
                                        <th>Paid On</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% dealsSold.forEach( (deal, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><a href="/products/<%= deal.product.id %>/view" class="link"><%= deal.product.name %></a></td>
                                            <td><a href="/profile/<%= deal.buyer.id %>" class="link"><%= deal.buyer.username %></a></td>
                                            <td><%= deal.payout %></td>
                                            <td><%= deal.refundableUntil.toUTCString() %></td>
                                            <td><% if (deal.paid == true) { %><p>Paid</p><% } else { %>Payment Pending<% } %></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                </div>
                <br>
                <div class="columns">
                    <div class="column frame">
                        <h4 class="new-text">Payments sent in the last 30 days</h4>
                        <br>
                        <% if (dealsBought.length == 0) { %>
                            <p>You haven't made any payments yet.</p>
                        <% } else { %>
                            <table class="table is-hoverable is-bordered new-table">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Product</th>
                                        <th>Seller</th>
                                        <th>Amount</th>
                                        <th>Paid On</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% dealsBought.forEach( (deal, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><a href="/products/<%= deal.product.id %>/view" class="link"><%= deal.product.name %></a></td>
                                            <td><a href="/profile/<%= deal.product.author.id %>" class="link"><%= deal.product.author.username %></a></td>
                                            <td><%= deal.price %></td>
                                            <td><%= deal.createdAt.toUTCString() %></td>
                                            <td><% if (deal.paid == true) { %><p>Paid</p><% } else { %>Payment Pending<% } %></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                </div>
                <br>
                <div class="columns">
                    <div class="column frame">
                        <h4 class="new-text">Withdraw history for the past 30 days</h4>
                        <sub>Unverified requests are deleted after an hour</sub>
                        <br>
                        <br>
                        <% if (withdrawals.length == 0) { %>
                            <p>You haven't made any withdrawals yet.</p>
                        <% } else { %>
                            <table class="table is-hoverable is-bordered new-table">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Status</th>
                                        <th>Address</th>
                                        <th>Amount</th>
                                        <th>Request Date</th>
                                        <th>Verified</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% withdrawals.forEach( (withdrawal, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><%= withdrawal.status %></td>
                                            <td style="word-break: break-all;"><%= withdrawal.address %></td>
                                            <td><%= withdrawal.amount.toFixed(8) %></td>
                                            <td><%= withdrawal.withdrawDate.toUTCString() %></td>
                                            <th><% if (withdrawal.verified) { %>Yes<% } else { %>
                                                No
                                                <br>
                                                <form action="/dashboard/addresses/withdraw/<%= withdrawal._id %>/resend" method="POST">
                                                    <button class="button is-primary">Verify</button>
                                                </form>
                                                <% } %>
                                            </th>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                </div>
            </div>  
        </div>
        <br>    
    </div> 
</div>
<script src="/dist/js/dashboard_addr.js"></script>
<script src="/dist/js/client.js"></script>
<% include ../partials/footer %>
