<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" href="/dist/css/products.css">
<link rel="stylesheet" href="/dist/css/registerTooltips.css">
<link rel="stylesheet" href="/dist/css/parsley.css">

    <div class="columns wrapper">
            <% include ../partials/sidebar %>
            <div class="column dashboard-right smallerCenter">
                <div class="columns">
                   <div class="column"></div>
                <div class="column is-three-fifths">
                    <div class="dashTop column">
                        <h1 class="title dashTitle" style="color: white !important;">New Deal</h1>
                    </div>
                    <br>
                    <form action="/dashboard/new/<%= csrfToken %>/<%= csrfSecret %>" method="POST" enctype="multipart/form-data" id="newProductForm" data-parsley-validate>
                        <div class="container is-fluid">
                            <% if(errors){ %>
                                <div class="notification is-danger" role="alert"> 
                                <% errors.forEach(function( err){ %>
                                    <%= err.msg %><br>
                                <% }) %>
                                </div>
                            <% } %>
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text" style="margin-bottom: 3vh;">General Information</h4>
                            <div class="inputWrapper">
                                <input class="input" name="product[name]" placeholder="Name" type="text" required maxlength="100" minlength="3"
                                 
                                    data-parsley-error-message=""	 data-parsley-trigger="change"/>
                                <div class="label" style="margin-left: 1vw;">
                                    <span class="registerTooltip" aria-label="Length: 3 - 100 characters
Valid Characters: Alphanumeric, comma, dot, question mark and exclamation mark" tabindex="-1">
                                        <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="select cont-select catSelectLeft">
                                <select type="text" name="product[category][0]" id="firstCat" style="width: 100%;" required
                                data-parsley-error-message="">
                                    <option disabled selected>Main Category</option>
                                    <option value="Collectibles & Art">Collectibles & Art</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Fashion & Beauty">Fashion & Beauty</option>
                                    <option value="Home Improvement">Home Improvement</option>
                                    <option value="Leisure Time">Leisure Time</option>
                                    <option value="Mothers & Babies">Mothers & Babies</option>
                                    <option value="Pet Supplies">Pet Supplies</option>
                                    <option value="Real Estate">Real Estate</option>
                                    <option value="Sports & Outdoors">Sports & Outdoors</option>
                                    <option value="Vehicles">Vehicles</option>
                                </select>
                            </div>
                            <div class="select cont-select catSelectCenter">
                                <select type="text" name="product[category][1]" id="secondCat" style="width: 100%" required
                                data-parsley-error-message="">
                                    <option disabled selected>Secondary Category</option>
                                </select>
                            </div>
                            <div class="select cont-select catSelectRight">
                                <select type="text" name="product[category][2]" id="thirdCat" style="width: 100%" required
                                data-parsley-error-message="">
                                    <option disabled selected>Tertiary Category</option>
                                </select>
                            </div>
                            <div class="select cont-select" style="width: 90% !important;">
                                <select type="text" name="product[condition]" style="width: 100%" required
                                data-parsley-error-message="">
                                    <option value="Not Specified" disabled selected>Condition</option>
                                    <option value="Brand New">Brand New</option>
                                    <option value="Like New">Like New</option>
                                    <option value="Refurbished">Refurbished</option>
                                    <option value="Used">Used</option>
                                    <option value="Broken or Scrap">Broken or Scrap</option>
                                </select>
                            </div>
                            <div class="inputWrapper">
                                <textarea name="product[description]" class="textarea" placeholder="Description (500 characters)" style="margin-left: 0;" required
                                    maxlength="500"
                                    data-parsley-error-message="" data-parsley-trigger="keyup"></textarea>
                                <div class="label tooltipLabel">
                                    <span class="newTooltip" aria-label="Length: 3 - 100 characters
Valid Characters: Alphanumeric, comma, dot, question mark and exclamation mark" tabindex="-1">
                                        <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                    </span>
                                </div>
                            </div>
                            <br>
                            <div class="inputWrapper">
                                <input type="text" id="tagInput" class="input" placeholder="Tags">
                                <p class="button is-primary" id="addTag" style="margin-left: 1vw;">Add tag</p>
                                <div class="label" style="margin-left: 1vw;">
                                    <span class="registerTooltip" aria-label="Characters: Alphanumeric, including the hyphen (-). Maximum 11 tags." tabindex="-1">
                                        <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                    </span>
                                </div>
                            </div>
                            <input type="text" name="product[tags]" id="tags" maxlength="500" hidden>
                            <div class="tags tagsWrapper" id="tagsControl"></div>
                            <br>
                            <div class="repeatable frame smallerCenter" id="repeatablaLabel">
                                <div>
                                    <label id="repeatableLabel" for="repeatable"><i class="fas fa-redo fa-5x"></i></label>
                                    <input id="repeatable" name="product[repeatable]" type="checkbox" value="true" hidden>
                                </div>
                                <div>
                                    <p class="title is-4" style="font-weight: 100;">Repeatable Deal</p>
                                    <p class="subtitle is-6">The product won't disappear from the market after you sell it.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text" style="margin-bottom: 3vh;">Images</h4>
                            <div class="label">
                                <span class="newTooltip" aria-label="The recommended aspect ratio is 16:9
All images are scaled to that ratio" tabindex="-1">
                                    <i class="fas fa-info-circle fa-2x" style="color: #3269ca;"></i>
                                </span>
                            </div>
                            <div class="file-upload">
                                <div class="mobileUpload">
                                    <label for="upload[0]" class="file-upload__label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <i class="far fa-check-square hide"></i>
                                        </span>
                                    </label>
                                    <input id="upload[0]" class="file-upload__input" accept="image/*" type="file" name="images">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </label>
                                </div>
                                <div class="mobileUpload">
                                    <label for="upload[1]" class="file-upload__label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <i class="far fa-check-square hide"></i>
                                        </span>
                                    </label>
                                    <input id="upload[1]" class="file-upload__input" accept="image/*" type="file" name="images">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </label>
                                </div>
                                <div class="mobileUpload">
                                    <label for="upload[2]" class="file-upload__label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <i class="far fa-check-square hide"></i>
                                        </span>
                                    </label>
                                    <input id="upload[2]" class="file-upload__input" accept="image/*" type="file" name="images">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </label>
                                </div>
                                <div class="mobileUpload">
                                    <label for="upload[3]" class="file-upload__label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <i class="far fa-check-square hide"></i>
                                        </span>
                                    </label>
                                    <input id="upload[3]" class="file-upload__input" accept="image/*" type="file" name="images">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </label>
                                </div>
                                <div class="mobileUpload">
                                    <label for="upload[4]" class="file-upload__label">
                                        <span style="font-size: 5rem;">
                                            <i class="far fa-plus-square square"></i>
                                            <i class="far fa-check-square hide"></i>
                                        </span>
                                    </label>
                                    <input id="upload[4]" class="file-upload__input" accept="image/*" type="file" name="images">
                                    <label class="file-delete__label hide">
                                        <span>
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>                                     
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text">Would you like to offer shipping handled by us?</h4>
                            <p class="help" style="margin-bottom: 2vh;">If you'd like to offer shipping handled by yourself, tick 'no' and discuss with the buyer if he wants the product shipped.</p>
                            <div class="field">
                                <div class="control">
                                    <label class="radio">
                                      <input type="radio" name="product[shipping]" id="shipping-yes" value="true">
                                      Yes
                                    </label>
                                    <label class="radio">
                                      <input type="radio" name="product[shipping]" id="shipping-no" value="false">
                                      No
                                    </label>
                                  </div>
                            </div>
                            <div class="field" id="carriers" style="display: none;">
                                <div class="control">
                                    <h4 class="subtitle" style="margin-bottom: 2vh;">Please tick all carriers you want to offer</h4>
                                    <table class="new-table">
                                        <thead>
                                            <tr>
                                                <th>Logo</th>
                                                <th>Carrier</th>
                                                <th>Website</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.goshippo.com/assets/img/providers/140/dhl_express-ee633140040ec6341cf30481125678b3.png" alt="dhl">
                                                </td>
                                                <td>DHL Express</td>
                                                <td>
                                                    <a href="https://www.dhl.com/en/express.html" class="link" target="_blank">dhl.com</a>
                                                </td>
                                                <td>
                                                    <input name="dhl_express" type="checkbox" id="dhl_express" class="is-checkradio is-info is-large" value="true">
                                                    <label for="dhl_express" style="padding-left: 2rem !important;"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.goshippo.com/assets/img/providers/140/usps-3152d7513d82dcac47c2d86ecedda4f1.png" alt="usps">
                                                </td>
                                                <td>USPS</td>
                                                <td>
                                                    <a href="https://www.usps.com/" class="link" target="_blank">usps.com</a>
                                                </td>
                                                <td>
                                                    <input name="usps" type="checkbox" id="usps" class="is-checkradio is-info is-large" value="true">
                                                    <label for="usps" style="padding-left: 2rem !important;"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.goshippo.com/assets/img/providers/140/deutsche_post-464439383fe9a1b27e48bf59d57706f7.png" alt="deutsche post">
                                                </td>
                                                <td>Deutsche Post</td>
                                                <td>
                                                    <a href="https://www.deutschepost.de/en/home.html" class="link" target="_blank">deutschepost.de</a>
                                                </td>
                                                <td>
                                                    <input name="deutsche_post" type="checkbox" id="deutsche_post" class="is-checkradio is-info is-large" value="true">
                                                    <label for="deutsche_post" style="padding-left: 2rem !important;"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.goshippo.com/assets/img/providers/140/sendle-c3df69cdbcbf48dd6d396058ba0773a1.png" alt="sendle">
                                                </td>
                                                <td>Sendle</td>
                                                <td>
                                                    <a href="https://www.sendle.com/" class="link" target="_blank">sendle.com</a>
                                                </td>
                                                <td>
                                                    <input name="sendle" type="checkbox" id="sendle" class="is-checkradio is-info is-large" value="true">
                                                    <label for="sendle" style="padding-left: 2rem !important;"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.goshippo.com/assets/img/providers/140/parcelforce-7163e9b39cf9a7ac7ed429bbe7bba5e9.png" alt="parcelforce">
                                                </td>
                                                <td>Parcelforce</td>
                                                <td>
                                                    <a href="https://www.parcelforce.com/" class="link" target="_blank">parcelforce.com</a>
                                                </td>
                                                <td>
                                                    <input name="parcelforce" type="checkbox" id="parcelforce" class="is-checkradio is-info is-large" value="true">
                                                    <label for="parcelforce" style="padding-left: 2rem !important;"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.goshippo.com/assets/img/providers/140/fastway_australia-bedecbbb9cd948ce5d920621270af20b.png" alt="fastway">
                                                </td>
                                                <td>Fastway Australia</td>
                                                <td>
                                                    <a href="https://www.fastway.com.au/" class="link" target="_blank">fastway.com.au</a>
                                                </td>
                                                <td>
                                                    <input name="fastway" type="checkbox" id="fastway" class="is-checkradio is-info is-large" value="true">
                                                    <label for="fastway" style="padding-left: 2rem !important;"></label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.goshippo.com/assets/img/providers/140/couriersplease-88950638eaff6b93c00b2debc1627b3f.png" alt="couriers please">
                                                </td>
                                                <td>CouriersPlease</td>
                                                <td>
                                                    <a href="https://www.couriersplease.com.au/" class="link" target="_blank">couriersplease.com.au</a>
                                                </td>
                                                <td>
                                                    <input name="couriersplease" type="checkbox" id="couriersplease" class="is-checkradio is-info is-large" value="true">
                                                    <label for="couriersplease" style="padding-left: 2rem !important;"></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <h2 class="subtitle">Your Delivery Details</h2>
                                    <div class="field">
                                        <div class="control has-icons-left deliveryDetails">
                                            <div class="select is-fullwidth">
                                                <select name="country" id="country">
                                                    <option value="AF">Afghanistan</option>
                                                    <option value="AX">Åland Islands</option>
                                                    <option value="AL">Albania</option>
                                                    <option value="DZ">Algeria</option>
                                                    <option value="AS">American Samoa</option>
                                                    <option value="AD">Andorra</option>
                                                    <option value="AO">Angola</option>
                                                    <option value="AI">Anguilla</option>
                                                    <option value="AQ">Antarctica</option>
                                                    <option value="AG">Antigua and Barbuda</option>
                                                    <option value="AR">Argentina</option>
                                                    <option value="AM">Armenia</option>
                                                    <option value="AW">Aruba</option>
                                                    <option value="AU">Australia</option>
                                                    <option value="AT">Austria</option>
                                                    <option value="AZ">Azerbaijan</option>
                                                    <option value="BS">Bahamas</option>
                                                    <option value="BH">Bahrain</option>
                                                    <option value="BD">Bangladesh</option>
                                                    <option value="BB">Barbados</option>
                                                    <option value="BY">Belarus</option>
                                                    <option value="BE">Belgium</option>
                                                    <option value="BZ">Belize</option>
                                                    <option value="BJ">Benin</option>
                                                    <option value="BM">Bermuda</option>
                                                    <option value="BT">Bhutan</option>
                                                    <option value="BO">Bolivia, Plurinational State of</option>
                                                    <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                                    <option value="BA">Bosnia and Herzegovina</option>
                                                    <option value="BW">Botswana</option>
                                                    <option value="BV">Bouvet Island</option>
                                                    <option value="BR">Brazil</option>
                                                    <option value="IO">British Indian Ocean Territory</option>
                                                    <option value="BN">Brunei Darussalam</option>
                                                    <option value="BG">Bulgaria</option>
                                                    <option value="BF">Burkina Faso</option>
                                                    <option value="BI">Burundi</option>
                                                    <option value="KH">Cambodia</option>
                                                    <option value="CM">Cameroon</option>
                                                    <option value="CA">Canada</option>
                                                    <option value="CV">Cape Verde</option>
                                                    <option value="KY">Cayman Islands</option>
                                                    <option value="CF">Central African Republic</option>
                                                    <option value="TD">Chad</option>
                                                    <option value="CL">Chile</option>
                                                    <option value="CN">China</option>
                                                    <option value="CX">Christmas Island</option>
                                                    <option value="CC">Cocos (Keeling) Islands</option>
                                                    <option value="CO">Colombia</option>
                                                    <option value="KM">Comoros</option>
                                                    <option value="CG">Congo</option>
                                                    <option value="CD">Congo, the Democratic Republic of the</option>
                                                    <option value="CK">Cook Islands</option>
                                                    <option value="CR">Costa Rica</option>
                                                    <option value="CI">Côte d'Ivoire</option>
                                                    <option value="HR">Croatia</option>
                                                    <option value="CU">Cuba</option>
                                                    <option value="CW">Curaçao</option>
                                                    <option value="CY">Cyprus</option>
                                                    <option value="CZ">Czech Republic</option>
                                                    <option value="DK">Denmark</option>
                                                    <option value="DJ">Djibouti</option>
                                                    <option value="DM">Dominica</option>
                                                    <option value="DO">Dominican Republic</option>
                                                    <option value="EC">Ecuador</option>
                                                    <option value="EG">Egypt</option>
                                                    <option value="SV">El Salvador</option>
                                                    <option value="GQ">Equatorial Guinea</option>
                                                    <option value="ER">Eritrea</option>
                                                    <option value="EE">Estonia</option>
                                                    <option value="ET">Ethiopia</option>
                                                    <option value="FK">Falkland Islands (Malvinas)</option>
                                                    <option value="FO">Faroe Islands</option>
                                                    <option value="FJ">Fiji</option>
                                                    <option value="FI">Finland</option>
                                                    <option value="FR">France</option>
                                                    <option value="GF">French Guiana</option>
                                                    <option value="PF">French Polynesia</option>
                                                    <option value="TF">French Southern Territories</option>
                                                    <option value="GA">Gabon</option>
                                                    <option value="GM">Gambia</option>
                                                    <option value="GE">Georgia</option>
                                                    <option value="DE">Germany</option>
                                                    <option value="GH">Ghana</option>
                                                    <option value="GI">Gibraltar</option>
                                                    <option value="GR">Greece</option>
                                                    <option value="GL">Greenland</option>
                                                    <option value="GD">Grenada</option>
                                                    <option value="GP">Guadeloupe</option>
                                                    <option value="GU">Guam</option>
                                                    <option value="GT">Guatemala</option>
                                                    <option value="GG">Guernsey</option>
                                                    <option value="GN">Guinea</option>
                                                    <option value="GW">Guinea-Bissau</option>
                                                    <option value="GY">Guyana</option>
                                                    <option value="HT">Haiti</option>
                                                    <option value="HM">Heard Island and McDonald Islands</option>
                                                    <option value="VA">Holy See (Vatican City State)</option>
                                                    <option value="HN">Honduras</option>
                                                    <option value="HK">Hong Kong</option>
                                                    <option value="HU">Hungary</option>
                                                    <option value="IS">Iceland</option>
                                                    <option value="IN">India</option>
                                                    <option value="ID">Indonesia</option>
                                                    <option value="IR">Iran, Islamic Republic of</option>
                                                    <option value="IQ">Iraq</option>
                                                    <option value="IE">Ireland</option>
                                                    <option value="IM">Isle of Man</option>
                                                    <option value="IL">Israel</option>
                                                    <option value="IT">Italy</option>
                                                    <option value="JM">Jamaica</option>
                                                    <option value="JP">Japan</option>
                                                    <option value="JE">Jersey</option>
                                                    <option value="JO">Jordan</option>
                                                    <option value="KZ">Kazakhstan</option>
                                                    <option value="KE">Kenya</option>
                                                    <option value="KI">Kiribati</option>
                                                    <option value="KP">Korea, Democratic People's Republic of</option>
                                                    <option value="KR">Korea, Republic of</option>
                                                    <option value="KW">Kuwait</option>
                                                    <option value="KG">Kyrgyzstan</option>
                                                    <option value="LA">Lao People's Democratic Republic</option>
                                                    <option value="LV">Latvia</option>
                                                    <option value="LB">Lebanon</option>
                                                    <option value="LS">Lesotho</option>
                                                    <option value="LR">Liberia</option>
                                                    <option value="LY">Libya</option>
                                                    <option value="LI">Liechtenstein</option>
                                                    <option value="LT">Lithuania</option>
                                                    <option value="LU">Luxembourg</option>
                                                    <option value="MO">Macao</option>
                                                    <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                                    <option value="MG">Madagascar</option>
                                                    <option value="MW">Malawi</option>
                                                    <option value="MY">Malaysia</option>
                                                    <option value="MV">Maldives</option>
                                                    <option value="ML">Mali</option>
                                                    <option value="MT">Malta</option>
                                                    <option value="MH">Marshall Islands</option>
                                                    <option value="MQ">Martinique</option>
                                                    <option value="MR">Mauritania</option>
                                                    <option value="MU">Mauritius</option>
                                                    <option value="YT">Mayotte</option>
                                                    <option value="MX">Mexico</option>
                                                    <option value="FM">Micronesia, Federated States of</option>
                                                    <option value="MD">Moldova, Republic of</option>
                                                    <option value="MC">Monaco</option>
                                                    <option value="MN">Mongolia</option>
                                                    <option value="ME">Montenegro</option>
                                                    <option value="MS">Montserrat</option>
                                                    <option value="MA">Morocco</option>
                                                    <option value="MZ">Mozambique</option>
                                                    <option value="MM">Myanmar</option>
                                                    <option value="NA">Namibia</option>
                                                    <option value="NR">Nauru</option>
                                                    <option value="NP">Nepal</option>
                                                    <option value="NL">Netherlands</option>
                                                    <option value="NC">New Caledonia</option>
                                                    <option value="NZ">New Zealand</option>
                                                    <option value="NI">Nicaragua</option>
                                                    <option value="NE">Niger</option>
                                                    <option value="NG">Nigeria</option>
                                                    <option value="NU">Niue</option>
                                                    <option value="NF">Norfolk Island</option>
                                                    <option value="MP">Northern Mariana Islands</option>
                                                    <option value="NO">Norway</option>
                                                    <option value="OM">Oman</option>
                                                    <option value="PK">Pakistan</option>
                                                    <option value="PW">Palau</option>
                                                    <option value="PS">Palestinian Territory, Occupied</option>
                                                    <option value="PA">Panama</option>
                                                    <option value="PG">Papua New Guinea</option>
                                                    <option value="PY">Paraguay</option>
                                                    <option value="PE">Peru</option>
                                                    <option value="PH">Philippines</option>
                                                    <option value="PN">Pitcairn</option>
                                                    <option value="PL">Poland</option>
                                                    <option value="PT">Portugal</option>
                                                    <option value="PR">Puerto Rico</option>
                                                    <option value="QA">Qatar</option>
                                                    <option value="RE">Réunion</option>
                                                    <option value="RO">Romania</option>
                                                    <option value="RU">Russian Federation</option>
                                                    <option value="RW">Rwanda</option>
                                                    <option value="BL">Saint Barthélemy</option>
                                                    <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                                    <option value="KN">Saint Kitts and Nevis</option>
                                                    <option value="LC">Saint Lucia</option>
                                                    <option value="MF">Saint Martin (French part)</option>
                                                    <option value="PM">Saint Pierre and Miquelon</option>
                                                    <option value="VC">Saint Vincent and the Grenadines</option>
                                                    <option value="WS">Samoa</option>
                                                    <option value="SM">San Marino</option>
                                                    <option value="ST">Sao Tome and Principe</option>
                                                    <option value="SA">Saudi Arabia</option>
                                                    <option value="SN">Senegal</option>
                                                    <option value="RS">Serbia</option>
                                                    <option value="SC">Seychelles</option>
                                                    <option value="SL">Sierra Leone</option>
                                                    <option value="SG">Singapore</option>
                                                    <option value="SX">Sint Maarten (Dutch part)</option>
                                                    <option value="SK">Slovakia</option>
                                                    <option value="SI">Slovenia</option>
                                                    <option value="SB">Solomon Islands</option>
                                                    <option value="SO">Somalia</option>
                                                    <option value="ZA">South Africa</option>
                                                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                    <option value="SS">South Sudan</option>
                                                    <option value="ES">Spain</option>
                                                    <option value="LK">Sri Lanka</option>
                                                    <option value="SD">Sudan</option>
                                                    <option value="SR">Suriname</option>
                                                    <option value="SJ">Svalbard and Jan Mayen</option>
                                                    <option value="SZ">Swaziland</option>
                                                    <option value="SE">Sweden</option>
                                                    <option value="CH">Switzerland</option>
                                                    <option value="SY">Syrian Arab Republic</option>
                                                    <option value="TW">Taiwan, Province of China</option>
                                                    <option value="TJ">Tajikistan</option>
                                                    <option value="TZ">Tanzania, United Republic of</option>
                                                    <option value="TH">Thailand</option>
                                                    <option value="TL">Timor-Leste</option>
                                                    <option value="TG">Togo</option>
                                                    <option value="TK">Tokelau</option>
                                                    <option value="TO">Tonga</option>
                                                    <option value="TT">Trinidad and Tobago</option>
                                                    <option value="TN">Tunisia</option>
                                                    <option value="TR">Turkey</option>
                                                    <option value="TM">Turkmenistan</option>
                                                    <option value="TC">Turks and Caicos Islands</option>
                                                    <option value="TV">Tuvalu</option>
                                                    <option value="UG">Uganda</option>
                                                    <option value="UA">Ukraine</option>
                                                    <option value="AE">United Arab Emirates</option>
                                                    <option value="GB">United Kingdom</option>
                                                    <option value="US">United States</option>
                                                    <option value="UM">United States Minor Outlying Islands</option>
                                                    <option value="UY">Uruguay</option>
                                                    <option value="UZ">Uzbekistan</option>
                                                    <option value="VU">Vanuatu</option>
                                                    <option value="VE">Venezuela, Bolivarian Republic of</option>
                                                    <option value="VN">Viet Nam</option>
                                                    <option value="VG">Virgin Islands, British</option>
                                                    <option value="VI">Virgin Islands, U.S.</option>
                                                    <option value="WF">Wallis and Futuna</option>
                                                    <option value="EH">Western Sahara</option>
                                                    <option value="YE">Yemen</option>
                                                    <option value="ZM">Zambia</option>
                                                    <option value="ZW">Zimbabwe</option>
                                                </select>
                                                <span class="icon is-large is-left">
                                                    <i class="fas fa-flag"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <p class="control has-icons-left deliveryDetails">
                                            <input class="input" name="state" id="state" type="text" placeholder="State or County"/>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-globe-americas"></i>
                                            </span>
                                            <p class="help">State is mandatory for US and CA only. Please use two character abbreviation.</p>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control has-icons-left deliveryDetails">
                                            <% if(user.address1) { %>
                                                <input class="input" name="city" id="city" type="text" value="<%= user.city %>"/>
                                            <% } else { %>
                                                <input class="input" name="city" id="city" type="text" placeholder="City"/>
                                            <% } %>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-city"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control has-icons-left deliveryDetails">
                                            <% if(user.address1) { %>
                                                <input class="input" name="street1" id="street1" type="text" value="<%= user.address1 %>"/>
                                            <% } else { %>
                                                <input class="input" name="street1" id="street1" type="text" placeholder="Street"/>
                                            <% } %>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-road"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control has-icons-left deliveryDetails">
                                            <% if(user.zip) { %>
                                                <input class="input" name="zip" id="zip" type="text" value="<%= user.zip %>"/>
                                            <% } else { %>
                                                <input class="input" name="zip" id="zip" type="text" placeholder="Zip Code"/>
                                            <% } %>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-sort-numeric-down"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control has-icons-left deliveryDetails">
                                            <% if(user.number) { %>
                                                <input class="input" name="phone" id="phone" type="tel" value="<%= user.number %>"/>
                                            <% } else { %>
                                                <input class="input" name="phone" id="phone" type="tel" placeholder="Contact Phone Number"/>
                                            <% } %>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control has-icons-left deliveryDetails">
                                            <% if(user.full_name) { %>
                                                <input class="input" name="name" id="name" value="<%= user.full_name %>"/>
                                            <% } else { %>
                                                <input class="input" name="name" id="name" placeholder="Contact Person Name"/>
                                            <% } %>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-user-tie"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control has-icons-left deliveryDetails">
                                            <% if(user.email) { %>
                                                <input class="input" name="email" id="email" type="tel" value="<%= user.email %>"/>
                                            <% } else { %>
                                                <input class="input" name="email" id="email" type="tel" placeholder="Contact Email"/>
                                            <% } %>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <br>
                                <h2 class="subtitle">Parcel Size</h2>
                                <div class="field is-horizontal has-addons deliveryDetails">
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control has-icons-left is-expanded">
                                                <input class="input is-fullwidth" name="parcel_length" type="number" placeholder="Length"/>
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-ruler"></i>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control has-icons-left is-expanded">
                                                <input class="input is-fullwidth" name="parcel_width" type="number" placeholder="Width"/>
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-ruler-horizontal"></i>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control has-icons-left is-expanded">
                                                <input class="input is-fullwidth" name="parcel_height" type="number" placeholder="Height"/>
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-ruler-vertical"></i>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control">
                                                <div class="select">
                                                    <select name="parcel_distance_unit">
                                                        <option value="cm">cm</option>
                                                        <option value="in">in</option>
                                                        <option value="ft">ft</option>
                                                        <option value="mm">mm</option>
                                                        <option value="m">m</option>
                                                        <option value="yd">yd</option>
                                                    </select>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal has-addons deliveryDetails" style="margin-top: 1vh;">
                                    <p class="control has-icons-left is-expanded">
                                        <input class="input is-fullwidth" name="parcel_weight" type="number" placeholder="Weight"/>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-weight-hanging"></i>
                                        </span>
                                    </p>
                                    <p class="control">
                                        <div class="select">
                                            <select name="parcel_weight_unit">
                                                <option value="g">g</option>
                                                <option value="oz">oz</option>
                                                <option value="lb">lb</option>
                                                <option value="kg">kg</option>
                                            </select>
                                        </div>
                                    </p>
                                </div>
                                <br>
                                <div class="lds-default" id="validateSpinner" style="display: none;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                <div id="not-valid" style="display: none;">
                                    <h4 class="subtitle" style="margin-bottom: 2vh;">The address is invalid. Please try again.</h4>
                                </div>
                                <div id="valid" style="display: none;">
                                    <h4 class="subtitle">The address is valid.</h4>
                                </div>
                                <a class="button is-primary is-rounded" id="validate">Verify Address</a>
                            </div>
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text" style="margin-bottom: 3vh;">Price</h4>
                            <div class="field">
                                <p class="control has-icons-left smmargin" style="margin: auto;">
                                    <input class="input" id="btc-price" name="product[btc_price]" placeholder="Price (BTC)" type="number" step="0.00000001" min="0.00000001" />
                                    <span class="icon is-small is-left">
                                        <i class="fab fa-bitcoin" style="color: orange;"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="frame">
                            <h4 class="new-text">Promote your deal</h4>
                            <h5 class="token-text">You have <%= user.feature_tokens %> tokens</h5>
                            <div class="columns">
                                <div class="column is-one-fifth"></div>
                                <div class="column frame">
                                    <label for="feat_1" id="feat1Label">
                                        <i class="fas fa-angle-double-up fa-7x blueI" id="feat1I" style="margin-bottom: 1vh;"></i>
                                        <br>
                                        <p style="font-weight: 800">Subcategory feature</p>
                                        <br>
                                        <p>The product will be shown towards the beginning of the list</p>
                                        <p>Lasts 14 days</p>
                                        <p>Costs 5 tokens</p>
                                        <br>
                                        <input name="product[feat_1]" type="checkbox" id="feat_1" class="is-checkradio is-info is-large" value="1">
                                        <label for="feat_1" style="padding-left: 2rem !important;"></label>
                                    </label>
                                </div>
                                <div class="column frame">
                                    <label for="feat_2" id="feat2Label">
                                        <i class="fas fa-file fa-7x blueI" id="feat2I" style="margin-bottom: 1vh;"></i>
                                        <p style="font-weight: 800">Frontpage feature</p>
                                        <br>
                                        <p>The product will be shown on the website's front page</p>
                                        <p>Lasts 7 days</p>
                                        <p>Costs 15 tokens</p>
                                        <br>
                                        <input name="product[feat_2]" type="checkbox" id="feat_2" class="is-checkradio is-info is-large" value="1">
                                        <label for="feat_2" style="padding-left: 2rem !important;"></label>
                                    </label>
                                </div>
                                <div class="column is-one-fifth"></div>
                            </div>
                            <div class="control smmargin" style="margin: auto; margin-top: 2vh;">
                                <button type="submit" form="newProductForm" class="button is-primary">Create new deal</button>
                                <p class="help">
                                    By creating a new deal you agree to our 
                                    <a href="/terms-of-service" class="link" target="_blank">Terms of Service</a> 
                                    and 
                                    <a href="/shipping" class="link" target="_blank">Shipping & Delivery</a> 
                                    policy.
                                </p>
                            </div>
                        </div>
                    </form>                
                </div>
                <div class="column"></div> 
                </div>
            </div>
        
</div>
<% include ../partials/footer %>

<script src="/dist/js/dashboard_new.js"></script>
<script src="/dist/js/jquery-3.4.1.slim.min.js"></script>
<script src="/dist/js/parsley.min.js"></script>