<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" href="/dist/css/parsley.css">
<div class="columns" style="overflow: hidden; margin: auto;"> 
    <% include ../partials/sidebar %>
    <div class="column dashboard-right" style="margin-bottom: 4vh;">
        <div class="column dashTop">
            <h2 class="title">Account Details</h2>
        </div>
        <br>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <div class="frame smallerCenter">
                    <form action="/profile/update/<%= csrfToken %>/<%= csrfSecret %>?_method=PUT" method="POST" enctype="multipart/form-data" id="changeDetails"
                        data-parsley-validate>
                        <% if(premium !== true) { %>
                            <h1 class="title">Standard Account</h1>
                        <% } else { %>
                            <h1 class="title">Premium Account</h1>
                            <p class="subtitle">Expires on: <%= expireDate %></p>
                        <% } %>
                        <div class="container is-fluid">
                            <% if(errors){ %>
                                <div class="notification is-danger" role="alert"> 
                                <% errors.forEach(function( err){ %>
                                    <%= err.msg %><br>
                                <% }) %>
                                </div>
                                <br>
                            <% } %>
                        </div>
                        <p class="subtitle">Personal Details</p>
                        <div class="column is-three-fifths" style="margin: auto;">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" name="name" placeholder="Full Name*" type="text"
                                    <% if (user.full_name) { %> value="<%= user.full_name %>" <% } %> required 
                                        data-parsley-minlength="3" data-parsley-maxlength="100" data-parsley-pattern="[a-zA-Z0-9 -]+"
                                        data-parsley-minlength-message="The name is too short. It should have 3 characters or more." data-parsley-trigger="change"/>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user-tie"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <div class="select is-fullwidth">
                                        <select name="country" class="countries" id="countryId" required>
                                            <% if (user.country) { %>
                                            <option value="<%= user.country %>" selected><%= user.country %></option>
                                            <% } else { %>
                                            <option value="">Select Country</option>
                                            <% } %>                                        
                                        </select>
                                        <span class="icon is-large is-left">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <div class="select is-fullwidth">
                                        <select name="state" class="states" id="stateId" style="width:100%;" required>
                                            <% if (user.country) { %>
                                            <option value="<%= user.state %>"><%= user.state %></option>
                                            <% } else { %>
                                            <option value="">Select State</option>
                                            <% } %>   
                                        </select>
                                        <span class="icon is-large is-left">
                                            <i class="fas fa-globe-americas"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <div class="select is-fullwidth">
                                        <select name="city" class="cities" id="cityId" style="width: 100%;" required>
                                            <% if (user.country) { %>
                                            <option value="<%= user.city %>"><%= user.city %></option>
                                            <% } else { %>
                                            <option value="">Select City</option>
                                            <% } %>   
                                        </select>
                                        <span class="icon is-large is-left">
                                            <i class="fas fa-city"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal has-addons">
                                <p class="control has-icons-left is-expanded">
                                    <input class="input" name="address1" placeholder="Address Line 1* (Street name, number, etc.)" type="text"
                                    <% if (user.address1) { %> value="<%= user.address1%>" <% } %> required 
                                        data-parsley-pattern="[a-zA-Z0-9., -]+" data-parsley-trigger="change" />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-road"></i>
                                    </span>
                                </p>
                                <p class="control has-icons-left is-expanded">
                                    <input class="input" name="zip" type="text" placeholder="ZIP Code*"
                                    <% if (user.zip) { %> value="<%= user.zip %>" <% } %> required 
                                        data-parsley-pattern="[a-zA-Z0-9]+" data-parsley-trigger="change" />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-sort-numeric-down"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" name="address2" placeholder="Address Line 2" type="text"
                                    <% if (user.address2) { %> value="<%= user.address2 %>" <% } %>
                                        data-parsley-pattern="[a-zA-Z0-9., -]+" data-parsley-trigger="change" />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-road"></i>
                                    </span>
                                </div>
                            </div>
                            <br>
                            <div class="columns level">
                                <div class="column">
                                    <!-- Every user will have a default profile pic  -->
                                    <figure class="image is-128x128" style="margin: auto;">
                                        <% if(premium !== true) { %>
                                            <img src="<%= user.avatar.url %>" class="profilepic">
                                        <% } else { %>
                                            <img src="<%= user.avatar.url %>" class="premiumImg">
                                            <span class="premium"></span>
                                        <% } %>
                                    </figure>
                                </div>
                                <div class="column">
                                    <div class="file-upload">
                                        <div>
                                            <label for="upload[0]" class="file-upload__label">
                                                <span style="font-size: 5rem;">
                                                    <i class="far fa-plus-square square"></i>
                                                    <i class="far fa-check-square hide"></i>
                                                </span>
                                            </label>
                                            <p>New profile picture</p>
                                            <input id="upload[0]" class="file-upload__input" accept="image/*" type="file" name="avatar">
                                            <label class="file-delete__label hide">
                                                <span>
                                                    <i class="far fa-trash-alt"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>       
                    </form>
                    <br>
                    <div class="buttons has-addons is-centered">
                        <button type="submit" class="button is-primary is-rounded" form="changeDetails">Update Profile</button>
                        <a href="/profile/<%= user._id %>" class="button is-primary is-rounded">View Profile</a>
                        <% if((!user.subscription1) && (!user.subscription3) && (!user.subscription6) && (!user.subscription12) && (!premium)) { %>
                            <a href="/dashboard/subscription" class="button is-primary is-rounded">Upgrade Account</a>
                        <% } else if ((!user.subscription1) && (!user.subscription3) && (!user.subscription6) && (!user.subscription12) && (premium)) { %>
                        <% } else { %>
                            <div class="modal modalCancelSub">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Cancel Subscription</p>
                                        <button class="delete deleteCancelSub" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;">
                                        <p class="subtitle">Are you sure you want to cancel your subscription?</p>
                                        <p class="subWarning subtitle">Your account's status will return to standard once the premium expires.</p>
                                        <br>
                                        <form class="modal-form" action="/dashboard/subscription/cancel" method="POST">
                                            <div class="control">
                                                <button class="button is-primary is-rounded">I am sure</button>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                            <button class="button is-danger cancelSub is-rounded">Cancel Subscription</button>
                        <% } %>
                    </div>
                    <% if ((!user.subscription1) && (!user.subscription3) && (!user.subscription6) && (!user.subscription12) && (premium)) { %>
                        <sub>You will be able to upgrade your account again once the premium status expires</sub>
                    <% } %>
                </div>
                <br>
                <div class="frame smallerCenter">
                    <h2 class="subtitle">Credentials</h2>
                    <form action="/forgot" method="POST" id="changePassword">
                        <input class="input" name="email" value="<%= user.email %>" type="hidden" required />
                    </form>
                    <form action="/forgotemail" method="POST" id="changeEmail">
                        <input class="input" name="email" value="<%= user.email %>" type="hidden" required />
                    </form>
                    <div class="buttons has-addons is-centered">
                        <button class="button is-primary is-rounded" form="changePassword">Change your Password</button>
                        <button class="button is-primary is-rounded" form="changeEmail">Change your Email</button>
                        <a href="/dashboard/notifications" class="button is-primary is-rounded">Email Notifications</a>
                    </div>
                    <div class="buttons has-addons is-centered">
                        <% if(user.twofactor === true) { %> 
                            <button class="button is-primary deactivate is-rounded">Deactivate Two-Factor Authentication</button>
                            <div class="modal modalDeactivate">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Deactivate Two-Factor</p>
                                        <button class="delete deleteDeactivate" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <p class="subtitle">Are you sure you want to deactivate two-factor authentication?</p>
                                        <sub class="subWarning">This action will make your account less secure.</sub>
                                        <br>
                                        <form class="modal-form" action="/disable2factor" method="POST">
                                            <div class="control">
                                                <button class="button is-primary is-rounded">Deactivate Two-Factor Authentication</button>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        <% } else { %>
                            <button class="button is-primary is-rounded" form="activate2Factor">Activate Two-Factor Authentication</button>
                        <% } %>
                            <button class="button is-danger is-rounded" form="disableAccount">Disable account</button>
                        </div>
                        <% if(user.twofactor !== true) { %>
                        <form action="/2factor" id="activate2Factor"></form>
                        <% } %>
                        <form action="/disable-account" method="POST" id="disableAccount">
                            <input class="input" name="email" value="<%= user.email %>" type="hidden" required />
                        </form>
                        <div class="buttons has-addons is-centered">
                            <% if (!user.googleId) { %>
                                <button class="button is-primary is-rounded">
                                    <a href="/auth/google" class="white-link">Connect your Google Account</a>
                                </button> 
                            <% } else { %>
                                <button class="button is-danger is-rounded">
                                    <a href="/auth/google" class="white-link">Disconnect your Google Account</a>    
                                </button>
                            <% } %>
                            <br>
                            <% if (!user.facebookId) { %>
                                <button class="button is-primary is-rounded">
                                    <a href="/auth/facebook" class="white-link">Connect your Facebook Account</a>
                                </button>
                            <% } else { %>
                                <button class="button is-danger is-rounded">
                                    <a href="/auth/facebook" class="white-link">Disconnect your Facebook Account</a>
                                </button>
                            <% } %>
                        </div>
                    </div>
                </div>
            <div class="column"></div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<!-- <script src="//geodata.solutions/includes/countrystatecity.js"></script> -->
<script src="../../dist/js/dashboard.js"></script>
<script src="../../dist/js/getScript.js"></script>
<script src="../../dist/js/jquery-3.4.1.slim.min.js"></script>
<script src="../../dist/js/parsley.min.js"></script>