<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="../../dist/css/dashboard.css" />
<link rel="stylesheet" href="../../dist/css/bulma-pricingtable.min.css">
<div class="hero-body">   
  <div class="column frame smallerCenter">
    <div class="column">
      <h1 class="title">Premium Membership</h2>
    </div>
    <br>
    <div class="column is-three-fifths" style="margin: auto;">
      <div class="field">
        <div class="image is-128x128" style="margin: auto;">
          <img src="<%= user.avatar.url %>" class="premiumImg" alt=""/>
        </div>
      </div>
      <div class="field">
          <h2 class="title">Benefits</h2>
      </div>
      <div class="field">
          <p class="control has-icons-left">
              <input class="input" value="Golden border profile picture" readonly/>
              <span class="icon is-small is-left">
                  <i class="fas fa-check-square"></i>
              </span>
          </p>
      </div>
      <div class="field">
          <p class="control has-icons-left">
              <input class="input" value="Seller fee reduced to 10% per product (from 15%)" required readonly/>
              <span class="icon is-small is-left">
                  <i class="fas fa-check-square"></i>
              </span>
          </p>
      </div>
      <div class="field">
          <p class="control has-icons-left">
              <input class="input" value="Five free tokens" required readonly/>
              <span class="icon is-small is-left">
                  <i class="fas fa-check-square"></i>
              </span>
          </p>
      </div>
      <div class="field">
          <p class="control has-icons-left">
              <input class="input" value="Priority customer support" required readonly/>
              <span class="icon is-small is-left">
                  <i class="fas fa-check-square"></i>
              </span>
          </p>
      </div>
      <div class="field">
          <p class="control has-icons-left">
              <input class="input" value="Special notifications page with charts and analytics" required readonly/>
              <span class="icon is-small is-left">
                  <i class="fas fa-check-square"></i>
              </span>
          </p>
      </div>
    </div>
    <div class="pricing-table is-comparative" style="padding-right:2vw;">
      <div class="pricing-plan is-features">
        <div class="plan-header">Membership Packs</div>
        <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>
        <div class="plan-items">
          <div class="plan-item">USD Equivalent</div>
          <div class="plan-item">Months</div>
          <div class="plan-item">Tokens</div>
          <div class="plan-item">(%) Saved</div>
        </div>
        <div class="plan-footer"></div>
      </div>
      <div class="pricing-plan">
        <div class="plan-header">Basic</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">BTC</span><%= (tokenprice*19.99).toFixed(5) %></span></div>
        <div class="plan-items">
          <div class="plan-item" data-feature="USD Equivalent">$19.99 USD</div>
          <div class="plan-item" data-feature="Months">1</div>
          <div class="plan-item" data-feature="Tokens">5</div>
          <div class="plan-item" data-feature="(%) Saved">-</div>
        </div>
        <div class="plan-footer">
          <form action="/dashboard/<%= user._id %>/subscription" method="POST">
              <input type="hidden" name="days" value="30" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="subscriptionCost" value="<%= (tokenprice*19.99).toFixed(5) %>" />
              <button class="button is-fullwidth">Choose</button>
          </form>
        </div>
      </div>
      <div class="pricing-plan is-warning">
        <div class="plan-header">Enthusiast</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">BTC</span><%= (tokenprice*56.99).toFixed(5) %></span></div>
        <div class="plan-items">
          <div class="plan-item" data-feature="USD Equivalent">$56.99 USD</div>
          <div class="plan-item" data-feature="Months">3</div>
          <div class="plan-item" data-feature="Tokens">15</div>
          <div class="plan-item" data-feature="(%) Saved">5%</div>
        </div>
        <div class="plan-footer">
          <form action="/dashboard/<%= user._id %>/subscription" method="POST">
              <input type="hidden" name="days" value="90" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="subscriptionCost" value="<%= (tokenprice*56.99).toFixed(5) %>" />
              <button class="button is-fullwidth">Choose</button>
          </form>
        </div>
      </div>
      <div class="pricing-plan is-active">
        <div class="plan-header">Visionary</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">BTC</span><%= (tokenprice*107.99).toFixed(5) %></span></div>
        <div class="plan-items">
          <div class="plan-item" data-feature="USD Equivalent">$107.99 USD</div>
          <div class="plan-item" data-feature="Months">6</div>
          <div class="plan-item" data-feature="Tokens">30</div>
          <div class="plan-item" data-feature="(%) Saved">10%</div>
        </div>
        <div class="plan-footer">
          <form action="/dashboard/<%= user._id %>/subscription" method="POST">
              <input type="hidden" name="days" value="180" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="subscriptionCost" value="<%= (tokenprice*107.99).toFixed(5) %>" />
              <button class="button is-fullwidth">Choose</button>
          </form>
        </div>
      </div>
      <div class="pricing-plan is-danger">
        <div class="plan-header">Enterprise</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">BTC</span><%= (tokenprice*203.99).toFixed(5) %></span></div>
        <div class="plan-items">
          <div class="plan-item" data-feature="USD Equivalent">$203.99 USD</div>
          <div class="plan-item" data-feature="Months">12</div>
          <div class="plan-item" data-feature="Tokens">60</div>
          <div class="plan-item" data-feature="(%) Saved">15%</div>
        </div>
        <div class="plan-footer">
          <form action="/dashboard/<%= user._id %>/subscription" method="POST">
              <input type="hidden" name="days" value="360" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="subscriptionCost" value="<%= (tokenprice*203.99).toFixed(5) %>" />
              <button class="button is-fullwidth">Choose</button>
          </form>
        </div>
      </div>
    </div>
  </div>  
</div>

<% include ../partials/footer %>