<% include partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/bulma-steps.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />

<%
    let withdrawTotal = 0;
    withdrawals.forEach(item => {
        withdrawTotal += item.amount;
    });

    let totalProfits = 0;
    profit.forEach(item => {
        totalProfits += item.amount;
    });

%>

<div class="hero-body">
    <div class="column dashboard" style="margin-bottom: 4vh;">
        <div class="column dashTop">
            <h2 class="title">Admin Page</h2>
        </div>
        <br>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <div class="frame smallerCenter">
                    <p class="title">Withdrawals</p>
                    <div class="smallContent">
                        <label for="withdrawTotal">
                            Total to Withdraw
                        </label>
                        <input type="text" name="withdrawTotal" class="input" id="withdrawTotal" value="<%= withdrawTotal %>" readonly>
                    </div>
                    <br>
                    <div class="column">
                        <div class="buttons">
                            <form action="/admin/acceptAll?_method=PUT" method="POST" style="margin: auto;">
                                <input type="text" name="withdrawIDs" value="<% withdrawals.forEach(item => { %><%= item._id %> <%});%>" hidden required>
                                <button class="button is-primary">Withdraw all</button>
                                <sub>Click when Coinbase has enough currency for all withdrawals</sub>
                            </form>
                            <form action="/admin/denyAll?_method=PUT" method="POST" style="margin: auto;">
                                <input type="text" name="withdrawIDs" value="<% withdrawals.forEach(item => { %><%= item._id %> <%});%>" hidden required>
                                <button class="button is-danger">Deny all</button>
                            </form>
                        </div>
                        <br>
                        <p class="title is-4">Withdrawal requests</p>
                        <table class="table is-hoverable is-bordered new-table" >
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>ID</th>
                                    <th>User ID</th>
                                    <th>Address</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% withdrawals.forEach((item, index) => { %>
                                <tr>
                                        <td><%= index + 1 %></td>
                                        <td style="word-break: break-all;"><%= item._id %></td>
                                        <td style="word-break: break-all;"><%= item.userID %></td>
                                        <td style="word-break: break-all;"><%= item.address %></td>
                                        <td style="word-break: break-all;"><%= item.amount %></td>
                                        <td style="word-break: break-all;"><%= item.withdrawDate.toUTCString() %></td>    
                                        <td>
                                            <form action="/admin/accept/<%= item._id %>?_method=PUT" method="POST">
                                                <button class="button is-primary">Accept</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form action="/admin/deny/<%= item._id %>?_method=PUT" method="POST">
                                                <select name="action" id="action">
                                                    <option value="" disabled selected>Action</option>
                                                    <option value="moneyBack">Money Back</option>
                                                    <option value="noMoney">No money back</option>
                                                </select>
                                                <button class="button is-danger">Deny</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="frame smallerCenter">
                    <p class="title">Profits</p>
                    <div class="smallContent">
                            <label for="withdrawTotalProfits">
                                Total to Withdraw
                            </label>
                            <input type="text" name="withdrawTotalProfits" class="input" id="withdrawTotalProfits" value="<%= totalProfits %>" readonly>
                        </div>
                        <br>
                        <div class="column">
                            <div class="buttons">
                                <form action="/admin/deleteAll?_method=PUT" method="POST" style="margin: auto;">
                                    <button class="button is-primary">Delete</button>
                                    <input type="text" name="profitIDs" value="<% profit.forEach(item => { %><%= item._id %> <%});%>" hidden required>
                                    <sub>Click when the total amount was converted into fiat</sub>
                                </form>
                            </div>
                            <br>
                            <p class="title is-4">Unpaid profits</p>
                            <table class="table is-hoverable is-bordered new-table" style="margin: auto;">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>ID</th>
                                        <th>Acquired</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% profit.forEach((item, index) => { %>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td style="word-break: break-all;"><%= item._id %></td>
                                        <td style="word-break: break-all;"><%= item.acquired %></td>
                                        <td style="word-break: break-all;"><%= item.amount %></td>
                                        <td style="word-break: break-all;"><%= item.profitDate.toUTCString() %></td>
                                        <th>
                                            <form action="/admin/delete/<%= item._id %>?_method=PUT" method="POST">
                                                <button class="button is-danger">Delete</button>
                                            </form>
                                        </th>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                </div>
                <br>
                <div class="frame smallerCenter">
                    <p class="title">Users</p>
                    <div class="column">
                        <p class="title is-4">
                            Ban user
                        </p>
                        <form action="/admin/banUser?_method=PUT" method="POST" class="smallForm">
                            <div class="field">
                                <input type="text" class="input" name="userid" placeholder="User ID">
                            </div>
                            <div class="select field">
                                <select name="time" id="">
                                    <option value="" selected disabled>Time</option>
                                    <option value="1d">1 day</option>
                                    <option value="3d">3 days</option>
                                    <option value="7d">7 days</option>
                                    <option value="14d">14 days</option>
                                    <option value="1m">1 month</option>
                                    <option value="perm">Permanent</option>
                                </select>
                            </div>
                            <div class="select field">
                                <select name="reason" id="">
                                    <option value="" selected disabled>Reason</option>
                                    <option value="Scamming">Scamming</option>
                                    <option value="SuspectActivity">Suspect Activity</option>
                                </select>
                            </div>
                            <button class="button is-primary">Ban</button>
                        </form>
                        <br>
                        <p class="title is-4">
                            Promote to partner
                        </p>
                        <form action="/admin/partnerUser?_method=PUT" method="POST" class="smallForm">
                            <div class="field">
                                <input type="text" name="userid" placeholder="User ID" class="input">
                            </div>
                            <button class="button is-primary">Promote</button>
                        </form> 
                        <br>
                        <p class="title is-4">Partnership Applications</p>
                        <table class="table is-hoverable is-bordered new-table" style="margin: auto;">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Account ID</th>
                                    <th>Sent on</th>
                                    <th>Company Name</th>
                                    <th>Contact Name</th>
                                    <th>Contact Phone</th>
                                    <th>Contact Email</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% applications.forEach((item, index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td style="word-break: break-all;"><%= item._id %></td>
                                    <td style="word-break: break-all;"><%= item.partnerApplication.sentOn.toUTCString() %></td>
                                    <td style="word-break: break-all;"><% if (item.partnerApplication.companyName) { %><%= item.partnerApplication.companyName %><% } %></td>
                                    <td style="word-break: break-all;"><% if (item.partnerApplication.contactName) { %><%= item.partnerApplication.contactName %><% } %></td>
                                    <td style="word-break: break-all;"><% if (item.partnerApplication.contactPhone) { %><%= item.partnerApplication.contactPhone %><% } %></td>
                                    <td style="word-break: break-all;"><% if (item.partnerApplication.contactEmail) { %><%= item.partnerApplication.contactEmail %><% } %></td>
                                    <th>
                                        <form action="/admin/partnerUser?_method=PUT" method="POST">
                                            <input type="text" name="userid" value="<%= item._id %>" hidden>
                                            <button class="button is-primary">Accept</button>
                                        </form>
                                    </th>
                                    <th>
                                        <form action="/admin/partnerDecline?_method=PUT" method="POST">
                                            <div class="select field">
                                                <select name="reason" id="">
                                                    <option value="" selected disabled>Reason</option>
                                                    <option value="Small number of products">Small number of products</option>
                                                    <option value="Rating too low">Rating too low</option>
                                                    <option value="Inconsistent stock">Inconsistent stock</option>
                                                </select>
                                            </div>
                                            <input type="text" name="userid" value="<%= item._id %>" hidden>
                                            <button class="button is-danger">Decline</button>
                                        </form>
                                    </th>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>

<% include partials/footer %>