<% include partials/header %>

<link rel="stylesheet" href="/dist/css/slideshow.css">

<div id="slider">
    <div class="slides">
        <div class="slider">
        <div class="legend"></div>
        <div class="image">
            <form action="/firstCategSearch" method="POST">
                <input type="text" name="searchName" value="" hidden>
                <input type="text" name="category" value="Fashion and Beauty" hidden>
                <button aria-label="Slider Button 1" class="sliderBtn"><div class="slider-image"><img src="https://res.cloudinary.com/deal-your-crypto/image/upload/q_auto:good/v1562347470/slider1_kfdgmb.jpg" alt="Slider image 1" class="sliderImg"></div></button>
            </form>
        </div>
        </div>
        <div class="slider">
            <div class="legend"></div>
            <div class="image">
                <form action="/firstCategSearch" method="POST">
                    <input type="text" name="searchName" value="" hidden>
                    <input type="text" name="category" value="Collectibles and Art" hidden>
                    <button aria-label="Slider Button 2" class="sliderBtn"><div class="slider-image"><img src="https://res.cloudinary.com/deal-your-crypto/image/upload/q_auto:good/v1562347470/slider2_uiociv.jpg" alt="Slider image 2" class="sliderImg"></div></button>
                </form>
            </div>
        </div>
        <div class="slider">
            <div class="legend"></div>
            <div class="image">
                <form action="/firstCategSearch" method="POST">
                    <input type="text" name="searchName" value="" hidden>
                    <input type="text" name="category" value="Electronics" hidden>
                    <button aria-label="Slider Button 3" class="sliderBtn"><div class="slider-image"><img src="https://res.cloudinary.com/deal-your-crypto/image/upload/q_auto:good/v1562347470/slider3_awesxn.jpg" alt="Slider image 3" class="sliderImg"></div></button>
                </form>
            </div>
        </div>
    </div>
    <div class="switch">
        <ul>
            <li>
            <div class="on"></div>
            </li>
            <li></li>
            <li></li>
        </ul>
        </div>
</div>

<div class="container is-fluid">
    <% if(errors){ %>
        <div class="notification is-danger" role="alert"> 
        <% errors.forEach(function( err){ %>
            <%= err.msg %><br>
        <% }) %>
        </div>
    <% } %>
</div>

<div class="hero-body hero-content">

        <% if (onlyFeatured) { %>
            <div class="column">
                <p class="title is-2">Featured Products</p>
            </div>
            <br>
        <% } else { %>
            <div class="column">
                <p class="title is-2">Products currently for sale</p>
            </div>
            <br>
        <% } %>

        <% 
            const k = products.length;
            let j = 0;
        %>
        <div class="columns products indexProducts"> 
                <% if (products.length != 0) { %>
                    <% 
                        let a = products;
                        let b = [];
                        b = a.splice(0, 7);
                    %>
                    <div class="columns indexRow">
                        <% b.forEach(product => { %>
                            <div class="column card feat_card frame activeDealProduct <% if ((product.feat_2.status == true) && (!onlyFeatured)) { %>featured<% } %>">
                                <a href="/products/<%= product._id %>/view">
                                    <div class="card-image">
                                        <figure class="image featimg is-square" style="width: auto;">
                                            <img <% if (product.images.sec[0]) { %> src="<%= product.images.sec[0].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %>  class="featimgs loadFirst" alt="<%= product.name %>">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title productName dealname" style="overflow: hidden;"><%= product.name %></p>
                                            </div>
                                        </div>
                                        <p class="curr_text"><b><%= product.btcPrice %></b> BTC</p>
                                        <p class="curr_text"><b><%= (product.btcPrice / oneDollar).toFixed(2) %></b> USD</p>
                                    </div> 
                                </a>      
                            </div>
                        <% j += 1; }); %> 
                    </div>
                    <%  while ((j < 20) && (a.length > 0)) { b = a.splice(0, 7); %>
                        <div class="columns indexRow">
                            <% b.forEach(product => { %>
                                <div class="column card feat_card frame activeDealProduct <% if ((product.feat_2.status == true) && (!onlyFeatured)) { %>featured<% } %>">
                                    <a href="/products/<%= product._id %>/view">
                                        <div class="card-image">
                                            <figure class="image featimg is-square" style="width: auto;">
                                                <img <% if (product.images.sec[0]) { %> src="<%= product.images.sec[0].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %>  class="featimgs loadFirst" alt="<%= product.name %>">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="media">
                                                <div class="media-content">
                                                    <p class="title productName dealname" style="overflow: hidden;"><%= product.name %> </p>
                                                </div>
                                            </div>
                                            <p class="curr_text"><b><%= product.btcPrice %></b> BTC</p>
                                            <p class="curr_text"><b><%= (product.btcPrice / oneDollar).toFixed(2) %></b> USD</p>
                                        </div>
                                    </a>      
                                </div>
                                <% j += 1; %>
                            <% }); %>
                            <% if (b.length < 7) { %>
                                <% for (let v = b.length; v < 7; v+= 1) { %>
                                    <div class="column"></div>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                    <% while (a.length > 0) { b = a.splice(0, 7); %>
                        <div class="columns indexRow hiddenRow">
                            <% b.forEach(product => { %>
                                <div class="column card feat_card frame activeDealProduct lazyLoad <% if ((product.feat_2.status == true) && (!onlyFeatured)) { %>featured<% } %>" >
                                    <a href="/products/<%= product._id %>/view">
                                        <div class="card-image">
                                            <figure class="image featimg is-square" style="width: auto;">
                                                <img <% if (product.images.sec[0]) { %> src="<%= product.images.sec[0].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %>  class="featimgs lazyLoadImg" alt="<%= product.name %>">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="media">
                                                <div class="media-content">
                                                    <p class="title productName dealname" style="overflow: hidden;"><%= product.name %> </p>
                                                </div>
                                            </div>
                                            <p class="curr_text"><b><%= product.btcPrice %></b> BTC</p>
                                            <p class="curr_text"><b><%= (product.btcPrice / oneDollar).toFixed(2) %></b> USD</p>
                                        </div> 
                                    </a>      
                                </div>
                            <% }); %>
                            <% if (b.length < 7) { %>
                                <% for (let v = b.length; v < 7; v+= 1) { %>
                                    <div class="column"></div>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <% if (k > 21) { %>
                <div class="buttons column">
                    <button class="button is-primary showMore is-large">Show More</button>
                    <button class="button is-primary showLess is-large hidden">Show Less</button>
                </div>
            <% } %>

</div>

<script src="/dist/js/index.js"></script>
<% include partials/footer %>
