<% include partials/header %>

<link rel="stylesheet" href="/dist/css/slideshow.css">

<div id="slider">
    <div class="slides">
        <div class="slider">
        <div class="legend"></div>
        <div class="image">
            <form action="/secondCategSearch" method="POST">
                <input type="text" name="searchName" value="" hidden>
                <input type="text" name="searchCateg" value="Collectibles & Art" hidden>
                <input type="text" name="category" value="Collectibles" hidden>
                <button class="sliderBtn"><div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1559918198/architecture.png" alt="" style="width: 100vw;"></div></button>
            </form>
        </div>
        </div>
        <div class="slider">
            <div class="legend"></div>
            <div class="image">
                <form action="/secondCategSearch" method="POST">
                    <input type="text" name="searchName" value="" hidden>
                    <input type="text" name="searchCateg" value="Leisure Time" hidden>
                    <input type="text" name="category" value="Music" hidden>
                    <button class="sliderBtn"><div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1559997823/home.png" alt=""  style="width: 100vw;"></div></button>
                </form>
            </div>
        </div>
        <div class="slider">
            <div class="legend"></div>
            <div class="image">
                <form action="/secondCategSearch" method="POST">
                    <input type="text" name="searchName" value="" hidden>
                    <input type="text" name="searchCateg" value="Sports & Outdoors" hidden>
                    <input type="text" name="category" value="Sports & Fitness" hidden>
                    <button class="sliderBtn"><div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1559997826/pets1.png" alt=""  style="width: 100vw;"></div></button>
                </form>
            </div>
        </div>
    </div>
    <div class="switch">
        <ul>
            <li>
            <div class="on"></div>
            </li>
            <li></li>
            <li></li>
        </ul>
        </div>
</div>

<div class="container is-fluid">
    <% if(errors){ %>
        <div class="notification is-danger" role="alert"> 
        <% errors.forEach(function( err){ %>
            <%= err.msg %><br>
        <% }) %>
        </div>
    <% } %>
</div>

<div class="hero-body hero-content">

        <% if (onlyFeatured) { %><p class="title is-3">Featured Products</p><% } %>

        <% 
            const k = products.length;
            let j = 0;
        %>
        <div class="columns products indexProducts"> 
                <% if (products.length != 0) { %>
                    <% 
                        let a = products;
                        let b = [];
                        b = a.splice(0, 7);
                    %>
                    <div class="columns indexRow">
                        <% b.forEach(product => { %>
                            <div class="column card feat_card frame activeDealProduct">
                                <a href="/products/<%= product._id %>/view">
                                    <% if ((product.feat_2.status == true) && (!onlyFeatured)) { %><span class="featured"></span><% } %>
                                    <div class="card-image">
                                        <figure class="image featimg is-4by3" style="width: auto;">
                                            <img src="<%= product.images[0].url %>" class="featimgs" alt="<%= product.name %>">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title productName" style="overflow: hidden;"><%= product.name %> </p>
                                            </div>
                                        </div>
                                        <div class="accepted_currencies frame">
                                            <p class="curr_text" id="btc_curr"><%= product.btcPrice %></p>
                                            <span class="curr_img"><img src="/dist/img/bitcoin.png" alt="Bitcoin"></span>
                                        </div>
                                    </div> 
                                </a>      
                            </div>
                        <% j += 1; }); %> 
                    </div>
                    <%  while ((j < 20) && (a.length > 0)) { b = a.splice(0, 7); %>
                        <div class="columns indexRow">
                            <% b.forEach(product => { %>
                                <div class="column card feat_card frame activeDealProduct" >
                                    <a href="/products/<%= product._id %>/view">
                                        <% if ((product.feat_2.status == true) && (!onlyFeatured)) { %><span class="featured"></span><% } %>
                                        <div class="card-image">
                                            <figure class="image featimg is-4by3" style="width: auto;">
                                                <img src="<%= product.images[0].url %>" class="featimgs" alt="<%= product.name %>">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="media">
                                                <div class="media-content">
                                                    <p class="title is-5" style="overflow: hidden;"><%= product.name %> </p>
                                                </div>
                                            </div>
                                            <div class="accepted_currencies frame">
                                                <p class="curr_text" id="btc_curr"><%= product.btcPrice %></p>
                                                <span class="curr_img"><img src="/dist/img/bitcoin.png" alt="Bitcoin"></span>
                                            </div>
                                        </div> 
                                    </a>      
                                </div>
                                <% j += 1; %>
                            <% }); %>
                            <% if (b.length < 7) { %>
                                <% for (let v = b.length; v < 7; v+= 1) { %>
                                    <div class="column"></div>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                    <% while (a.length > 0) { b = a.splice(0, 7); %>
                        <div class="columns indexRow hiddenRow">
                            <% b.forEach(product => { %>
                                <div class="column card feat_card frame activeDealProduct lazyLoad" >
                                    <a href="/products/<%= product._id %>/view">
                                        <% if ((product.feat_2.status == true) && (!onlyFeatured)) { %><span class="featured"></span><% } %>
                                        <div class="card-image">
                                            <figure class="image featimg is-4by3" style="width: auto;">
                                                <img  src="" data-src="<%= product.images[0].url %>" class="featimgs lazyLoadImg" alt="<%= product.name %>">
                                            </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="media">
                                                <div class="media-content">
                                                    <p class="title is-5" style="overflow: hidden;"><%= product.name %> </p>
                                                </div>
                                            </div>
                                            <div class="accepted_currencies frame">
                                                <p class="curr_text" id="btc_curr"><%= product.btcPrice %></p>
                                                <span class="curr_img"><img src="/dist/img/bitcoin.png" alt="Bitcoin"></span>
                                            </div>
                                        </div> 
                                    </a>      
                                </div>
                            <% }); %>
                            <% if (b.length < 7) { %>
                                <% for (let v = b.length; v < 7; v+= 1) { %>
                                    <div class="column"></div>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <% if (k > 20) { %>
                <div class="buttons column">
                    <button class="button is-primary showMore">Show More</button>
                    <button class="button is-primary showLess hidden">Show Less</button>
                </div>
            <% } %>

</div>

<% include partials/footer %>
<script src="/dist/js/index.js"></script>
