<% include partials/header %>

<link rel="stylesheet" href="../dist/css/index.css">  
<link rel="stylesheet" href="../dist/css/slideshow.css">

<div id="slider">
    <div class="slides">
        <div class="slider">
        <div class="legend"></div>
        <div class="image">
            <form action="/secondCategSearch" method="POST">
                <input type="text" name="searchName" value="" hidden>
                <input type="text" name="searchCateg" value="Collectibles & Art" hidden>
                <input type="text" name="category" value="Collectibles" hidden>
                <button class="sliderBtn"><div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1545483374/collection.png" ></div></button>
            </form>
        </div>
        </div>
        <div class="slider">
            <div class="legend"></div>
            <div class="image">
                <form action="/secondCategSearch" method="POST">
                    <input type="text" name="searchName" value="" hidden>
                    <input type="text" name="searchCateg" value="Leisure Time" hidden>
                    <input type="text" name="category" value="Music" hidden>
                    <button class="sliderBtn"><div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1545483375/music.png" ></div></button>
                </form>
            </div>
        </div>
        <div class="slider">
            <div class="legend"></div>
            <div class="image">
                <form action="/secondCategSearch" method="POST">
                    <input type="text" name="searchName" value="" hidden>
                    <input type="text" name="searchCateg" value="Sports & Outdoors" hidden>
                    <input type="text" name="category" value="Sports & Fitness" hidden>
                    <button class="sliderBtn"><div class="slider-image"><img src="https://res.cloudinary.com/dxbujmytn/image/upload/v1545483371/sport.png" ></div></button>
                </form>
            </div>
        </div>
    </div>
    <div class="switch">
        <ul>
            <li>
            <div class="on"></div>
            </li>
            <li></li>
            <li></li>
        </ul>
        </div>
</div>

<div class="container is-fluid">
    <% if(errors){ %>
        <div class="notification is-danger" role="alert"> 
        <% errors.forEach(function( err){ %>
            <%= err.msg %><br>
        <% }) %>
        </div>
    <% } %>
</div>

<div class="hero-body hero-content">

    
    <div class="container columns products" style="flex-wrap: wrap; justify-content: space-evenly; width: 50vw;"> 
    <% if (products.length != 0) { %>
        <% let i = 0;
            while ((i < 20) && (i < products.length)) { %>
                <div class="column card feat_card frame" style="flex-grow: 0;">
                    <a href="/products/<%= products[i]._id %>/view">
                        <% if (products[i].feat_2.status == true) { %><span class="featured"></span><% } %>
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="<%= products[i].images[0].url %>" class="featimgs" alt="<%= products[i].name %>">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5" style="overflow: hidden;"><%= products[i].name %> </p>
                                </div>
                            </div>
                            <div class="accepted_currencies frame">
                                <p class="curr_text" id="btc_curr"><%= products[i].btcPrice %></p>
                                <span class="curr_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                            </div>
                        </div> 
                    </a>      
                </div>    
            <% ++i; } %>
            <% while (i < products.length) { %>
                <div class="column card feat_card frame lazyLoad" style="flex-grow: 0;">
                    <a href="/products/<%= products[i]._id %>/view">
                        <% if (products[i].feat_2.status == true) { %><span class="featured"></span><% } %>
                        <div class="card-image">
                            <figure class="image featimg">
                                <img src="#nothing" data-src="<%= products[i].images[0].url %>" class="featimgs lazyLoadImg" alt="<%= products[i].name %>">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5" style="overflow: hidden;"><%= products[i].name %> </p>
                                </div>
                            </div>
                            <div class="accepted_currencies frame">
                                <p class="curr_text" id="btc_curr"><%= products[i].btcPrice %></p>
                                <span class="curr_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                            </div>
                        </div> 
                    </a>      
                </div>
            <% ++i; }%>
        
    <% } %>
    <% if (products.length > 20) { %>
        <div class="buttons">
            <button class="button is-primary showMore">Show More</button>
            <button class="button is-primary showLess hidden">Show Less</button>
        </div>
    <% } %>
    
    </div>

</div>

<% include partials/footer %>
<script src="../dist/js/index.js"></script>