<% include ../partials/header %>
<script src="../../dist/js/maincateg.js"></script>
<link rel="stylesheet" href="../../dist/css/categories.css">

<div class="hero-body">
    <div class="container ">
        <div class="columns">
            <div class="column is-one-fifth menu content">
                <div class="categ_menu">
                    <p class="menu-label">
                        Categories
                    </p>
                    <button class="button is-link" onclick="javascript:history.back()">Back</button>
                </div>

                <ul class="menu-list">
                    <li>
                    <a href="/categories/Collectibles-Art">Collectibles And Art</a>
                    </li>
                    <li>
                    <a href="/categories/Home-Garden">Home and Garden</a>
                    </li>
                    <li>
                    <a href="/categories/Sporting-Goods">Sporting Goods</a>
                    </li>
                    <li>
                    <a href="/categories/Electronics">Electronics</a>
                    </li>
                    <li>
                    <a href="/categories/AutoParts-Accessories">Auto Parts and Accessories</a>
                    </li>
                    <li>
                    <a href="/categories/Toys-Hobbies">Toys and Hobbies</a>
                    </li>
                    <li>
                    <a href="/categories/Fashion">Fashion</a>
                    </li>
                    <li>
                    <a href="/categories/MusicalInstruments-Gear">Musical Instruments and Gear</a>
                    </li>
                    <li>
                    <a href="/categories/Other">Other</a>
                    </li>
                </ul>
            </div>
            <div class="column content">
                <p class="title is-4 categ_title">Shop By Category</p>
                <div class="columns categ_cards">
                    <div class="column card">
                        <a href="/categories/<%= main %>/<%= subfirst %>">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5 sub_name"><%= subfirst %></p>
                                    </div>
                                </div>
                            </div>   
                        </a>                      
                    </div>

                    <div class="column card">
                        <a href="/categories/<%= main %>/<%= subsecond %>">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5 sub_name"><%= subsecond %></p>
                                    </div>
                                </div>
                            </div>   
                        </a>                      
                    </div>

                    <div class="column card">
                        <a href="/categories/<%= main %>/<%= subthird %>">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5 sub_name"><%= subthird %></p>
                                    </div>
                                </div>
                            </div>   
                        </a>                      
                    </div>

                    <div class="column card">
                        <a href="/categories/<%= main %>/<%= subfourth %>">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="../dist/img/blanc.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5 sub_name"><%= subfourth %></p>
                                    </div>
                                </div>
                            </div>   
                        </a>                      
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<% include ../partials/footer %>