<% include ../partials/header %>
<link rel="stylesheet" href="/../dist/css/index.css">  
<div class="hero-body">
    <div class="container content">
        <div class="columns userinfo">
            <div class="column">
                <img src="<%= user.avatar.url %>" class="avatar">
            </div>
            <div class="column">
                <p class="subtitle"><%= user.full_name %></p>
                <p class="subtitle">Rating: X/5 <i class="fas fa-star"></i></p>
                <p class="subtitle">Country: <%= user.country %></p>
            </div>
        </div>
        <div class="deals" >
            <p class="subtitle" style="text-align: center;">Active Deals</p>
            <div class="columns" style="justify-content: center;">
                <% products.forEach((product) => { %>
                    <div class="column card feat_card" style="max-width: 250px;">
                        <a href="/products/<%= product.id %>/view">
                            <div class="card-image">
                                <figure class="image featimg">
                                    <img src="<%= product.images[0].url %>" class="featimgs">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5"><%= product.name %></p>
                                    </div>
                                </div>
                                <div class="accepted_currencies">
                                    <% if (product.accepted[0]) { %>
                                        <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                    <% } %>
                                    <% if (product.accepted[1]) { %>
                                        <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                    <% } %>
                                    <% if (product.accepted[2]) { %>
                                        <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                    <% } %>
                                    <% if (product.accepted[3]) { %>
                                        <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                    <% } %>
                                    <% if (product.accepted[4]) { %>
                                        <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                    <% } %>
                                </div>
                            </div> 
                        </a>                       
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>