<% include ../partials/header %>
<link rel="stylesheet" href="../../dist/css/index.css">  
<link rel="stylesheet" href="../../dist/css/starability-basic.min.css">
<div class="hero-body">
    <div class="container content frame">
        <div class="columns" style="margin-top: 1vh;">
            <div class="column is-two-fifths">
                <img src="<%= user.avatar.url %>" class="avatar">
            </div>
            <div class="column"></div>
            <div class="column frame">
                <p class="subtitle"><%= user.username %></p>
                <% for(let i = 0; i < 5; i++) { %>
                    <% if(i < floorRating) { %>
                    <!-- display a full star -->
                    <i class="fas fa-star" style="color: orange;"></i>
                    <% } else if((user.avgRating - i) > 0 && (user.avgRating - i) < 1) { %>
                    <!-- display a half star -->
                    <i class="fas fa-star-half-alt" style="color: orange;"></i>
                    <% } else { %>
                    <!-- display an empty star -->
                    <i class="far fa-star" style="color: orange;"></i>
                    <% } %>
                <% } %>
                <p style="color: orange;"><%= `${user.avgRating} star${user.avgRating === 1 ? '' : 's'}` %></p>
                <p class="subtitle">Country: <%= user.country %></p>
                <p class="subtitle">Products sold: <%= user.nrSold %></p>
            </div>
            <div class="column"></div>
        </div>
        <% if (products.total == 0) { %>
            <div class="smallerCenter frame" style="text-align: center;">
                <p class="subtitle">This user does not have any active deals.</p>    
            </div> 
        <% } else { %>
            <div class="deals smallerCenter frame" >
                <p class="subtitle" style="text-align: center;">Active Deals</p>
                <% if (products.total >= 10) { %>
                    <div class="pagination paginationT"><% include ../partials/paginateIndex %></div>
                <% } %>
                <div class="columns" style="justify-content: center; flex-wrap: wrap;">
                    <% products.docs.forEach((product) => { %>
                        <div class="column card feat_card frame" style="max-width: 250px;">
                            <a href="/products/<%= product.id %>/view">
                                <div class="card-image">
                                    <figure class="image profileProducts">
                                        <img src="<%= product.images[0].url %>" class="featimgs">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5"><%= product.name %></p>
                                        </div>
                                    </div>
                                    <div class="accepted_currencies">
                                        <% if (product.accepted[0]) { %>
                                            <img src="../../dist/img/bitcoin.png" class="curr_img" alt="Bitcoin">
                                        <% } %>
                                        <% if (product.accepted[1]) { %>
                                            <img src="../../dist/img/bitcoincash.png" class="curr_img"  alt="Bitcoin Cash">
                                        <% } %>
                                        <% if (product.accepted[2]) { %>
                                            <img src="../../dist/img/ethereum.png" class="curr_img"  alt="Ethereum">
                                        <% } %>
                                        <% if (product.accepted[3]) { %>
                                            <img src="../../dist/img/litecoin.png" class="curr_img"  alt="Litecoin">
                                        <% } %>
                                        <% if (product.accepted[4]) { %>
                                            <img src="../../dist/img/dash.png" class="curr_img"  alt="DASH">
                                        <% } %>
                                    </div>
                                </div> 
                            </a>
                        </div> 
                    <% }); %>
                </div>                      
                <% if (products.total >= 10) { %>
                   <div class="pagination paginationD"><% include ../partials/paginateIndex %></div>
                <% } %>
            </div>
        <% } %>
        <div id="reviewDiv" class="deals frame smallerCenter" style="margin-top: 2vh;" >
            <iframe id="reviewIframe" src="/profile/<%= user._id %>/reviews" style="width: 100%;" onload="checkIframeLoaded();"></iframe>
        </div>
    </div>
</div>

<% include ../partials/footer %>

<script src='../../dist/js/dashboard_products.js'></script> 
<script src="../../dist/js/userReviews.js"></script>