<% include ../partials/header %>
<link rel="stylesheet" href="/dist/css/starability-basic.min.css">
<div class="hero-body">
    <div class="container content frame">
        <div class="columns" style="margin-top: 1vh;">
            <div class="column is-two-fifths">
                <figure class="image" style="width: 200px; margin: auto;">
                    <img src="<%= viewedUser.avatar.url %>" class="avatar <% if (premium) { %>premiumImg<% } %>" style="max-height: 200px" alt="User avatar">
                    <% if (premium) { %>
                        <span class="premium"></span>    
                    <% } %>
                </figure>
            </div>
            <div class="column"></div>
            <div class="column frame smallerCenter">
                <div style="display: flex; margin: auto;">
                    <p class="subtitle" style="margin: auto;"><%= viewedUser.username %></p>
                    <% if (viewedUser.accountType == 'Partner') { %>
                        <img src="/dist/img/badge.png" alt="Partner" title="Partnered user" class="badge" style="margin: auto;">    
                    <% } %>
                </div>
                <% for(let i = 0; i < 5; i++) { %>
                    <% if(i < floorRating) { %>
                    <!-- display a full star -->
                    <i class="fas fa-star" style="color: orange;"></i>
                    <% } else if((viewedUser.avgRating - i) > 0 && (viewedUser.avgRating - i) < 1) { %>
                    <!-- display a half star -->
                    <i class="fas fa-star-half-alt" style="color: orange;"></i>
                    <% } else { %>
                    <!-- display an empty star -->
                    <i class="far fa-star" style="color: orange;"></i>
                    <% } %>
                <% } %>
                <p style="color: orange;"><%= `${viewedUser.avgRating} star${viewedUser.avgRating === 1 ? '' : 's'}` %> from <%= viewedUser.reviews.length %> reviews</p>
                <p class="subtitle">Country: <%= viewedUser.country %></p>
                <p class="subtitle">Products sold: <%= viewedUser.nrSold %></p>
            </div>
            <div class="column"></div>
        </div>
        <% if (products.length == 0) { %>
            <div class="smallerCenter frame" style="text-align: center;">
                <p class="subtitle">This user does not have any active deals.</p>    
            </div> 
        <% } else { %>
            <div class="deals smallerCenter frame" >
                <p class="subtitle contentSubtitle">Active Deals</p>
                <% 
                    let k = products.length
                    let a = products;
                    let b = [];
                    b = a.splice(0, 5);
                %>
                    <div class="columns indexRow" style="margin: auto; padding-left: 1vw; padding-right: 1vw;">
                        <% b.forEach(product => { %>
                            <div class="column card feat_card frame activeDealProduct profileDeal <% if (product.feat_1.status == true) { %> featured <% } %>">
                                <a href="/products/<%= product.id %>/view">
                                    <div class="card-image imageCard">
                                        <figure class="image featimg image is-square" style="width: auto;">
                                            <img src="<%= product.images.sec[0].url %>" class="featimgs loadFirst indexImg" alt="<%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title productName dealname" style="overflow: hidden;"><%= product.name %></p>
                                            </div>
                                        </div>
                                        <p class="curr_text"><b><%= (product.usdPrice * oneDollar).toFixed(8) %></b> BTC</p>
                                        <p class="curr_text"><b>$<%= product.usdPrice %></b> USD</p>
                                    </div> 
                                </a>
                            </div>
                        <% }); %>
                    </div>
                <% 
                    while (a.length) {
                        b = a.splice(0, 5);
                %>
                    <div class="columns indexRow" style="margin: auto; padding-left: 1vw; padding-right: 1vw;">
                        <% b.forEach(product => { %>
                            <div class="column card feat_card frame activeDealProduct profileDeal noLoad hidden <% if (product.feat_1.status == true) { %> featured <% } %>">
                                <a href="/products/<%= product.id %>/view">
                                    <div class="card-image imageCard">
                                        <figure class="image featimg image is-square" style="width: auto;">
                                            <img data-src="<%= product.images.sec[0].url %>" class="noImg featimgs indexImg" alt="<%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title productName" style="overflow: hidden;"><%= product.name %></p>
                                            </div>
                                        </div>
                                        <p class="curr_text"><b><%= (product.usdPrice * oneDollar).toFixed(8) %></b> BTC</p>
                                        <p class="curr_text"><b>$<%= product.usdPrice %></b> USD</p>
                                    </div> 
                                </a>
                            </div>
                        <% }); %>
                        <% switch(b.length) {
                            case 1: %>
                            <div class="column is-four-fifths"></div>
                            <% break; 
                            case 2: %>
                            <div class="column is-three-fifths"></div>
                            <% break;
                            case 3: %>
                            <div class="column is-two-fifths"></div>
                            <% break;
                            case 4: %>
                            <div class="column"></div>
                            <% break;
                            default: break;
                        } %>
                    </div>
                <% 
                    }
                %>
                <% if (k > 4) { %>   
                    <div class="column buttons">
                        <button class="button is-primary showMore">Show more</button>
                        <button class="button is-primary showLess hidden">Show less</button>
                    </div>
                <% } %>
            </div>
        <% } %>
        <br>
        <div class="deals smallerCenter frame" >
            <% if (reviews.total > 0) { %>
                <p class="subtitle" style="text-align: center;">Reviews</p>
                <br>
                <% if (reviews.total >= 5) { %>
                    <div class="pagination paginationPositioning">
                        <% include ../partials/paginateReviews %>
                    </div>
                <% } %>
                <!-- display all reviews -->
                <% reviews.docs.forEach(function(review, index) { %>
                    <div class="columns container is-fluid frame reviewPadding">
                        <div class="buttonsSpace">
                            <a href="/profile/<%= review.author %>" class="avatarMargins">
                                <figure class="image avatarFigureMargins" style="margin-top: 0; margin-bottom: 0;">
                                    <img src="<%= review.avatarUrl %>" class="avatarSize" style="border-color: black;" alt="">
                                </figure>
                            </a>
                            <a href="/profile/<%= review.author %>" class="link"><p style="text-align:center !important;" ><%= review.name %></p></a>
                            <% if (review.createdAt) { %>
                            <p style="text-align:center !important;" >
                                <% switch(review.createdAt.getMonth()) {
                                    case (0) : { %>
                                    Jan
                                    <% break; }%>
                                    <% case (1) :{ %>
                                    Feb
                                    <% break; } %>
                                    <% case (2) :{ %>
                                    Mar
                                    <% break; } %>
                                    <% case (3) :{ %>
                                    Apr
                                    <% break; } %>
                                    <% case (4) :{ %>
                                    May
                                    <% break; } %>
                                    <% case (5) :{ %>
                                    Jun
                                    <% break; } %>
                                    <% case (6) :{ %>
                                    Jul
                                    <% break; } %>
                                    <% case (7) :{ %>
                                    Aug
                                    <% break; } %>
                                    <% case (8) :{ %>
                                    Sep 
                                    <% break; } %>
                                    <% case (9) :{ %>
                                    Oct
                                    <% break; } %>
                                    <% case (10) :{ %>
                                    Nov
                                    <% break; } %>
                                    <% case (11) :{ %>
                                    Dec
                                    <% break; } %>
                                    <% default: { break; }%>
                                <% } %>/<%= (( review.createdAt.getDate()) < 10) ? '0' + ( review.createdAt.getDate()) : ( review.createdAt.getDate()) %>/<%= 1900 + Number((( review.createdAt.getYear()) < 10) ? '0' + ( review.createdAt.getYear()) : ( review.createdAt.getYear())) %></p>
                            <% } %>
                        </div>
                        <div class="reviewRating">
                            <div style="float: left;">
                                <% let i = 0; for(i; i < review.rating; i++) { %>
                                    <!-- display a full star -->
                                    <i class="fas fa-star" style="color: orange;"></i>
                                <% } %>
                                <% for(i; i < 5; i++) { %>
                                    <!-- display an empty star -->
                                    <i class="far fa-star" style="color: orange;"></i>
                                <% } %>
                            </div>
                            <br>
                            <p class="productDescriptionText profileReview"><%= review.body %></p>
                            <sub class="reviewItem">Review for: <a href="/products/<%= review.product._id %>/view" target="_top" class="link"><%= review.product.name %></a></sub>
                        </div>
                        <% if(user){ %>
                            <% if(review.author.equals(user._id)) { %>
                            <div class="reviewAuthor">
                                <button class="button is-primary edit">Edit</button>
                                <div class="modal modalEdit">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title" style="margin-bottom: 0;">Edit Review</p>
                                            <button class="delete deleteEdit" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-foot" style="display: block;">
                                            <form action="/reviews/<%= review.product._id %>/reviews/<%= review.id %>?_method=PUT&from=viewedUser" method="POST" class="edit-review-form">
                                                <textarea class="textarea" name="review[body]" required><%= review.body %></textarea>
                                                <fieldset class="starability-basic reviewRating">
                                                    <legend>Rating:</legend>
                                                    <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0"  <% if (review.rating == 0) { %> checked <% } %> aria-label="No rating." />
                                                    <input type="radio" id="edit-rate1" name="review[rating]" value="1" <% if (review.rating == 1) { %> checked <% } %> />
                                                    <label for="edit-rate1" title="Terrible">1 star</label>
                                                    <input type="radio" id="edit-rate2" name="review[rating]" value="2" <% if (review.rating == 2) { %> checked <% } %> />
                                                    <label for="edit-rate2" title="Not good">2 stars</label>
                                                    <input type="radio" id="edit-rate3" name="review[rating]" value="3" <% if (review.rating == 3) { %> checked <% } %> />
                                                    <label for="edit-rate3" title="Average">3 stars</label>
                                                    <input type="radio" id="edit-rate4" name="review[rating]" value="4" <% if (review.rating == 4) { %> checked <% } %> />
                                                    <label for="edit-rate4" title="Very good">4 stars</label>
                                                    <input type="radio" id="edit-rate5" name="review[rating]" value="5" <% if (review.rating == 5) { %> checked <% } %> />
                                                    <label for="edit-rate5" title="Amazing">5 stars</label>
                                                </fieldset>
                                                <input class="button is-primary" type="submit" value="Update">
                                            </form>
                                        </section>
                                    </div>
                                </div>    
                                <button class="button is-danger del">Delete</button>
                                <div class="modal modalDelete">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Are you sure?</p>
                                            <button class="delete deleteDelete" aria-label="close"></button>
                                        </header>
                                        <section class=" modal-card-foot" style="display: block;">
                                            <p class="title is-5">This action is irrevocable and will remove the review permanently.</p>
                                            <form action="/reviews/<%= review.product._id %>/reviews/<%= review._id %>?_method=DELETE&from=user" method="POST">
                                                <input class="button is-danger noborder" type="submit" value="Delete">
                                            </form>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div> 
                <% }); %>     
            <br>               
        <% } else { %>
            <div class="smallerCenter" style="text-align: center;">
                <p class="subtitle">This user does not have any reviews.</p>    
            </div>   
        <% } %>
    </div>
</div>
</div>

<script src='/dist/js/dashboard_products.js'></script> 
<script src="/dist/js/profile.js"></script>
<script src="/dist/js/reviews.js"></script>
<% include ../partials/footer %>
