<% include ../partials/header %>
<link rel="stylesheet" href="../../dist/css/categories.css">
<link rel="stylesheet" href="../../dist/css/products.css">
<link rel="stylesheet" href="../../dist/css/tooltips.css">

<div id="results" class="container-fluid">  
    <div class="columns content-wrapper">
        <div class="searchSidebar column is-one-fifth frame products" style="border-top-right-radius: 0px !important;">
            <div>
                <p style="font-size: 1.2rem; text-align: center;">Filters</p>
                <a role="button" class="navbar-burger filtersBurger burger" aria-label="menu" aria-expanded="false" data-target="filtersMenu" style="width: auto;">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="filters-menu" id="filtersMenu">
                <section class="facet-wrapper">
                    <div class="facet-category-title" class="facet">
                        Categories
                    </div>
                    <div id="categories">
                        <% if (searchCateg === 'all') { %>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="Electronics" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <button class="searchBtn searchCategBtn">Electronics</button>
                            </form>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="Home Improvement" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <button class="searchBtn searchCategBtn">Home Improvement</button>
                            </form>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="Fashion and Beauty" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <button class="searchBtn searchCategBtn">Fashion and Beauty</button>
                            </form>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="Pet Supplies" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <button class="searchBtn searchCategBtn">Pet Supplies</button>
                            </form>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="Mothers and Babies" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <button class="searchBtn searchCategBtn">Mothers and Babies</button>
                            </form>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="Sports and Outdoors" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <button class="searchBtn searchCategBtn">Sports and Outdoors</button>
                            </form>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="Collectibles and Art" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <button class="searchBtn searchCategBtn">Collectibles and Art</button>
                            </form>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="Leisure Time" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <button class="searchBtn searchCategBtn">Leisure Time</button>
                            </form>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="Vehicles" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <button class="searchBtn searchCategBtn">Vehicles</button>
                            </form>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="Real Estate" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <button class="searchBtn searchCategBtn">Real Estate</button>
                            </form>
                        <% } else { %>
                            <form action="/firstCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="category" value="all" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <button class="searchBtn searchCategBtn"><i class="fas fa-caret-left"></i> <%= searchCateg %></button>
                            </form>
                            <% secCat.forEach((category) => { %>
                            <form action="/secondCategSearch" method="POST">
                                <input type="text" name="searchName" value="<%= searchName %>" hidden>
                                <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
                                <input type="text" name="category" value="<%= category %>" hidden>
                                <input type="text" name="continent" value="<%= continent %>" hidden>
                                <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                                <input type="text" name="currency" value="<%= currency %>" hidden>
                                <button class="searchBtn searchCategBtn"><%= category %></button>
                            </form>
                        <% }); } %>
                    </div>
                </section>
        
                <form action="/firstCategSearch" method="POST" id="searchForm">
                    <input type="text" name="searchName" value="<%= searchName %>" hidden>
                    <input type="radio" name="category" value="<%= searchCateg %>" hidden checked>
                    <% include ../partials/filterSort %>
                </form>
                <div class="spacing">
                    <button class="button is-primary" form="searchForm">Filter</button>
                    <form action="/firstCategSearch" method="POST" id="resetForm">
                        <input type="text" name="searchName" value="<%= searchName %>" hidden>
                        <input type="text" name="category" value="<%= searchCateg %>" hidden>
                        <button class="button is-primary">Reset Filter</button>
                    </form>        
                </div>
            </div>

        </div>
        <div class="columns column">
            <div class="column"></div>
            <div class="column is-three-fifths results-wrapper">
                <section id="paginationTop" class="paginationU"><% include ../partials/paginateFirstSearch %></section>
                <section id="results-topbar">
                    <div id="stats" class="text-muted"></div>
                </section>
    
                <main id="hits">
                    <%  if (products.length > 0) {
                            products.forEach((product) => { %>
                                <article class="hit columns frame">
                                    <div class="product-picture-wrapper">
                                        <% if (product._source.feat_1.status === true) { %><span class="featured"></span><% } %>
                                        <figure class="image is-128x128" style="margin:auto;">
                                            <img src="<%= product._source.images[0].url %>" style="margin: auto; height: 100%; border-style: solid; border-radius: 10px;">
                                        </figure>
                                    </div>
                                    <div class="column prod_info product-desc-wrapper" style="text-align: left !important;">
                                        <div class="product-name">
                                            <p class="is-5"><a class="link" href="/products/<%= product._id %>/view"><%= product._source.name %></a></p>
                                            <% if (product._source.feat_1.status === true) { %>
                                                <p class="is-5"><span style="color: red;"><i class="fas fa-fire"></i> FEATURED DEAL <i class="fas fa-fire"></i></span></p>    
                                            <% } %>
                                            <p class="is-5">From: <%= product._source.author.city %>, <%= product._source.author.country %></p>
                                            <p>
                                                <% for(let i = 0; i < 5; i++) { %>
                                                    <% if(i < Math.floor(product._source.avgRating)) { %>
                                                    <!-- display a full star -->
                                                    <i class="fas fa-star" style="color: orange;"></i>
                                                    <% } else if((product._source.avgRating - i) > 0 && (product._source.avgRating - i) < 1) { %>
                                                    <!-- display a half star -->
                                                    <i class="fas fa-star-half-alt" style="color: orange;"></i>
                                                    <% } else { %>
                                                    <!-- display an empty star -->
                                                    <i class="far fa-star" style="color: orange;"></i>
                                                    <% } %>
                                                <% } %>
                                            </p>
                                            <a href="/products/<%= product._id %>/view" class="button is-primary">View Details</a>
                                        </div>
                                    </div>
                                    <div class="column prod_info" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; position: relative; top: -1vh;">
                                        <div class="prices openPrices frame">
                                            <p class="price_text"> <%= product._source.btcPrice %></p>
                                            <span class="price_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                                        </div>
                                    </div>
                                </article>
                        <% }); } else { %> 
                            <p class="title is-4">No products found.</p>
                    <% } %>
                </main>
                <section id="paginationBottom" class="paginationU paginationD"><% include ../partials/paginateFirstSearch %></section>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<script src="../../dist/js/search.js"></script>