<% include ../partials/header %>
<link rel="stylesheet" href="/dist/css/categories.css">
<link rel="stylesheet" href="/dist/css/products.css">
<link rel="stylesheet" href="/dist/css/tooltips.css">
<div id="results" class="container-fluid">  
    <div class="columns content-wrapper" style="margin-bottom: 0.5rem;">
        <div class="searchSidebar column is-one-fifth frame products">    
            <div>
                <p class="filters">Filters</p>
                <a role="button" class="navbar-burger filtersBurger burger" aria-label="menu" aria-expanded="false" data-target="filtersMenu" style="width: auto;">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>     
            <div class="filters-menu" id="filtersMenu">
                <section class="facet-wrapper">
                    <div class="facet-category-title" class="facet">
                        Categories
                    </div>
                    <div id="categories">
                        <form action="/secondCategSearch" method="POST">
                            <input type="text" name="searchName" value="<%= searchName %>" hidden>
                            <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
                            <input type="text" name="category" value="<%= secondSearchCateg %>" hidden>
                            <input type="text" name="currency" value="<%= currency %>" hidden>
                            <input type="text" name="condition" value="<%= condition %>" hidden>
                            <input type="text" name="avgRating" value="<%= avgRating %>" hidden>
                            <input type="text" name="continent" value="<%= continent %>" hidden>
                            <button class="searchBtn searchCategBtn"><i class="fas fa-caret-left"></i> <%= thirdSearchCateg %></button>
                        </form>
                    </div>
                </section>
        
                <form action="/thirdCategSearch" method="POST" id="searchForm">
                    <input type="text" name="searchName" value="<%= searchName %>" hidden>
                    <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
                    <input type="text" name="secondSearchCateg" value="<%= secondSearchCateg %>" hidden>
                    <input type="text" name="category" value="<%= thirdSearchCateg %>" hidden>
                    <% include ../partials/filterSort %>      
                </form>
                <div class="spacing">
                    <button class="button is-primary" form="searchForm">Filter</button>
                    <form action="/thirdCategSearch" method="POST" id="resetForm">
                        <input type="text" name="searchName" value="<%= searchName %>" hidden>
                        <input type="text" name="searchCateg" value="<%= searchCateg %>" hidden>
                        <input type="text" name="secondSearchCateg" value="<%= secondSearchCateg %>" hidden>
                        <input type="text" name="category" value="<%= thirdSearchCateg %>" hidden>
                        <button class="button is-primary">Reset Filter</button>
                    </form>        
                </div>
            </div>   

        </div>
        <div class="columns column">
            <div class="column"></div>
            <div class="column is-three-fifths results-wrapper">
                <section id="paginationTop" class="paginationU"><% include ../partials/paginateThirdSearch %></section>
                <section id="results-topbar">
                    <div id="stats" class="text-muted"></div>
                </section>
                <main id="hits">
                    <%  if (products.length > 0) {
                            products.forEach((product) => { %>
                                <article class="hit hitFrame columns frame <% if (product._source.feat_1.status == true) { %>featured<% } %>">
                                    <form action="/products/<%= product._source.id %>/view" method="GET" class="updMsg" target="_blank">
                                        <button class="chatBtn">
                                            <span class="chatSpan"></span>
                                        </button>
                                    </form>
                                    <div class="product-picture-wrapper">
                                        <% if (product._source.feat_1.status === true) { %><span class="featured"></span><% } %>
                                        <figure class="image is-128x128" style="margin:auto;">
                                            <img data-src="<%= product._source.image %>" class="productImage" alt="">
                                        </figure>
                                    </div>
                                    <div class="column prod_info product-desc-wrapper" style="text-align: left !important;">
                                        <div class="product-name">
                                            <p class="is-5"><a class="link" href="/products/<%= product._source.id %>/view"><%= product._source.name %></a></p>
                                            <p class="is-5">From: <%= product._source.author.city %>, <%= product._source.author.country %></p>
                                            <p>
                                                <% for(let i = 0; i < 5; i++) { %>
                                                    <% if(i < Math.floor(product._source.avgRating)) { %>
                                                    <!-- display a full star -->
                                                    <i class="fas fa-star" style="color: orange;"></i>
                                                    <% } else if((product._source.avgRating - i) > 0 && (product._source.avgRating - i) < 1) { %>
                                                    <!-- display a half star -->
                                                    <i class="fas fa-star-half-alt" style="color: orange;"></i>
                                                    <% } else { %>
                                                    <!-- display an empty star -->
                                                    <i class="far fa-star" style="color: orange;"></i>
                                                    <% } %>
                                                <% } %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column prod_info productPrice">
                                        <% if (product._source.author.accountType == 'Partner') { %>
                                            <div class="searchBadge">
                                                <img src="/dist/img/badge.png" alt="Partnered user" title="Partnered user" class="badge">
                                            </div>
                                        <% } %>
                                        <div class="prices openPrices frame">
                                            <p class="price_text"> <%= product._source.btcPrice %></p>
                                            <span class="price_img"><img src="/dist/img/bitcoin.png" alt="Bitcoin"></span>
                                        </div>
                                    </div>
                                </article>
                        <% }); } else { %> 
                            <p class="title is-4">No products found.</p>
                    <% } %>
                </main>
                <section id="paginationBottom" class="paginationU paginationD"><% include ../partials/paginateThirdSearch %></section>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>

<script src="/dist/js/search.js"></script>
<% include ../partials/footer %>
