<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/messages.css" />
<div class="columns" style="color: orange;">
    <% include ../partials/sidebar %>
    <div class="column dashboard-right">
        <div class="dashTop column">
            <h1 class="title">Messages</h1>
        </div>
        <div class="halfPad">
            <br>
        </div>
        <div>
            <div class="container">
                <% if (chats.docs.length === 0) { %>
                    <div class="column">
                        <p class="title">You do not have any open chats at this time.</p>
                        <p class="subtitle">Chats get deleted after a month of no activity.</p>
                    </div>
                <% } else { %>  
                    <div class="pagination paginationT messagePagination">
                        <% include ../partials/paginateChats %>
                    </div>
                <% } %>
                <div class="columns">
                    <div class="column">
                        <% for (let i = 0; i < chats.docs.length; i += 2) { %>
                            <div class="columns messageObj frame">
                                <% if (!chats.docs[i].deal) { %>
                                    <form action="/messages/<%= chats.docs[i]._id %>?_method=PUT" method="POST" class="updMsg">
                                        <button class="chatBtn">
                                            <span class="chatSpan"></span>
                                        </button>
                                    </form>
                                <% } else { %>
                                    <form action="/messages/<%= chats.docs[i]._id %>/<%= chats.docs[i].deal %>?_method=PUT" method="POST" class="updMsg">
                                        <button class="chatBtn">
                                            <span class="chatSpan"></span>
                                        </button>
                                    </form>
                                <% } %>
                                <div class="column">
                                    <img src="<% if (chats.docs[i].user1.id.toString() !== user._id.toString()) { %> 
                                        <%= chats.docs[i].user1.avatarUrl %>
                                    <% } else { %>
                                        <%= chats.docs[i].user2.avatarUrl %>
                                    <% } %>" class="open-img msgImg">
                                </div>
                                <div class="column prod_info ">
                                    <p class="title is-5 messageProfileText"><% if (chats.docs[i].user1.id.toString() !== user._id.toString()) { %> 
                                        <%= chats.docs[i].user1.username %>
                                    <% } else { %>
                                        <%= chats.docs[i].user2.username %>
                                    <% } %></p>
                                    <p class="title is-5 messageProfileText">Deal: <%= chats.docs[i].product.name %></p>
                                    <p class="subtitle messageProfileText">Last message: <br>
                                        <%=((  chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMonth() + 1) < 10) ? '0' + ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMonth() + 1) : ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMonth() + 1) %>
                                        /<%= (( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getDate()) < 10) ? '0' + ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getDate()) : ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getDate()) %> -
                                        <%= (( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getHours()) < 10) ? '0' + ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getHours()) : ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getHours()) %>:
                                        <%= (( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMinutes()) < 10) ? '0' + ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMinutes()) : ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMinutes()) %></p>
                                    <% if ((chats.docs[i].messages[chats.docs[i].messages.length - 1].read == false) && (chats.docs[i].messages[chats.docs[i].messages.length - 1].sender.toString() != user._id.toString())) { %>
                                        <p style="color: red;">New Message(s)</p>    
                                    <% } else { %>
                                        <p>No new messages</p>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="column">
                        <% for (let i = 1; i < chats.docs.length; i += 2) { %>
                            <div class="columns messageObj frame">
                                <% if (!chats.docs[i].deal) { %>
                                    <form action="/messages/<%= chats.docs[i]._id %>?_method=PUT" method="POST" class="updMsg">
                                        <button class="chatBtn">
                                            <span class="chatSpan"></span>
                                        </button>
                                    </form>
                                <% } else { %>
                                    <form action="/messages/<%= chats.docs[i]._id %>/<%= chats.docs[i].deal %>?_method=PUT" method="POST" class="updMsg">
                                        <button class="chatBtn">
                                            <span class="chatSpan"></span>
                                        </button>
                                    </form>
                                <% } %>
                                <div class="column">
                                    <img src="<% if (chats.docs[i].user1.id.toString() !== user._id.toString()) { %> 
                                        <%= chats.docs[i].user1.avatarUrl %>
                                    <% } else { %>
                                        <%= chats.docs[i].user2.avatarUrl %>
                                    <% } %>" class="open-img msgImg">
                                </div>
                                <div class="column prod_info ">
                                    <p class="title is-5 messageProfileText"><% if (chats.docs[i].user1.id.toString() !== user._id.toString()) { %> 
                                        <%= chats.docs[i].user1.username %>
                                    <% } else { %>
                                        <%= chats.docs[i].user2.username %>
                                    <% } %></p>
                                    <p class="title is-5 messageProfileText">Deal: <%= chats.docs[i].product.name %></p>
                                    <p class="subtitle messageProfileText">Last message: <br>
                                        <%=((  chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMonth() + 1) < 10) ? '0' + ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMonth() + 1) : ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMonth() + 1) %>
                                        /<%= (( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getDate()) < 10) ? '0' + ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getDate()) : ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getDate()) %> -
                                        <%= (( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getHours()) < 10) ? '0' + ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getHours()) : ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getHours()) %>:
                                        <%= (( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMinutes()) < 10) ? '0' + ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMinutes()) : ( chats.docs[i].messages[chats.docs[i].messageCount - 1].createdAt.getMinutes()) %></p>
                                        <% if ((chats.docs[i].messages[chats.docs[i].messages.length - 1].read == false) && (chats.docs[i].messages[chats.docs[i].messages.length - 1].sender.toString() != user._id.toString())) { %>
                                            <p style="color: red;">New Message(s)</p>    
                                        <% } else { %>
                                            <p>No new messages</p>
                                        <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <% if (chats.docs.length !== 0 ) { %>
                    <div class="pagination paginationD messagePagination">
                        <% include ../partials/paginateChats %>
                    </div>
                <% } %>
                </div>
            </div>
        </div>
</div>

<% include ../partials/footer %>
<script src="../../dist/js/messages.js"></script>
<script src='../../dist/js/dashboard_products.js'></script>