<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/messages.css">
<div class="columns" style="color: orange;">
    <!-- <% include ../partials/sidebar %> -->
    <div class="column is-one-fifth" style="margin-top: 2vh;">
        <a href="/messages" class="button is-primary">Back to Dashboard</a>
        <div>
            <div class="messageProfile">
                <div class="">
                    <img src="<% if (chat.user1.id.toString() !== user._id.toString()) { %> 
                        <%= chat.user1.avatarUrl %>
                    <% } else { %>
                        <%= chat.user2.avatarUrl %>
                    <% } %>" class="open-img ">
                </div>
                <hr>
                <div class=" prod_info ">
                    <p class="title is-5 messageProfileText">Full Name: <%= user2.full_name %></p>
                    <p class="title is-5 messageProfileText">Country: <%= user2.country %></p>
                    <p class="title is-5 messageProfileText">City: <%= user2.city %></p>
                    <a href="/profile/<%= user2.id %>" class="button is-primary">View Profile</a>
                    <a href="" class="button is-danger">Report</a>
                </div>
            </div>
        </div>
    </div>

    <div class="column dashboard-right">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
                <div>
                    <div class="level toplevel">
                        <div class="level-left">
                                <a href="/profile/<%= user2.id %></a>"><p class="title is-4"><%= user2.full_name %></p></a>                                   
                        </div>
                        <div class="level-right" style="padding-right: 1vw;">
                        </div>
                    </div>

                    <div class="midlevel" id="mid">
                        <% chat.messages.forEach((message) => { %>
                            <% if (message.sender.toString() != user._id.toString()) { %>
                                <div class="level">
                                    <div class="level-left leftlv">
                                        <div class="recmsg msg">
                                            <p><%= message.message %></p>
                                            <time>
                                                <%=(( message.createdAt.getMonth() + 1) < 10) ? '0' + (message.createdAt.getMonth() + 1) : (message.createdAt.getMonth() + 1) %>
                                                /<%= ((message.createdAt.getDate()) < 10) ? '0' + (message.createdAt.getDate()) : (message.createdAt.getDate()) %> -
                                                <%= ((message.createdAt.getHours()) < 10) ? '0' + (message.createdAt.getHours()) : (message.createdAt.getHours()) %> :
                                                <%= ((message.createdAt.getMinutes()) < 10) ? '0' + (message.createdAt.getMinutes()) : (message.createdAt.getMinutes()) %>
                                            </time>
                                        </div>
                                    </div>
                                </div>
                            <% } else if (message.sender.toString() == user._id.toString()) { %>
                                <div class="level" style="display: block;">
                                    <div class="level-right">
                                        <div class="sentmsg msg">
                                            <p><%= message.message %></p>
                                            <time>
                                                <%=(( message.createdAt.getMonth() + 1) < 10) ? '0' + (message.createdAt.getMonth() + 1) : (message.createdAt.getMonth() + 1) %>
                                                /<%= ((message.createdAt.getDate()) < 10) ? '0' + (message.createdAt.getDate()) : (message.createdAt.getDate()) %> -
                                                <%= ((message.createdAt.getHours()) < 10) ? '0' + (message.createdAt.getHours()) : (message.createdAt.getHours()) %> :
                                                <%= ((message.createdAt.getMinutes()) < 10) ? '0' + (message.createdAt.getMinutes()) : (message.createdAt.getMinutes()) %>
                                            </time>
                                        </div>
                                    </div>      
                                </div>
                            <% } %>
                        <% }); %>
                        
                        
                    </div>
                    <div class="bottomlv">
                        <form action="<%= chat._id %>/sendMessage?_method=PUT" method="POST" class="msgbox">
                                <textarea class="textarea has-fixed-size" rows="2" cols="10" name="message"></textarea>
                                <button class="button is-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="productSide">
            <div class="messageProfile">
                <div>
                    <img src="<%= chat.product.imageUrl %>"  class="open-img">
                </div>
                <hr>
                <div class=" prod_info ">  
                    <p class="title is-5 messageProfileText">Name: <%= chat.product.name %></p>
                    <% if ((chat.product.price[0] != 0) && (chat.product.accepted[0])) { %>
                        <div class="prices msgPrices">
                            <span class="price_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                            <p class="price_text"> <%= chat.product.price[0] %></p>
                        </div>
                    <% } 
                        if ((chat.product.price[1] != 0) && (chat.product.accepted[1])) {
                    %>
                        <div class="prices msgPrices">
                            <span class="price_img"><img src="../../dist/img/bitcoincash.png" alt="BitcoinCash"></span>
                            <p class="price_text"> <%= chat.product.price[1] %></p>
                        </div>
                    <% } 
                        if ((chat.product.price[2] != 0) && (chat.product.accepted[2])) {
                    %>
                        <div class="prices msgPrices">
                            <span class="price_img"><img src="../../dist/img/ethereum.png" alt="Ethereum"></span>
                            <p class="price_text"> <%= chat.product.price[2] %></p>
                        </div>
                    <% } 
                        if ((chat.product.price[3] != 0) && (chat.product.accepted[3])) {
                    %>
                        <div class="prices msgPrices">
                            <span class="price_img"><img src="../../dist/img/litecoin.png" alt="Litecoin"></span>
                            <p class="price_text"> <%= chat.product.price[3] %></p>
                        </div>
                    <% } 
                        if ((chat.product.price[4] != 0) && (chat.product.accepted[4])) {
                    %>
                        <div class="prices msgPrices">
                            <span class="price_img"><img src="../../dist/img/dash.png" alt="DASH"></span> 
                            <p class="price_text"> <%= chat.product.price[4] %></p>
                        </div>
                    <% } %>
                    <a href="/products/<%= chat.product.id %>/view" class="button is-primary">View Product</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>