<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/messages.css" />
<div class="columns wrapper">
    <% include ../partials/sidebar %>
    <div class="column dashboard-right">
        <div class="dashTop column">
            <h1 class="title dashTitle" style="color: white !important;">Messages</h1>
        </div>
        <div class="halfPad">
            <br>
        </div>
        <div>
            <% const k = chats.docs.length; %>
            <div class="container">
                <% if (k === 0) { %>
                    <div class="column">
                        <p class="title">You do not have any open chats at this time.</p>
                        <p class="subtitle">Chats get deleted after a month of no activity.</p>
                    </div>
                <% } else { %>  
                    <div class="pagination paginationT messagePagination">
                        <% include ../partials/paginateChats %>
                    </div>
                <% } %>
                <% 
                    let a = chats.docs;
                    let b = [];
                    b = a.splice(0, 5);
                %>
                <div class="columns indexRow">
                    <% b.forEach(chat => { %>
                        <div class="column card feat_card frame activeDealProduct messageDealProduct">
                            <% if (!chat.deal) { %>
                                <form action="/messages/<%= chat._id %>?_method=PUT" method="POST" class="updMsg">
                                    <button class="chatBtn">
                                        <span class="chatSpan"></span>
                                    </button>
                                </form>
                            <% } else { %>
                                <form action="/messages/<%= chat._id %>/<%= chat.deal %>?_method=PUT" method="POST" class="updMsg">
                                    <button class="chatBtn">
                                        <span class="chatSpan"></span>
                                    </button>
                                </form>
                            <% } %>
                            <div class="card-image">
                                <figure class="image featimg is-4by3" style="width: auto; margin: auto;">
                                    <img class="chatImg" data-src="<% if (chat.user1.id.toString() !== user._id.toString()) { %> 
                                        <%= chat.user1.avatarUrl %>
                                    <% } else { %>
                                        <%= chat.user2.avatarUrl %>
                                    <% } %>" alt="User image">
                                </figure>
                                <figure class="image featimg is-64x64 prodImage">
                                    <img class="chatImg" data-src="<%= chat.product.imageUrl %>" alt="<%= chat.product.name %>">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title productName messageProfileText"><% if (chat.user1.id.toString() !== user._id.toString()) { %> 
                                            <%= chat.user1.username %>
                                        <% } else { %>
                                            <%= chat.user2.username %>
                                        <% } %></p>
                                        <p class="title productName" style="overflow: hidden;"><%= chat.product.name %></p>
                                    </div>
                                </div>
                                <p class="subtitle messageProfileText">Last message: <br>
                                    <%=((  chat.messages[chat.messageCount - 1].createdAt.getMonth() + 1) < 10) ? '0' + ( chat.messages[chat.messageCount - 1].createdAt.getMonth() + 1) : ( chat.messages[chat.messageCount - 1].createdAt.getMonth() + 1) %>
                                    /<%= (( chat.messages[chat.messageCount - 1].createdAt.getDate()) < 10) ? '0' + ( chat.messages[chat.messageCount - 1].createdAt.getDate()) : ( chat.messages[chat.messageCount - 1].createdAt.getDate()) %> -
                                    <%= (( chat.messages[chat.messageCount - 1].createdAt.getHours()) < 10) ? '0' + ( chat.messages[chat.messageCount - 1].createdAt.getHours()) : ( chat.messages[chat.messageCount - 1].createdAt.getHours()) %>:
                                    <%= (( chat.messages[chat.messageCount - 1].createdAt.getMinutes()) < 10) ? '0' + ( chat.messages[chat.messageCount - 1].createdAt.getMinutes()) : ( chat.messages[chat.messageCount - 1].createdAt.getMinutes()) %></p>
                                <% if ((chat.messages[chat.messages.length - 1].read == false) && (chat.messages[chat.messages.length - 1].sender.toString() != user._id.toString())) { %>
                                    <p style="color: red;">New Message(s)</p>    
                                <% } else { %>
                                    <p>No new messages</p>
                                <% } %>
                            </div>    
                        </div>
                    <% }); %>
                    <% if (b.length < 5) { %>
                        <% for (let v = b.length; v < 5; v+= 1) { %>
                            <div class="column"></div>
                        <% } %>
                    <% } %>
                </div>
                <% if (a.length > 0 ) { b = a.splice(0, 5); %>
                    <div class="columns indexRow">
                        <% b.forEach(chat => { %>
                            <div class="column card feat_card frame messageDealProduct">
                                <% if (!chat.deal) { %>
                                    <form action="/messages/<%= chat._id %>?_method=PUT" method="POST" class="updMsg">
                                        <button class="chatBtn">
                                            <span class="chatSpan"></span>
                                        </button>
                                    </form>
                                <% } else { %>
                                    <form action="/messages/<%= chat._id %>/<%= chat.deal %>?_method=PUT" method="POST" class="updMsg">
                                        <button class="chatBtn">
                                            <span class="chatSpan"></span>
                                        </button>
                                    </form>
                                <% } %>
                                <div class="card-image">
                                    <figure class="image featimg is-4by3" style="width: auto; margin: auto;">
                                        <img class="chatImg" data-src="<% if (chat.user1.id.toString() !== user._id.toString()) { %> 
                                            <%= chat.user1.avatarUrl %>
                                        <% } else { %>
                                            <%= chat.user2.avatarUrl %>
                                        <% } %>" alt="User Image">
                                    </figure>
                                    <figure class="image featimg is-64x64 prodImage">
                                        <img class="chatImg" data-src="<%= chat.product.imageUrl %>" alt="<%= chat.product.name %>">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title productName messageProfileText"><% if (chat.user1.id.toString() !== user._id.toString()) { %> 
                                                <%= chat.user1.username %>
                                            <% } else { %>
                                                <%= chat.user2.username %>
                                            <% } %></p>
                                            <p class="title productName" style="overflow: hidden;">Deal: <%= chat.product.name %></p>
                                        </div>
                                    </div>
                                    <p class="subtitle messageProfileText">Last message: <br>
                                        <%=((  chat.messages[chat.messageCount - 1].createdAt.getMonth() + 1) < 10) ? '0' + ( chat.messages[chat.messageCount - 1].createdAt.getMonth() + 1) : ( chat.messages[chat.messageCount - 1].createdAt.getMonth() + 1) %>
                                        /<%= (( chat.messages[chat.messageCount - 1].createdAt.getDate()) < 10) ? '0' + ( chat.messages[chat.messageCount - 1].createdAt.getDate()) : ( chat.messages[chat.messageCount - 1].createdAt.getDate()) %> -
                                        <%= (( chat.messages[chat.messageCount - 1].createdAt.getHours()) < 10) ? '0' + ( chat.messages[chat.messageCount - 1].createdAt.getHours()) : ( chat.messages[chat.messageCount - 1].createdAt.getHours()) %>:
                                        <%= (( chat.messages[chat.messageCount - 1].createdAt.getMinutes()) < 10) ? '0' + ( chat.messages[chat.messageCount - 1].createdAt.getMinutes()) : ( chat.messages[chat.messageCount - 1].createdAt.getMinutes()) %></p>
                                    <% if ((chat.messages[chat.messages.length - 1].read == false) && (chat.messages[chat.messages.length - 1].sender.toString() != user._id.toString())) { %>
                                        <p style="color: red;">New Message(s)</p>    
                                    <% } else { %>
                                        <p>No new messages</p>
                                    <% } %>
                                </div>    
                            </div>
                        <% }); %>
                        <% if (b.length < 5) { %>
                            <% for (let v = b.length; v < 5; v+= 1) { %>
                                <div class="column"></div>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
                <% if (k !== 0 ) { %>
                    <div class="pagination paginationD messagePagination">
                        <% include ../partials/paginateChats %>
                    </div>
                <% } %>
                </div>
            </div>
    </div>
</div>

<script src="/dist/js/messages.js"></script>
<script src='/dist/js/dashboard_products.js'></script>
<% include ../partials/footer %>
