<% include ../partials/header %>
<div class="hero-body">
        <% include ../partials/savvy %>
    <div class="container content">
        <h1>Here you can Top-up Bitcoincash! Press button!</h1>
        <button class="button is-primary" id="savvy-bitcoincash">Top-up <%= coinsValue %> BCH</button>
    </div>
</div>
<script>
        (function () {
            window.savvy = new Savvy({
                button: '#savvy-bitcoincash',
                fiatValue: "<%= coinsValue %>"*"<%= bchrate %>",
                statusUrl: "/savvy/status/<%= orderId %>",
                statusInterval: "30",
                redirectTo: "/dashboard/addresses",
                currencies: [
                        {
                        "title":"Bitcoincash",
                        "code":"BCH",
                        "icon":"/dist/img/bitcoincash.png",
                        "blockExplorer":"https://www.blockdozer.com/address/%s",
                        "maxConfirmations":"<%= maxConfirmationsBCH %>",
                        "address":"<%= address %>",
                        "coinsValue":"<%= coinsValue %>",
                        "rate":"<%= bchrate %>"
                        }
                    ]
            });
        })();
    </script>
<% include ../partials/footer %>