<% include ../partials/header %>
<div class="hero-body">
        <% include ../partials/savvy %>
    <div class="container content">
        <h1>Here you can Top-up Bitcoin! Press button!</h1>
        <button class="button is-primary" id="savvy-bitcoin">Top-up <%= coinsValue %> BTC</button>
    </div>
</div>
<script>
        (function () {
            window.savvy = new Savvy({
                button: '#savvy-bitcoin',
                fiatValue: "<%= coinsValue %>"*"<%= btcrate %>",
                statusUrl: "/savvy/status/<%= orderId %>",
                statusInterval: "30",
                redirectTo: "/dashboard/addresses",
                currencies: [
                        {
                        "title":"Bitcoin",
                        "code":"BTC",
                        "icon":"/dist/img/bitcoin.png",
                        "blockExplorer":'https://www.blockchain.com/btc/address/%s',
                        "walletLink":"bitcoin:%s?amount=%s",
                        "maxConfirmations":"<%= maxConfirmationsBTC %>",
                        "address":"<%= address %>",
                        "coinsValue":"<%= coinsValue %>",
                        "rate":"<%= btcrate %>"
                        }
                    ]
            });
        })();
    </script>
<% include ../partials/footer %>