<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<div class="columns" style="color: orange;"> 
    <% include ../partials/sidebar %>
    <div class="column dashboard-right" style="margin-bottom: 4vh;">
            <div class="column dashTop">
                <h2 class="title">Transaction Details</h2>
            </div>
            <br>
            <div class="container content">    
                    <div class="columns" style="justify-content: center">
                        <div class="column is-three-fifths frame">
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" name="rate" value="1 BTC = $<%= btcrate %> USD" required readonly/>
                                        <span class="icon is-small is-left">
                                            <i class="fab fa-bitcoin"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" name="orderId" value="Transaction ID: <%= orderId %>" required readonly />
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-id-card"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" name="coinsValue" value="BTC to be deposited: <%= coinsValue %>" required readonly/>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-piggy-bank"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" name="maxConfirmationsBTC" value="Required Confirmations: <%= maxConfirmationsBTC %>" required readonly/>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-calendar-check"></i>
                                        </span>
                                    </p>
                                </div>
                        </div>
                    </div>
                </div>
            <% include ../partials/savvy %>
        <div class="container content">
            <h1></h1>
            <button class="button is-primary is-rounded" id="savvy-bitcoin">Top-up <%= coinsValue %> Bitcoin</button>
        </div>
    </div>
</div>

<script>
    (function () {
        window.savvy = new Savvy({
            button: '#savvy-bitcoin',
            fiatValue: "<%= coinsValue %>"*"<%= btcrate %>",
            statusUrl: "/savvy/status/<%= orderId %>",
            statusInterval: "30",
            redirectTo: "/dashboard/addresses",
            currencies: [
                    {
                    "title":"Bitcoin",
                    "code":"BTC",
                    "icon":"/dist/img/bitcoin.png",
                    "blockExplorer":'https://www.blockchain.com/btc/address/%s',
                    "walletLink":"bitcoin:%s?amount=%s",
                    "maxConfirmations":"<%= maxConfirmationsBTC %>",
                    "address":"<%= address %>",
                    "coinsValue":"<%= coinsValue %>",
                    "rate":"<%= btcrate %>"
                    }
                ]
        });
    })();
</script>
<% include ../partials/footer %>