<% include ../partials/header %>
<div class="hero-body">
        <% include ../partials/savvy %>
    <div class="container content">
        <h1>Here you can Top-up Dash! Press button!</h1>
        <button class="button is-primary" id="savvy-dash">Top-up <%= coinsValue %> DASH</button>
    </div>
</div>
<script>
        (function () {
            window.savvy = new Savvy({
                button: '#savvy-dash',
                fiatValue: "<%= coinsValue %>"*"<%= dashrate %>",
                statusUrl: "/savvy/status/<%= orderId %>",
                statusInterval: "30",
                redirectTo: "/dashboard/addresses",
                currencies: [
                        {
                        "title":"Dash",
                        "code":"DASH",
                        "icon":"/dist/img/dash.png",
                        "blockExplorer":"https://chainz.cryptoid.info/dash/address.dws?%s",
                        "maxConfirmations":"<%= maxConfirmationsDASH %>",
                        "address":"<%= address %>",
                        "coinsValue":"<%= coinsValue %>",
                        "rate":"<%= dashrate %>"
                        }
                    ]
            });
        })();
    </script>
<% include ../partials/footer %>