<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" href="/dist/css/product_view.css">
<div class="column" style="padding-left: 5vw; padding-right: 5vw;">
<div class="hero-body">
    <% if(errors){ %>
        <div class="notification is-danger" role="alert" style="margin-bottom: 0;"> 
        <% errors.forEach(function( err){ %>
            <%= err.msg %><br>
        <% }) %>
        </div>
    <% } %>
    <br>
    <div class="column is-two-fifths frame smallerCenter">
        <div class="column">
                <h1 class="title">Transaction Details</h1>
        </div>
        <br>
        <div class="field" style="padding: 20px;">
            <figure class="image is-square" style="overflow: hidden;">
                <img class="mainImg dealImage" src="<%= product.images.sec[0].url %>" alt="<%= product.name %>"/>
            </figure>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" name="orderId" value="Product name: <%= product.name %> " required readonly />
                <span class="icon is-small is-left">
                    <i class="fas fa-cart-plus"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" name="coinsValue" value="Seller: <%= product.author.username %> " required readonly/>
                <span class="icon is-small is-left">
                    <i class="fas fa-user-tie"></i>
                </span>
            </p>
        </div>
        <% if (!product.dropshipped) { %>
            <div class="field">
                <p class="control has-icons-left">
                    <input type="text" class="input" value="Location: <%= product.author.country %>, <%= product.author.state %>, <%= product.author.city %>" required readonly>
                    <span class="icon is-small is-left">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                </p>
            </div>
        <% } %>
        <% let x = 0; 
            if ((product.delivery.shipping === false) || (product.delivery.shipping == undefined)) { %>
                <% x = 1; %>
            <% } %>
        <div class="frame" style="display: flex; justify-content: space-around;">
            <label for="f2fRadio">
                <i class="fas fa-handshake fa-7x <% if (x === 0) { %>blueI<% } else { %>greenI<% } %>" id="f2fLabel" style="margin-bottom: 1vh;"></i>
                <br>
                <p style="font-weight: 800">Seller Handled Delivery</p>
                <br>
                <input name="deliverySelect" type="radio" id="f2fRadio" class="is-checkradio is-info is-large" value="Face to Face" <% if (x === 1) { %>checked<% } %>>
                <label for="f2fRadio" style="padding-left: 2rem !important;"></label>
            </label>
            <% if (x === 0) { %>
                <label for="shipRadio">
                    <i class="fas fa-truck fa-7x blueI" id="shipLabel" style="margin-bottom: 1vh;"></i>
                    <br>
                    <p style="font-weight: 800">Shipping by Deal Your Crypto</p>
                    <br>
                    <input name="deliverySelect" type="radio" id="shipRadio" class="is-checkradio is-info is-large" value="Shipping">
                    <label for="shipRadio" style="padding-left: 2rem !important;"></label>
                </label>
            <% } %>
        </div>
        <br>
        <h2 class="subtitle">Your Details</h2>
        <form action="/products/<%= product.id %>/buy?_method=PUT" method="POST" class="dealForm">
            <div class="field">
                <label class="label" for="deliveryName" style="text-align: left !important;">Full Name</label>
                <p class="control has-icons-left">
                    <% if(user.full_name) { %>
                        <input class="input" name="deliveryName" type="tel" value="<%= user.full_name %>" required/>
                    <% } else { %>
                        <input class="input" name="deliveryName" type="tel" placeholder="Contact Person Name" required/>
                    <% } %>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user-tie"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label" for="deliveryEmail" style="text-align: left !important;">Email</label>
                <p class="control has-icons-left">
                    <% if(user.email) { %>
                        <input class="input" name="deliveryEmail" type="tel" value="<%= user.email %>" required/>
                    <% } else { %>
                        <input class="input" name="deliveryEmail" type="tel" placeholder="Contact Email" required/>
                    <% } %>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <% if (product.dropshipped) { %>
                <div class="field">
                    <label class="label" for="deliveryCountry" style="text-align: left !important;">Country</label>
                    <p class="control has-icons-left">
                        <input class="input" name="deliveryCountry" type="text" placeholder="Country" value="<% if (user.country) { %> <%= user.country %> <% } %>" required/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-flag"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label" for="deliveryState" style="text-align: left !important;">State</label>
                    <p class="control has-icons-left">
                        <input class="input" name="deliveryState" type="text" placeholder="State or County" value="<% if (user.state) { %> <%= user.state %> <% } %>" required/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-globe-americas"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label" for="deliveryCity" style="text-align: left !important;">City</label>
                    <p class="control has-icons-left">
                        <input class="input" name="deliveryCity" type="text" placeholder="City" value="<% if (user.city) { %> <%= user.city %> <% } %>" required/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-city"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label" for="deliveryStreet" style="text-align: left !important;">Street</label>
                    <p class="control has-icons-left">
                        <input class="input" name="deliveryStreet1" type="text" placeholder="Street" value="<% if (user.address1) { %> <%= user.address1 %> <% } %>" required/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-road"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label" for="deliveryZip" style="text-align: left !important;">Zip Code</label>
                    <p class="control has-icons-left">
                        <input class="input" name="deliveryZip" type="text" placeholder="Zip Code" value="<% if (user.zip) { %> <%= user.zip %> <% } %>" required/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                    </p>
                </div>
            <% } %>
            <br>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="deliveryShipping" value="FaceToFace">
            <div class="column prod_info" style="padding: 0;">
                <label class="img-check ">
                    <div class="prices frame openPrices">
                        <p class="price_text">
                            Price: $<%= product.usdPrice %> USD (<%= (product.usdPrice / btcrate).toFixed(8) %> BTC est.)
                        </p>
                        <span class="price_img"><img src="/dist/img/bitcoin.png" alt="Bitcoin"></span>
                    </div>
                </label>
                <br>
                <button class="button is-primary is-rounded is-fullwidth" >Send Buy Request</button>
            </div>
            <p class="help">You need to discuss with the seller if you'd like him to send the product to you.</p>
        </form>
    </div>
</div>
</div>
<% include ../partials/footer %>
