<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/messages.css">
<div class="container is-fluid">    
    <% if(errors){ %>
        <br>
        <div class="notification is-danger" role="alert" style="margin-bottom: 0;"> 
        <% errors.forEach(function( err){ %>
            <%= err.msg %><br>
        <% }) %>
        </div>
    <% } %>
    <div class="columns" style="margin-top: 5vh;">
        <% if (user._id.toString() === seller._id.toString()) { %>
            <div class="column is-one-fifth">
                <a href="/dashboard" class="button is-primary showLater smallerCenter" style="margin-bottom: 1vh;">To Dashboard</a>
                <div>
                    <div class="messageProfile frame smallerCenter profileMessage">
                        <div>
                            <div class="image is-128x128" style="margin:auto;">
                                <img data-src="<%= buyer.avatar.url %>" class="open-img productImage" alt="">
                            </div>
                        </div>
                        <br>
                        <div class=" prod_info ">
                            <p class="title is-5 messageProfileText"><%= buyer.username %></p>
                            <div class="buttons has-addons is-centered">
                                <a href="/profile/<%= buyer.id %>" class="button is-primary">View Profile</a>
                                <button class="button is-danger report">Report</button>
                            </div>
                            <% if (deal.product.dropshipped) { %>
                                <p class="title is-5 messageProfileText">Country: <%= deal.buyer.delivery.country %></p>
                                <p class="title is-5 messageProfileText">State: <%= deal.buyer.delivery.state %></p>
                                <p class="title is-5 messageProfileText">City: <%= deal.buyer.delivery.city %></p>
                                <p class="title is-5 messageProfileText">Street: <%= deal.buyer.delivery.street1 %></p>
                                <p class="title is-5 messageProfileText">Zip: <%= deal.buyer.delivery.zip %></p>
                            <% } %>
                            <div class="modal modalReport">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                    <p class="modal-card-title">Report User</p>
                                    <button class="delete deleteReport" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                    <form class="modal-form" action="/products/<%= deal._id %>/report" method="POST" style="display: block;">
                                        <input type="text" name="userid" value="<%= buyer.id %>" hidden>
                                        <div class="field select cont-select smmargin">
                                            <select name="topic" style="width: 100%;">
                                                <option value="" selected disabled>Reason</option>
                                                <option value="Fake">Fake product</option>
                                                <option value="Scam">Scamming attempt</option>
                                                <option value="Harassment">Harassment</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="field" style="margin-top: 3px;">
                                            <div class="control">
                                                <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                            </div>
                                        </div>
                                        <button class="button is-primary is-fullwidth">Send</button>
                                    </form>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-danger cancelReport">Cancel</button>
                                        <p class="subtitle">We will check the your report as soon as possible!</p>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/dashboard" class="button is-primary hideLater smallerCenter">To Dashboard</a>
            </div>
        <% } %>
        <% if (user._id.toString() === buyer._id.toString()) { %>
            <div class="column is-one-fifth">
                <a href="/dashboard" class="button is-primary showLater smallerCenter" style="margin-bottom: 1vh;">To Dashboard</a>
                <div>
                    <div class="messageProfile frame smallerCenter profileMessage">
                        <div>
                            <div class="image is-128x128" style="margin:auto;">
                                <img data-src="<%= seller.avatar.url %>" class="open-img productImage" alt="">
                            </div>
                        </div>
                        <br>
                        <div class=" prod_info ">
                            <p class="title is-5 messageProfileText"><%= seller.username %></p>
                            <div class="buttons has-addons is-centered">
                                <a href="/profile/<%= seller.id %>" class="button is-primary">View Profile</a>
                                <button class="button is-danger report">Report</button>
                            </div>
                            <div class="modal modalReport">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                    <p class="modal-card-title">Report User</p>
                                    <button class="delete deleteReport" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                    <form class="modal-form" action="/products/<%= deal._id %>/report" method="POST" style="display: block;">
                                        <input type="text" name="userid" value="<%= seller.id %>" hidden>
                                        <div class="field select cont-select smmargin">
                                            <select name="topic" style="width: 100%;">
                                                <option value="" selected disabled>Reason</option>
                                                <option value="Fake">Fake product</option>
                                                <option value="Scam">Scamming attempt</option>
                                                <option value="Harassment">Harassment</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="field" style="margin-top: 3px;">
                                            <div class="control">
                                                <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                            </div>
                                        </div>
                                        <button class="button is-primary is-fullwidth">Send</button>
                                    </form>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-danger cancelReport">Cancel</button>
                                        <p class="subtitle">We will check the your report as soon as possible!</p>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/dashboard" class="button is-primary hideLater smallerCenter">To Dashboard</a>
            </div>
        <% } %>
        <% if ((user._id.toString() === buyer._id.toString()) || (user._id.toString() === seller._id.toString())) { %>
            <div class="column smallerCenter">
                <div class="midlevel frame" id="mid">
                    <div class="level topWarn">
                        <div class="scrolling-limit">
                            <div class="scrolling">
                                <p style="color: white;">Be careful when sending sensitive information</p>
                            </div>
                        </div>
                    </div>
                    <% chat.messages.forEach((message) => { %>
                        <% if (message.sender.toString() != user._id.toString()) { %>
                            <article class="message rec" style="margin-right: 55%;">
                                <div class="message-header recMsg">
                                    <p><% if (message.sender.toString() === chat.user1.id.toString()) { %><%= chat.user1.username %> <% } else { %> <%= chat.user2.username %> <% } %></p>
                                    <time class="recDate">
                                        <%=(( message.createdAt.getMonth() + 1) < 10) ? '0' + (message.createdAt.getMonth() + 1) : (message.createdAt.getMonth() + 1) %>/<%= ((message.createdAt.getDate()) < 10) ? '0' + (message.createdAt.getDate()) : (message.createdAt.getDate()) %> -
                                        <%= ((message.createdAt.getHours()) < 10) ? '0' + (message.createdAt.getHours()) : (message.createdAt.getHours()) %>:<%= ((message.createdAt.getMinutes()) < 10) ? '0' + (message.createdAt.getMinutes()) : (message.createdAt.getMinutes()) %>
                                    </time>
                                </div>
                                <div class="message-body" style="text-align: left;">
                                    <span class="messageSpan"><%= message.message %></span>
                                </div>
                            </article>
                        <% } else if (message.sender.toString() == user._id.toString()) { %>
                            <article class="message sent" style="margin-left: 55%;">
                                <div class="message-header sentMsg">
                                    <p style="color: white !important;">You</p>
                                    <time style="color: white !important;">
                                        <%=(( message.createdAt.getMonth() + 1) < 10) ? '0' + (message.createdAt.getMonth() + 1) : (message.createdAt.getMonth() + 1) %>/<%= ((message.createdAt.getDate()) < 10) ? '0' + (message.createdAt.getDate()) : (message.createdAt.getDate()) %> -
                                        <%= ((message.createdAt.getHours()) < 10) ? '0' + (message.createdAt.getHours()) : (message.createdAt.getHours()) %>:<%= ((message.createdAt.getMinutes()) < 10) ? '0' + (message.createdAt.getMinutes()) : (message.createdAt.getMinutes()) %>
                                    </time>
                                </div>
                                <div class="message-body" style="text-align: left;">
                                    <span class="messageSpan"><%= message.message %></span>
                                </div>
                            </article>
                        <% } %>
                    <% }); %>
                </div>
                <div class="bottomlv frame">
                    <form action="/messages/<%= deal._id %>/<%= chat._id %>/sendMessageDeal?_method=PUT" method="POST" class="msgbox">
                        <textarea class="textarea has-fixed-size" rows="2" cols="10" name="message"></textarea>
                        <button class="button is-primary">Send</button>
                    </form>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="buttons has-addons is-centered">
                    <div class="messageProfile frame productFrame smallerCenter">
                        <div>                   
                            <div class="image is-128x128" style="margin:auto;">
                                <img data-src="<%= deal.product.imageUrl %>" class="open-img productImage" alt="">
                            </div>
                        </div>
                        <br>
                        <div class=" prod_info ">
                            <p class="title is-5 messageProfileText smallerCenter"><%= deal.product.name %></p>
                            <div class="prices openPrices frame" style="width: 80% !important;">
                                <p class="price_text" style="padding-left: 10px;"><%= deal.price %> BTC</p>
                                <span class="price_img"><img src="/dist/img/bitcoin.png" alt="Bitcoin"></span>
                            </div>
                            <% if (deal.product.qty) { %>
                                <div class="prices openPrices frame" style="width: 80% !important; padding-bottom: 10px !important;">
                                    <p class="price_text" style="margin: auto;">Quantity: <%= deal.product.qty %></p>
                                </div>
                                <br>
                            <% } %>
                            <p class="title is-5 messageProfileText" style="margin-top: 1vh;">Status: <span id="status"><%= deal.status %></span></p>
                            <% if ((deal.status === 'Processing') && (user._id.toString() === seller._id.toString())) { %>
                                <form action="/deals/<%= deal._id %>/accept?_method=PUT" id="acceptDeal" method="POST"></form>
                                <form action="/deals/<%= deal._id %>/decline?_method=PUT" id="declineDeal" method="POST"></form>
                                <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                <button class="button is-success" form="acceptDeal">Accept Deal</button>
                                <button class="button is-danger" form="declineDeal">Decline Deal</button>
                                
                            <% } %>
                            
                            <% if ((deal.status === 'Pending Delivery') && (user._id.toString() === buyer._id.toString())) { %>
                                <div class="buttons" style="display: block; margin: auto;">
                                    <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                    <div>
                                        <% if (deal.buyer.delivery.shipping == 'FaceToFace') { %>
                                            <% if ((deal.proof.image == 'Unset') && (deal.proof.text == 'Unset')) { %>
                                                <p class="smallerCenter">The seller hasn't uploaded proof of delivery yet.</p>
                                                <br>
                                            <% } else { %>
                                                <button class="button is-primary checkProof">Proof of delivery</button>
                                                <div class="modal modalCheckProof">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-card">
                                                        <header class="modal-card-head">
                                                            <p class="modal-card-title">Proof of delivery</p>
                                                            <button class="delete deleteCheckProof" aria-label="close"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <div class="column">
                                                                <% if (deal.proof.image != 'Unset') { %>
                                                                    <div class="columns">
                                                                        <div class="column" style="align-self: center;">
                                                                            <p>Image proof</p>
                                                                            <p>Click to open in a new tab</p>
                                                                        </div>
                                                                        <div class="column">
                                                                            <figure class="image is-128x128" style="margin: auto;">
                                                                                <a href="<%= deal.proof.image %>" target="_blank">
                                                                                    <img src="<%= deal.proof.image %>" class="profilepic" alt="Proof of delivery">
                                                                                </a>
                                                                            </figure>
                                                                        </div>
                                                                    </div>
                                                                <% } %>
                                                                <% if (deal.proof.text != 'Unset') { %>
                                                                    <div>
                                                                        <label for="textProof" style="color: black;">Text proof (carrier, tracking number, etc.)</label>
                                                                        <textarea class="textarea" readonly><%= deal.proof.text %></textarea>
                                                                    </div>    
                                                                <% } %>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                                <br>
                                            <% } %>    
                                        <% } %>
                                        <form action="/deals/<%= deal._id %>/complete?_method=PUT" method="POST"><button class="button is-success">Complete Deal</button></form>
                                    </div> 
                                </div>
                                <br>
                            <% } %>
                            
                            <% if ((deal.status === 'Processing') && (user._id.toString() === buyer._id.toString())) { %>
                                <div class="buttons has-addons is-centered">
                                    <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                    <form action="/deals/<%= deal._id %>/cancel?_method=PUT" method="POST"><button class="button is-danger">Cancel Deal</button></form>
                                </div>
                            <% } %>
                            <% if ((deal.status === 'Pending Delivery') && (user._id.toString() === seller._id.toString())) { %>
                                <% if (deal.buyer.delivery.shipping == 'FaceToFace') { %>
                                    <button class="button is-primary checkProof">Proof of delivery</button>
                                    <div class="modal modalCheckProof">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Proof of delivery</p>
                                                <button class="delete deleteCheckProof" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <div class="column">
                                                    <form action="/deals/updateProof/<%= deal._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                                        <div class="columns">
                                                            <% if (deal.proof.image != 'Unset') { %>
                                                                <div class="column">
                                                                    <a href="<%= deal.proof.image %>" target="_blank">
                                                                        <figure class="image is-128x128" style="margin: auto;">
                                                                            <img src="<%= deal.proof.image %>" class="profilepic" alt="Proof of delivery">
                                                                        </figure>    
                                                                    </a>
                                                                </div>
                                                            <% } %>
                                                            <div class="column">
                                                                <div class="file-upload">
                                                                    <div>
                                                                        <label for="upload[0]" class="file-upload__label">
                                                                            <span style="font-size: 5rem;">
                                                                                <i class="far fa-plus-square square"></i>
                                                                                <i class="far fa-check-square hide"></i>
                                                                            </span>
                                                                        </label>
                                                                        <input id="upload[0]" class="file-upload__input" accept="image/*" type="file" name="proofImage">
                                                                        <label class="file-delete__label hide">
                                                                            <span>
                                                                                <i class="far fa-trash-alt"></i>
                                                                            </span>
                                                                        </label>
                                                                        <p>Add proof of delivery as image</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="columns">
                                                            <div class="column">
                                                                <label for="textProof">Text proof (carrier, tracking number, etc.)</label>
                                                                <textarea name="textProof" id="textProof" class="textarea" placeholder="Text proof (carrier, tracking number)"><% if (deal.proof.text != 'Unset') { %><%= deal.proof.text %><% } %></textarea>
                                                            </div>
                                                        </div>
                                                        <button class="button is-primary">Submit</button>
                                                    </form>
                                                </div>
                                            </section>
                                        </div>
                                    </div>  
                                <% } %>
                                <!-- <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a> -->
                                <% if ((deal.proof.image == 'Unset') && (deal.proof.text == 'Unset')) { %>
                                    <p class="smallerCenter">You haven't uploaded proof of delivery yet.</p>
                                    <br>
                                <% } %>
                            <% } %>
                            <% if ((!['Completed', 'Declined', 'Cancelled', 'Processing'].includes(deal.status)) && (user._id.toString() === seller._id.toString())) { %>
                                <div class="buttons has-addons is-centered">
                                    <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                    <form action="/deals/<%= deal._id %>/cancel?_method=PUT" method="POST"><button class="button is-danger">Cancel Deal</button></form>
                                </div>
                            <% } %>
                            <% if (['Completed', 'Declined', 'Cancelled'].includes(deal.status)) { %>
                                <form action="/deals/delete/<%= deal._id %>?_method=DELETE" method="post">
                                    <button class="button is-danger">Delete Deal</button>
                                </form> 
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <p class="title is-3">Error 404: Page Not Found</p>
        <% } %>
    </div>
</div>
<br>

<script src="/dist/js/deal.js"></script>
<script src="/dist/js/dashboard.js"></script>
<% include ../partials/footer %>
