<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/messages.css">
<div class="container is-fluid">    
    <% if(errors){ %>
        <br>
        <div class="notification is-danger" role="alert" style="margin-bottom: 0;"> 
        <% errors.forEach(function( err){ %>
            <%= err.msg %><br>
        <% }) %>
        </div>
    <% } %>
    <div class="columns" style="margin-top: 5vh;">
        <% if (user._id.toString() === seller._id.toString()) { %>
            <div class="column is-one-fifth">
                <a href="/messages" class="button is-primary showLater smallerCenter" style="margin-bottom: 1vh;">To Dashboard</a>
                <div>
                    <div class="messageProfile frame smallerCenter profileMessage">
                        <div>
                            <div class="image is-128x128" style="margin:auto;">
                                <img src="<%= buyer.avatar.url %>" class="open-img messageImage" alt="">
                            </div>
                        </div>
                        <br>
                        <div class=" prod_info ">
                            <p class="title is-5 messageProfileText">Username: <%= buyer.username %></p>
                            <div class="buttons has-addons is-centered">
                                <a href="/profile/<%= buyer.id %>" class="button is-primary">View Profile</a>
                                <button class="button is-danger report">Report</button>
                            </div>
                            <div class="modal modalReport">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                        <p class="modal-card-title">Report User</p>
                                        <button class="delete deleteReport" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                        <form class="modal-form" action="/products/<%= deal.chat %>/report" method="POST" style="display: block;">
                                            <input type="text" name="userid" value="<%= buyer.id %>" hidden>
                                            <div class="field select cont-select smmargin">
                                                <select name="topic" style="width: 100%;">
                                                    <option value="" selected disabled>Reason</option>
                                                    <option value="Fake">Fake product</option>
                                                    <option value="Scam">Scamming attempt</option>
                                                    <option value="Harassment">Harassment</option>
                                                </select>
                                            </div>
                                            <div class="field" style="margin-top: 3px;">
                                                <div class="control">
                                                    <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                                </div>
                                            </div>
                                            <button class="button is-primary is-fullwidth">Send</button>
                                        </form>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-danger cancelReport">Cancel</button>
                                            <p class="subtitle">We will check the your report as soon as possible!</p>
                                        </footer>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/messages" class="button is-primary hideLater smallerCenter">To Dashboard</a>
            </div>
        <% } %>
        <% if (user._id.toString() === buyer._id.toString()) { %>
            <div class="column is-one-fifth">
                <a href="/messages" class="button is-primary showLater smallerCenter" style="margin-bottom: 1vh;">To Dashboard</a>
                <div>
                    <div class="messageProfile frame smallerCenter profileMessage">
                        <div>
                            <div class="image is-128x128" style="margin:auto;">
                                <img src="<%= seller.avatar.url %>" class="open-img messageImage" alt="">
                            </div>
                        </div>
                        <br>
                        <div class=" prod_info ">
                            <p class="title is-5 messageProfileText">Username: <%= seller.username %></p>
                            <div class="buttons has-addons is-centered">
                                <a href="/profile/<%= seller.id %>" class="button is-primary">View Profile</a>
                                <button class="button is-danger report">Report</button>
                            </div>
                            <div class="modal modalReport">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                        <p class="modal-card-title">Report User</p>
                                        <button class="delete deleteReport" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                        <form class="modal-form" action="/products/<%= deal._id %>/report" method="POST" style="display: block;">
                                            <input type="text" name="userid" value="<%= seller.id %>" hidden>
                                            <div class="field select cont-select smmargin">
                                                <select name="topic" style="width: 100%;">
                                                    <option value="" selected disabled>Reason</option>
                                                    <option value="Fake">Fake product</option>
                                                    <option value="Scam">Scamming attempt</option>
                                                    <option value="Harassment">Harassment</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <div class="field" style="margin-top: 3px;">
                                                <div class="control">
                                                    <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                                </div>
                                            </div>
                                            <button class="button is-primary">Send</button>
                                        </form>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-danger cancelReport">Cancel</button>
                                            <p class="subtitle">We will check the your report as soon as possible!</p>
                                        </footer>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/messages" class="button is-primary hideLater smallerCenter">To Dashboard</a>
            </div>
        <% } %>
        <% if ((user._id.toString() === buyer._id.toString()) || (user._id.toString() === seller._id.toString())) { %>
            <div class="column smallerCenter">
                <div class="midlevel frame" id="mid">
                    <div class="level topWarn">
                        <div class="scrolling-limit">
                            <div class="scrolling">
                                <p style="color: white;">Be careful when sending sensitive information</p>
                            </div>
                        </div>
                    </div>
                    <% chat.messages.forEach((message) => { %>
                        <% if (message.sender.toString() != user._id.toString()) { %>
                            <article class="message rec" style="margin-right: 55%;">
                                <div class="message-header recMsg">
                                    <p><% if (message.sender.toString() === chat.user1.id.toString()) { %><%= chat.user1.username %> <% } else { %> <%= chat.user2.username %> <% } %></p>
                                    <time class="recDate">
                                        <%=(( message.createdAt.getMonth() + 1) < 10) ? '0' + (message.createdAt.getMonth() + 1) : (message.createdAt.getMonth() + 1) %>/<%= ((message.createdAt.getDate()) < 10) ? '0' + (message.createdAt.getDate()) : (message.createdAt.getDate()) %> -
                                        <%= ((message.createdAt.getHours()) < 10) ? '0' + (message.createdAt.getHours()) : (message.createdAt.getHours()) %>:<%= ((message.createdAt.getMinutes()) < 10) ? '0' + (message.createdAt.getMinutes()) : (message.createdAt.getMinutes()) %>
                                    </time>
                                </div>
                                <div class="message-body" style="text-align: left;">
                                    <span class="messageSpan"><%= message.message %></span>
                                </div>
                            </article>
                        <% } else if (message.sender.toString() == user._id.toString()) { %>
                            <article class="message sent" style="margin-left: 55%;">
                                <div class="message-header sentMsg">
                                    <p>You</p>
                                    <time class="sentDate">
                                        <%=(( message.createdAt.getMonth() + 1) < 10) ? '0' + (message.createdAt.getMonth() + 1) : (message.createdAt.getMonth() + 1) %>/<%= ((message.createdAt.getDate()) < 10) ? '0' + (message.createdAt.getDate()) : (message.createdAt.getDate()) %> -
                                        <%= ((message.createdAt.getHours()) < 10) ? '0' + (message.createdAt.getHours()) : (message.createdAt.getHours()) %>:<%= ((message.createdAt.getMinutes()) < 10) ? '0' + (message.createdAt.getMinutes()) : (message.createdAt.getMinutes()) %>
                                    </time>
                                </div>
                                <div class="message-body" style="text-align: left;">
                                    <span class="messageSpan"><%= message.message %></span>
                                </div>
                            </article>
                        <% } %>
                    <% }); %>
                </div>
                <div class="bottomlv frame">
                    <form action="/messages/<%= deal._id %>/<%= chat._id %>/sendMessageDeal?_method=PUT" method="POST" class="msgbox">
                        <textarea class="textarea has-fixed-size" rows="2" cols="10" name="message"></textarea>
                        <button class="button is-primary">Send</button>
                    </form>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="buttons">
                    <div class="messageProfile frame productFrame smallerCenter">
                        <div>                   
                            <div class="image is-128x128" style="margin:auto;">
                                <img src="<%= deal.product.imageUrl %>" class="open-img messageImage" alt="">
                            </div>
                        </div>
                        <br>
                        <div class=" prod_info ">
                            <p class="title is-5 messageProfileText">Name: <%= deal.product.name %></p>
                            <div class="prices openPrices frame" style="width: 80% !important;">
                                    <p class="price_text" style="padding-left: 10px;"> <%= deal.price %></p>
                                    <span class="price_img"><img src="/dist/img/bitcoin.png" alt="Bitcoin"></span>
                                </div>
                            <p class="title is-5 messageProfileText" style="margin-top: 1vh;">Status: <span id="status"><%= deal.status %></span></p>
                            <% if ((deal.status === 'Processing') && (user._id.toString() === seller._id.toString())) { %>
                                <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                <button class="button is-success accept">Accept deal</button>
                                <div class="modal modalAccept">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Your delivery details</p>
                                            <button class="delete deleteAccept is-large" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            <% if(deal.buyer.delivery.shipping === 'FaceToFace') { %>
                                                <p class="title is-5 modal-section-title">Face-to-Face Buyer Details</p>
                                                <div style="text-align: left;">
                                                    <p class="subtitle">Name: <%= deal.buyer.delivery.name %></p>
                                                    <p class="subtitle">Phone number: <%= deal.buyer.delivery.phone %></p>
                                                    <p class="subtitle">Email: <%= deal.buyer.delivery.email %></p>
                                                </div>
                                                <br>
                                                <p class="title is-5 modal-section-title">Delivery handled by you</p>
                                                <div style="text-align: left;">
                                                    <p class="subtitle">You are free to discuss with the seller if you'd like to send him the package yourself.</p>
                                                </div>
                                            <% } else { %>
                                                <p class="title is-5 modal-section-title">Shipping Details</p>
                                                <div style="text-align: left;">
                                                    <p class="subtitle">Name: <%= deal.buyer.delivery.name %></p>
                                                    <p class="subtitle">Phone number: <%= deal.buyer.delivery.phone %></p>
                                                    <p class="subtitle">Email: <%= deal.buyer.delivery.email %></p>
                                                    <p class="subtitle">Country: <%= deal.buyer.delivery.country %></p>
                                                    <p class="subtitle">City: <%= deal.buyer.delivery.city %></p>
                                                    <% if(deal.buyer.delivery.state) { %>
                                                        <p class="subtitle">State: <%= deal.buyer.delivery.state %></p>
                                                    <% } %>
                                                    <p class="subtitle">Street: <%= deal.buyer.delivery.street1 %></p>
                                                    <p class="subtitle">Zip: <%= deal.buyer.delivery.zip %></p>
                                                </div>
                                                <br>
                                                <p class="title is-5 modal-section-title">Carrier details</p>
                                                <div style="text-align: left;">
                                                    <p class="subtitle">You'll be contacted by the carrier regarding the pick-up of your package.</p>
                                                    <p class="subtitle">You'll receive full details on your email after accepting the deal.</p>
                                                </div>
                                            <% } %>
                                            <br>
                                            <form action="/deals/<%= deal.id %>/accept?_method=PUT" method="POST">
                                                <button class="button is-success is-fullwidth">Accept Deal</button>
                                            </form>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-danger cancelAccept">Cancel</button>
                                            <p class="subtitle"><% if (deal.buyer.delivery.shipping == 'FaceToFace') { %>You are free to meet the buyer after accepting the deal.<% } else { %>Wait for the delivery company to pick-up your package after accepting the deal.<% } %></p>
                                        </footer>
                                    </div>
                                </div>
                                <form action="/deals/<%= deal._id %>/decline?_method=PUT" method="POST"><button class="button is-danger">Decline Deal</button></form>
                            <% } %>
                            
                            <% if ((deal.status === 'Pending Delivery') && (user._id.toString() === buyer._id.toString())) { %>
                                <div class="buttons" style="display: block; margin: auto;">
                                    <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                    <div>
                                        <form action="/deals/<%= deal._id %>/complete?_method=PUT" method="POST"><button class="button is-success">Complete Deal</button></form>
                                        <button class="button is-primary refundRequest">Ask for a refund</button>
                                        <div class="modal modalrefundRequest">
                                            <div class="modal-background"></div>
                                            <div class="modal-card">
                                                <header class="modal-card-head">
                                                    <p class="modal-card-title">Ask for a refund</p>
                                                    <button class="delete deleteRefundRequest" aria-label="close"></button>
                                                </header>
                                                <section class="modal-card-body">
                                                    <form class="modal-form" action="/deals/<%= deal._id %>/refundRequest?_method=PUT" method="POST" style="display: block;">
                                                        <div class="field select cont-select smmargin">
                                                            <select name="reason" style="width: 100%;">
                                                                <option selected disabled>Reason</option>
                                                                <option value="Product doesn't match">The product doesn't match the listing</option>
                                                                <option value="Faulty product">Faulty product</option>
                                                                <option value="Product hasn't arrived">The product hasn't arrived</option>
                                                            </select>
                                                        </div>
                                                        <div class="field select cont-select smmargin">
                                                            <select name="option" style="width: 100%;">
                                                                <option selected disabled>Refund option</option>
                                                                <option value="Money Back">Money Back</option>
                                                                <option value="New Product">Replace Product (if possible)</option>
                                                            </select>
                                                        </div>
                                                        <div class="field" style="margin-top: 3px;">
                                                            <div class="control">
                                                                <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                                            </div>
                                                        </div>
                                                        <button class="button is-primary">Send</button>
                                                    </form>
                                                </section>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <br>
                            <% } %>
                            <% if ((deal.status === 'Completed') && (user._id.toString() === buyer._id.toString()) && (deal.refund.status === 'Not requested')) { %>
                                <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>                            
                                <button class="button is-primary refundRequest">Ask for a refund</button>
                                <div class="modal modalrefundRequest">
                                    <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Ask for a refund</p>
                                                <button class="delete deleteRefundRequest" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <form class="modal-form" action="/deals/<%= deal._id %>/refundRequest?_method=PUT" method="POST" style="display: block;">
                                                    <div class="field select cont-select smmargin">
                                                        <select name="reason" style="width: 100%;">
                                                            <option value="" selected disabled>Reason</option>
                                                            <option value="Product doesn't match">The product doesn't match the listing</option>
                                                            <option value="Faulty product">Faulty product</option>
                                                            <option value="Product hasn't arrived">The product hasn't arrived</option>
                                                        </select>
                                                    </div>
                                                    <div class="field select cont-select smmargin">
                                                        <select name="option" style="width: 100%;">
                                                            <option value="" selected disabled>Refund option</option>
                                                            <option value="Money Back">Money Back</option>
                                                            <option value="New Product">Replace Product (if possible)</option>
                                                        </select>
                                                    </div>
                                                    <div class="field" style="margin-top: 3px;">
                                                        <div class="control">
                                                            <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                                        </div>
                                                    </div>
                                                    <button class="button is-primary">Send</button>
                                                </form>
                                            </section>
                                        </div>
                                </div>
                            <% } %>
    
                            <% if ((user._id.toString() === seller._id.toString()) && (deal.refund.status !== 'Not requested')) { %>
                                <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                <button class="button is-primary refundDetails">View Refund Details</button>
                                <div class="modal modalrefundDetails">
                                    <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Refund Deal</p>
                                                <button class="delete deleterefundDetails" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body" style="text-align: left;">
                                                <p class="title is-5">Reason: <%= deal.refund.reason %></p>
                                                <p class="title is-5">Message: <%= deal.refund.message %></p>
                                                <p class="title is-5">Preferred method of refund: <%= deal.refund.option %></p>
                                                <br>
                                                <% if (deal.refund.status === 'Not fulfilled') { %>
                                                    <p class="title is-6 refundTitle">Accept refund</p>
                                                    <div style="display: flex; justify-content: space-evenly;">
                                                        <form class="modal-form" action="/deals/<%= deal._id %>/refund?_method=PUT" method="POST" style="display: block;">
                                                            <input type="text" name="refundOption" value="Money Back" hidden>
                                                            <button class="button is-primary">Refund Money</button>
                                                        </form>
                                                        <form class="modal-form" action="/deals/<%= deal._id %>/refund?_method=PUT" method="POST" style="display: block;">
                                                            <input type="text" name="refundOption" value="New Product" hidden>                                                
                                                            <button class="button is-primary">Send replacement</button>
                                                        </form>
                                                    </div>
                                                    <br>
                                                    <p class="title is-6 refundTitle">Deny refund</p>
                                                    <form class="modal-form" action="/deals/<%= deal._id %>/refundDeny?_method=PUT" method="POST" style="display: block;">
                                                        <div class="column">
                                                            <div class="field select cont-select smmargin">
                                                                <select name="reason" style="width: 100%;">
                                                                    <option value="" selected disabled>Reason</option>
                                                                    <option value="Scam attempt">I suspect the buyer is trying to scam me</option>
                                                                    <!-- Add more later -->
                                                                </select>
                                                            </div>
                                                            <div class="field" style="margin-top: 3px;">
                                                                <div class="control">
                                                                    <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                                                </div>
                                                            </div>
                                                            <button class="button is-primary">Send</button>
                                                        </div>
                                                    </form>
                                                <% }  else { %>                     
                                                    <p class="title is-5">Deal Refunded</p>
                                                    <p class="title is-5">Refund option: <%= deal.refund.sellerOption %></p>
                                                <% } %>
                                            </section>
                                        </div>
                                </div>
                            <% } %>
                            
                            <% if ((deal.status === 'Processing') && (user._id.toString() === buyer._id.toString())) { %>
                                <div class="buttons has-addons is-centered">
                                    <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                    <form action="/deals/<%= deal._id %>/cancel?_method=PUT" method="POST"><button class="button is-danger">Cancel Deal</button></form>
                                </div>
                            <% } %>
                            <% if ((deal.refund.status === 'Pending Delivery') && (user._id.toString() === buyer._id.toString())) { %>
                                <div class="buttons has-addons is-centered">
                                    <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                    <form action="/deals/<%= deal._id %>/completeRefund?_method=PUT" method="POST"><button class="button is-success">Complete Refund</button></form>
                                </div>
                            <% } %>
                            <% if ((deal.status === 'Processing Refund') && (user._id.toString() === buyer._id.toString())) { %>
                                <div class="buttons has-addons is-centered">
                                    <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                </div>
                            <% } %>
                            <% if ((deal.status === 'Pending Delivery') && (user._id.toString() === seller._id.toString())) { %>
                                <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <p class="title is-3">Error 404: Page Not Found</p>
        <% } %>
    </div>
</div>

<script src="/dist/js/deal.js"></script>
<% include ../partials/footer %>
