<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/messages.css">
<div class="container is-fluid">    
    <% if(errors){ %>
        <br>
        <div class="notification is-danger" role="alert" style="margin-bottom: 0;"> 
        <% errors.forEach(function( err){ %>
            <%= err.msg %><br>
        <% }) %>
        </div>
    <% } %>
    <div class="columns" style="margin-top: 5vh;">
        <% if (user._id.toString() === seller._id.toString()) { %>
            <div class="column is-one-fifth">
                <a href="/messages" class="button is-primary showLater smallerCenter" style="margin-bottom: 1vh;">To Dashboard</a>
                <div>
                    <div class="messageProfile frame smallerCenter" style="margin: auto; margin-bottom: 4vh;">
                        <div>
                            <figure class="image is-128x128" style="margin:auto;">
                                <img src="<%= buyer.avatar.url %>" class="open-img" style="margin: auto; border-style: solid; border-color: grey; border-radius: 10px;">
                            </figure>
                        </div>
                        <br>
                        <div class=" prod_info ">
                            <p class="title is-5 messageProfileText">Username: <%= buyer.username %></p>
                            <a href="/profile/<%= buyer.id %>" class="button is-primary">View Profile</a>
                            <button href="" class="button is-danger report">Report</button>
                            <div class="modal modalReport">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                        <p class="modal-card-title">Report User</p>
                                        <button class="delete deleteReport" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                        <form class="modal-form" action="/products/<%= deal.chat %>/report" method="POST" style="display: block;">
                                            <input type="text" name="userid" value="<%= buyer.id %>" hidden>
                                            <div class="field select cont-select smmargin">
                                                <select name="topic" style="width: 100%;">
                                                    <option value="" selected disabled>Reason</option>
                                                    <option value="Fake">Fake product</option>
                                                    <option value="Scam">Scamming attempt</option>
                                                    <option value="Harassment">Harassment</option>
                                                </select>
                                            </div>
                                            <div class="field" style="margin-top: 3px;">
                                                <div class="control">
                                                    <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                                </div>
                                            </div>
                                            <button class="button is-primary is-fullwidth">Send</button>
                                        </form>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-danger cancelReport">Cancel</button>
                                            <p class="subtitle">We will check the your report as soon as possible!</p>
                                        </footer>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/messages" class="button is-primary hideLater smallerCenter">To Dashboard</a>
            </div>
        <% } %>
        <% if (user._id.toString() === buyer._id.toString()) { %>
            <div class="column is-one-fifth">
                <a href="/messages" class="button is-primary showLater smallerCenter" style="margin-bottom: 1vh;">To Dashboard</a>
                <div>
                    <div class="messageProfile frame smallerCenter" style="margin: auto; margin-bottom: 4vh;">
                        <div>
                            <figure class="image is-128x128" style="margin:auto;">
                                <img src="<%= seller.avatar.url %>" class="open-img" style="margin: auto; border-style: solid; border-color: grey; border-radius: 10px;">
                            </figure>
                        </div>
                        <br>
                        <div class=" prod_info ">
                            <p class="title is-5 messageProfileText">Username: <%= seller.username %></p>
                            <a href="/profile/<%= seller.id %>" class="button is-primary">View Profile</a>
                            <button href="" class="button is-danger report">Report</button>
                            <div class="modal modalReport">
                                <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                        <p class="modal-card-title">Report User</p>
                                        <button class="delete deleteReport" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                        <form class="modal-form" action="/products/<%= deal.chat %>/report" method="POST" style="display: block;">
                                            <input type="text" name="userid" value="<%= seller.id %>" hidden>
                                            <div class="field select cont-select smmargin">
                                                <select name="topic" style="width: 100%;">
                                                    <option value="" selected disabled>Reason</option>
                                                    <option value="Fake">Fake product</option>
                                                    <option value="Scam">Scamming attempt</option>
                                                    <option value="Harassment">Harassment</option>
                                                </select>
                                            </div>
                                            <div class="field" style="margin-top: 3px;">
                                                <div class="control">
                                                    <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                                </div>
                                            </div>
                                            <button class="button is-primary">Send</button>
                                        </form>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-danger cancelReport">Cancel</button>
                                            <p class="subtitle">We will check the your report as soon as possible!</p>
                                        </footer>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/messages" class="button is-primary hideLater smallerCenter">To Dashboard</a>
            </div>
        <% } %>
        <% if ((user._id.toString() === buyer._id.toString()) || (user._id.toString() === seller._id.toString())) { %>
            <div class="column smallerCenter">
                <div class="midlevel frame" id="mid" style="border-bottom-right-radius: 0px !important; border-bottom-left-radius: 0px !important;">
                    <div class="level topWarn">
                        <div class="scrolling-limit">
                            <div class="scrolling">
                                <p style="color: white;">Be careful when sending sensitive information</p>
                            </div>
                        </div>
                    </div>
                    <% chat.messages.forEach((message) => { %>
                        <% if (message.sender.toString() != user._id.toString()) { %>
                            <article class="message rec" style="margin-right: 55%;">
                                <div class="message-header recMsg">
                                    <p><% if (message.sender.toString() === chat.user1.id.toString()) { %><%= chat.user1.username %> <% } else { %> <%= chat.user2.username %> <% } %></p>
                                    <time class="recDate">
                                        <%=(( message.createdAt.getMonth() + 1) < 10) ? '0' + (message.createdAt.getMonth() + 1) : (message.createdAt.getMonth() + 1) %>/<%= ((message.createdAt.getDate()) < 10) ? '0' + (message.createdAt.getDate()) : (message.createdAt.getDate()) %> -
                                        <%= ((message.createdAt.getHours()) < 10) ? '0' + (message.createdAt.getHours()) : (message.createdAt.getHours()) %>:<%= ((message.createdAt.getMinutes()) < 10) ? '0' + (message.createdAt.getMinutes()) : (message.createdAt.getMinutes()) %>
                                    </time>
                                </div>
                                <div class="message-body" style="text-align: left;">
                                    <span class="messageSpan" style="white-space: pre-line; word-break: break-word;"><%= message.message %></span>
                                </div>
                            </article>
                        <% } else if (message.sender.toString() == user._id.toString()) { %>
                            <article class="message sent" style="margin-left: 55%;">
                                <div class="message-header sentMsg">
                                    <p>You</p>
                                    <time class="sentDate">
                                        <%=(( message.createdAt.getMonth() + 1) < 10) ? '0' + (message.createdAt.getMonth() + 1) : (message.createdAt.getMonth() + 1) %>/<%= ((message.createdAt.getDate()) < 10) ? '0' + (message.createdAt.getDate()) : (message.createdAt.getDate()) %> -
                                        <%= ((message.createdAt.getHours()) < 10) ? '0' + (message.createdAt.getHours()) : (message.createdAt.getHours()) %>:<%= ((message.createdAt.getMinutes()) < 10) ? '0' + (message.createdAt.getMinutes()) : (message.createdAt.getMinutes()) %>
                                    </time>
                                </div>
                                <div class="message-body" style="text-align: left;">
                                    <span class="messageSpan" style="white-space: pre-line; word-break: break-word; text-align: left;"><%= message.message %></span>
                                </div>
                            </article>
                        <% } %>
                    <% }); %>
                </div>
                <div class="bottomlv frame" style="border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;">
                    <form action="/messages/<%= deal._id %>/<%= chat._id %>/sendMessageDeal?_method=PUT" method="POST" class="msgbox">
                        <textarea class="textarea has-fixed-size" rows="2" cols="10" name="message"></textarea>
                        <button class="button is-primary">Send</button>
                    </form>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="buttons">
                    <div class="messageProfile frame productFrame smallerCenter">
                        <div>                   
                            <figure class="image is-128x128" style="margin:auto;">
                                <img src="<%= deal.product.imageUrl %>" class="open-img" style="margin: auto; border-style: solid; border-color: grey; border-radius: 10px; height: inherit;">
                            </figure>
                        </div>
                        <br>
                        <div class=" prod_info ">
                            <p class="title is-5 messageProfileText">Name: <%= deal.product.name %></p>
                            <div class="prices openPrices frame" style="width: 80% !important; background-color: #c1c7c7 !important;">
                                    <p class="price_text" style="padding-left: 10px;"> <%= deal.price %></p>
                                    <span class="price_img"><img src="/dist/img/bitcoin.png" alt="Bitcoin"></span>
                                </div>
                            <p class="title is-5 messageProfileText" style="margin-top: 1vh;">Status: <span id="status"><%= deal.status %></span></p>
                            <% if ((deal.status === 'Processing') && (user._id.toString() === seller._id.toString())) { %>
                                <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                <button class="button is-success accept">Accept deal</button>
                                <div class="modal modalAccept">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Your delivery details</p>
                                            <button class="delete deleteAccept is-large" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            <% if(deal.buyer.delivery.shipping === 'FaceToFace') { %>
                                                <p class="title is-5 modal-section-title">Face-to-Face Delivery Instructions</p>
                                                <div style="text-align: left;">
                                                    <p class="subtitle">Name: <%= deal.buyer.delivery.name %></p>
                                                    <p class="subtitle">Phone number: <%= deal.buyer.delivery.phone %></p>
                                                    <p class="subtitle">Email: <%= deal.buyer.delivery.email %></p>
                                                </div>
                                            <% } else { %>
                                                <p class="title is-5 modal-section-title">Shipping info needed to pick the package from</p>
                                                <form action="/deals/<%= deal._id %>/accept?_method=PUT" method="POST">
                                                <div style="text-align: left;">
                                                    <div class="field">
                                                        <div class="control has-icons-left">
                                                            <div class="select is-fullwidth">
                                                                <select name="country">
                                                                    <option value="AF">Afghanistan</option>
                                                                    <option value="AX">Åland Islands</option>
                                                                    <option value="AL">Albania</option>
                                                                    <option value="DZ">Algeria</option>
                                                                    <option value="AS">American Samoa</option>
                                                                    <option value="AD">Andorra</option>
                                                                    <option value="AO">Angola</option>
                                                                    <option value="AI">Anguilla</option>
                                                                    <option value="AQ">Antarctica</option>
                                                                    <option value="AG">Antigua and Barbuda</option>
                                                                    <option value="AR">Argentina</option>
                                                                    <option value="AM">Armenia</option>
                                                                    <option value="AW">Aruba</option>
                                                                    <option value="AU">Australia</option>
                                                                    <option value="AT">Austria</option>
                                                                    <option value="AZ">Azerbaijan</option>
                                                                    <option value="BS">Bahamas</option>
                                                                    <option value="BH">Bahrain</option>
                                                                    <option value="BD">Bangladesh</option>
                                                                    <option value="BB">Barbados</option>
                                                                    <option value="BY">Belarus</option>
                                                                    <option value="BE">Belgium</option>
                                                                    <option value="BZ">Belize</option>
                                                                    <option value="BJ">Benin</option>
                                                                    <option value="BM">Bermuda</option>
                                                                    <option value="BT">Bhutan</option>
                                                                    <option value="BO">Bolivia, Plurinational State of</option>
                                                                    <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                                                    <option value="BA">Bosnia and Herzegovina</option>
                                                                    <option value="BW">Botswana</option>
                                                                    <option value="BV">Bouvet Island</option>
                                                                    <option value="BR">Brazil</option>
                                                                    <option value="IO">British Indian Ocean Territory</option>
                                                                    <option value="BN">Brunei Darussalam</option>
                                                                    <option value="BG">Bulgaria</option>
                                                                    <option value="BF">Burkina Faso</option>
                                                                    <option value="BI">Burundi</option>
                                                                    <option value="KH">Cambodia</option>
                                                                    <option value="CM">Cameroon</option>
                                                                    <option value="CA">Canada</option>
                                                                    <option value="CV">Cape Verde</option>
                                                                    <option value="KY">Cayman Islands</option>
                                                                    <option value="CF">Central African Republic</option>
                                                                    <option value="TD">Chad</option>
                                                                    <option value="CL">Chile</option>
                                                                    <option value="CN">China</option>
                                                                    <option value="CX">Christmas Island</option>
                                                                    <option value="CC">Cocos (Keeling) Islands</option>
                                                                    <option value="CO">Colombia</option>
                                                                    <option value="KM">Comoros</option>
                                                                    <option value="CG">Congo</option>
                                                                    <option value="CD">Congo, the Democratic Republic of the</option>
                                                                    <option value="CK">Cook Islands</option>
                                                                    <option value="CR">Costa Rica</option>
                                                                    <option value="CI">Côte d'Ivoire</option>
                                                                    <option value="HR">Croatia</option>
                                                                    <option value="CU">Cuba</option>
                                                                    <option value="CW">Curaçao</option>
                                                                    <option value="CY">Cyprus</option>
                                                                    <option value="CZ">Czech Republic</option>
                                                                    <option value="DK">Denmark</option>
                                                                    <option value="DJ">Djibouti</option>
                                                                    <option value="DM">Dominica</option>
                                                                    <option value="DO">Dominican Republic</option>
                                                                    <option value="EC">Ecuador</option>
                                                                    <option value="EG">Egypt</option>
                                                                    <option value="SV">El Salvador</option>
                                                                    <option value="GQ">Equatorial Guinea</option>
                                                                    <option value="ER">Eritrea</option>
                                                                    <option value="EE">Estonia</option>
                                                                    <option value="ET">Ethiopia</option>
                                                                    <option value="FK">Falkland Islands (Malvinas)</option>
                                                                    <option value="FO">Faroe Islands</option>
                                                                    <option value="FJ">Fiji</option>
                                                                    <option value="FI">Finland</option>
                                                                    <option value="FR">France</option>
                                                                    <option value="GF">French Guiana</option>
                                                                    <option value="PF">French Polynesia</option>
                                                                    <option value="TF">French Southern Territories</option>
                                                                    <option value="GA">Gabon</option>
                                                                    <option value="GM">Gambia</option>
                                                                    <option value="GE">Georgia</option>
                                                                    <option value="DE">Germany</option>
                                                                    <option value="GH">Ghana</option>
                                                                    <option value="GI">Gibraltar</option>
                                                                    <option value="GR">Greece</option>
                                                                    <option value="GL">Greenland</option>
                                                                    <option value="GD">Grenada</option>
                                                                    <option value="GP">Guadeloupe</option>
                                                                    <option value="GU">Guam</option>
                                                                    <option value="GT">Guatemala</option>
                                                                    <option value="GG">Guernsey</option>
                                                                    <option value="GN">Guinea</option>
                                                                    <option value="GW">Guinea-Bissau</option>
                                                                    <option value="GY">Guyana</option>
                                                                    <option value="HT">Haiti</option>
                                                                    <option value="HM">Heard Island and McDonald Islands</option>
                                                                    <option value="VA">Holy See (Vatican City State)</option>
                                                                    <option value="HN">Honduras</option>
                                                                    <option value="HK">Hong Kong</option>
                                                                    <option value="HU">Hungary</option>
                                                                    <option value="IS">Iceland</option>
                                                                    <option value="IN">India</option>
                                                                    <option value="ID">Indonesia</option>
                                                                    <option value="IR">Iran, Islamic Republic of</option>
                                                                    <option value="IQ">Iraq</option>
                                                                    <option value="IE">Ireland</option>
                                                                    <option value="IM">Isle of Man</option>
                                                                    <option value="IL">Israel</option>
                                                                    <option value="IT">Italy</option>
                                                                    <option value="JM">Jamaica</option>
                                                                    <option value="JP">Japan</option>
                                                                    <option value="JE">Jersey</option>
                                                                    <option value="JO">Jordan</option>
                                                                    <option value="KZ">Kazakhstan</option>
                                                                    <option value="KE">Kenya</option>
                                                                    <option value="KI">Kiribati</option>
                                                                    <option value="KP">Korea, Democratic People's Republic of</option>
                                                                    <option value="KR">Korea, Republic of</option>
                                                                    <option value="KW">Kuwait</option>
                                                                    <option value="KG">Kyrgyzstan</option>
                                                                    <option value="LA">Lao People's Democratic Republic</option>
                                                                    <option value="LV">Latvia</option>
                                                                    <option value="LB">Lebanon</option>
                                                                    <option value="LS">Lesotho</option>
                                                                    <option value="LR">Liberia</option>
                                                                    <option value="LY">Libya</option>
                                                                    <option value="LI">Liechtenstein</option>
                                                                    <option value="LT">Lithuania</option>
                                                                    <option value="LU">Luxembourg</option>
                                                                    <option value="MO">Macao</option>
                                                                    <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                                                    <option value="MG">Madagascar</option>
                                                                    <option value="MW">Malawi</option>
                                                                    <option value="MY">Malaysia</option>
                                                                    <option value="MV">Maldives</option>
                                                                    <option value="ML">Mali</option>
                                                                    <option value="MT">Malta</option>
                                                                    <option value="MH">Marshall Islands</option>
                                                                    <option value="MQ">Martinique</option>
                                                                    <option value="MR">Mauritania</option>
                                                                    <option value="MU">Mauritius</option>
                                                                    <option value="YT">Mayotte</option>
                                                                    <option value="MX">Mexico</option>
                                                                    <option value="FM">Micronesia, Federated States of</option>
                                                                    <option value="MD">Moldova, Republic of</option>
                                                                    <option value="MC">Monaco</option>
                                                                    <option value="MN">Mongolia</option>
                                                                    <option value="ME">Montenegro</option>
                                                                    <option value="MS">Montserrat</option>
                                                                    <option value="MA">Morocco</option>
                                                                    <option value="MZ">Mozambique</option>
                                                                    <option value="MM">Myanmar</option>
                                                                    <option value="NA">Namibia</option>
                                                                    <option value="NR">Nauru</option>
                                                                    <option value="NP">Nepal</option>
                                                                    <option value="NL">Netherlands</option>
                                                                    <option value="NC">New Caledonia</option>
                                                                    <option value="NZ">New Zealand</option>
                                                                    <option value="NI">Nicaragua</option>
                                                                    <option value="NE">Niger</option>
                                                                    <option value="NG">Nigeria</option>
                                                                    <option value="NU">Niue</option>
                                                                    <option value="NF">Norfolk Island</option>
                                                                    <option value="MP">Northern Mariana Islands</option>
                                                                    <option value="NO">Norway</option>
                                                                    <option value="OM">Oman</option>
                                                                    <option value="PK">Pakistan</option>
                                                                    <option value="PW">Palau</option>
                                                                    <option value="PS">Palestinian Territory, Occupied</option>
                                                                    <option value="PA">Panama</option>
                                                                    <option value="PG">Papua New Guinea</option>
                                                                    <option value="PY">Paraguay</option>
                                                                    <option value="PE">Peru</option>
                                                                    <option value="PH">Philippines</option>
                                                                    <option value="PN">Pitcairn</option>
                                                                    <option value="PL">Poland</option>
                                                                    <option value="PT">Portugal</option>
                                                                    <option value="PR">Puerto Rico</option>
                                                                    <option value="QA">Qatar</option>
                                                                    <option value="RE">Réunion</option>
                                                                    <option value="RO">Romania</option>
                                                                    <option value="RU">Russian Federation</option>
                                                                    <option value="RW">Rwanda</option>
                                                                    <option value="BL">Saint Barthélemy</option>
                                                                    <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                                                    <option value="KN">Saint Kitts and Nevis</option>
                                                                    <option value="LC">Saint Lucia</option>
                                                                    <option value="MF">Saint Martin (French part)</option>
                                                                    <option value="PM">Saint Pierre and Miquelon</option>
                                                                    <option value="VC">Saint Vincent and the Grenadines</option>
                                                                    <option value="WS">Samoa</option>
                                                                    <option value="SM">San Marino</option>
                                                                    <option value="ST">Sao Tome and Principe</option>
                                                                    <option value="SA">Saudi Arabia</option>
                                                                    <option value="SN">Senegal</option>
                                                                    <option value="RS">Serbia</option>
                                                                    <option value="SC">Seychelles</option>
                                                                    <option value="SL">Sierra Leone</option>
                                                                    <option value="SG">Singapore</option>
                                                                    <option value="SX">Sint Maarten (Dutch part)</option>
                                                                    <option value="SK">Slovakia</option>
                                                                    <option value="SI">Slovenia</option>
                                                                    <option value="SB">Solomon Islands</option>
                                                                    <option value="SO">Somalia</option>
                                                                    <option value="ZA">South Africa</option>
                                                                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                                    <option value="SS">South Sudan</option>
                                                                    <option value="ES">Spain</option>
                                                                    <option value="LK">Sri Lanka</option>
                                                                    <option value="SD">Sudan</option>
                                                                    <option value="SR">Suriname</option>
                                                                    <option value="SJ">Svalbard and Jan Mayen</option>
                                                                    <option value="SZ">Swaziland</option>
                                                                    <option value="SE">Sweden</option>
                                                                    <option value="CH">Switzerland</option>
                                                                    <option value="SY">Syrian Arab Republic</option>
                                                                    <option value="TW">Taiwan, Province of China</option>
                                                                    <option value="TJ">Tajikistan</option>
                                                                    <option value="TZ">Tanzania, United Republic of</option>
                                                                    <option value="TH">Thailand</option>
                                                                    <option value="TL">Timor-Leste</option>
                                                                    <option value="TG">Togo</option>
                                                                    <option value="TK">Tokelau</option>
                                                                    <option value="TO">Tonga</option>
                                                                    <option value="TT">Trinidad and Tobago</option>
                                                                    <option value="TN">Tunisia</option>
                                                                    <option value="TR">Turkey</option>
                                                                    <option value="TM">Turkmenistan</option>
                                                                    <option value="TC">Turks and Caicos Islands</option>
                                                                    <option value="TV">Tuvalu</option>
                                                                    <option value="UG">Uganda</option>
                                                                    <option value="UA">Ukraine</option>
                                                                    <option value="AE">United Arab Emirates</option>
                                                                    <option value="GB">United Kingdom</option>
                                                                    <option value="US">United States</option>
                                                                    <option value="UM">United States Minor Outlying Islands</option>
                                                                    <option value="UY">Uruguay</option>
                                                                    <option value="UZ">Uzbekistan</option>
                                                                    <option value="VU">Vanuatu</option>
                                                                    <option value="VE">Venezuela, Bolivarian Republic of</option>
                                                                    <option value="VN">Viet Nam</option>
                                                                    <option value="VG">Virgin Islands, British</option>
                                                                    <option value="VI">Virgin Islands, U.S.</option>
                                                                    <option value="WF">Wallis and Futuna</option>
                                                                    <option value="EH">Western Sahara</option>
                                                                    <option value="YE">Yemen</option>
                                                                    <option value="ZM">Zambia</option>
                                                                    <option value="ZW">Zimbabwe</option>
                                                                </select>
                                                                <span class="icon is-large is-left">
                                                                    <i class="fas fa-flag"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <input class="input" name="state" type="text" placeholder="State or County"/>
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-globe-americas"></i>
                                                            </span>
                                                            <p class="help">State is mandatory for US and CA only. Please use two character abbreviation.</p>
                                                        </p>
                                                    </div>
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <input class="input" name="city" type="text" placeholder="City" required/>
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-city"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <input class="input" name="street1" type="text" placeholder="Street" required/>
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-road"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <input class="input" name="zip" type="text" placeholder="Zip Code" required/>
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-sort-numeric-down"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <% if(user.number) { %>
                                                                <input class="input" name="phone" type="tel" value="<%= user.number %>" required/>
                                                            <% } else { %>
                                                                <input class="input" name="phone" type="tel" placeholder="Contact Phone Number" required/>
                                                            <% } %>
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-phone"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <% if(user.full_name) { %>
                                                                <input class="input" name="name" type="tel" value="<%= user.full_name %>" required/>
                                                            <% } else { %>
                                                                <input class="input" name="name" type="tel" placeholder="Contact Person Name" required/>
                                                            <% } %>
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-user-tie"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="field">
                                                        <p class="control has-icons-left">
                                                            <% if(user.email) { %>
                                                                <input class="input" name="email" type="tel" value="<%= user.email %>" required/>
                                                            <% } else { %>
                                                                <input class="input" name="email" type="tel" placeholder="Contact Email" required/>
                                                            <% } %>
                                                            <span class="icon is-small is-left">
                                                                <i class="fas fa-envelope"></i>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <br>
                                                <p class="title is-5 modal-section-title">Product specifications required for parcel size</p>
                                                <div class="field is-horizontal has-addons">
                                                    <div class="field-body">
                                                        <div class="field">
                                                            <p class="control has-icons-left is-expanded">
                                                                <input class="input is-fullwidth" name="parcel_length" type="number" placeholder="Length" required/>
                                                                <span class="icon is-small is-left">
                                                                    <i class="fas fa-ruler"></i>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="field">
                                                            <p class="control has-icons-left is-expanded">
                                                                <input class="input is-fullwidth" name="parcel_width" type="number" placeholder="Width" required/>
                                                                <span class="icon is-small is-left">
                                                                    <i class="fas fa-ruler-horizontal"></i>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="field">
                                                            <p class="control has-icons-left is-expanded">
                                                                <input class="input is-fullwidth" name="parcel_height" type="number" placeholder="Height" required/>
                                                                <span class="icon is-small is-left">
                                                                    <i class="fas fa-ruler-vertical"></i>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="field">
                                                            <p class="control">
                                                                <div class="select">
                                                                    <select name="parcel_distance_unit">
                                                                        <option value="cm">cm</option>
                                                                        <option value="in">in</option>
                                                                        <option value="ft">ft</option>
                                                                        <option value="mm">mm</option>
                                                                        <option value="m">m</option>
                                                                        <option value="yd">yd</option>
                                                                    </select>
                                                                </div>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field is-horizontal has-addons">
                                                    <p class="control has-icons-left is-expanded">
                                                        <input class="input is-fullwidth" name="parcel_weight" type="number" placeholder="Weight" required/>
                                                        <span class="icon is-small is-left">
                                                            <i class="fas fa-weight-hanging"></i>
                                                        </span>
                                                    </p>
                                                    <p class="control">
                                                        <div class="select">
                                                            <select name="parcel_weight_unit">
                                                                <option value="g">g</option>
                                                                <option value="oz">oz</option>
                                                                <option value="lb">lb</option>
                                                                <option value="kg">kg</option>
                                                            </select>
                                                        </div>
                                                    </p>
                                                </div>
                                            <% } %>
                                            <br>
                                            <form action="/deals/<%= deal.id %>/accept?_method=PUT" method="POST">
                                                <button class="button is-success is-fullwidth">Accept Deal</button>
                                            </form>
                                        </form>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-danger cancelAccept">Cancel</button>
                                            <p class="subtitle"><% if (deal.shipping = 'FaceToFace') { %>You are free to meet the buyer after accepting the deal.<% } else { %>Wait for the delivery company to pick-up your package after accepting the deal.<% } %></p>
                                        </footer>
                                    </div>
                                </div>
                                <form action="/deals/<%= deal._id %>/decline?_method=PUT" method="POST" style="margin-top: 1vh;"><button class="button is-danger">Decline Deal</button></form>
                            <% } %>
                            
                            <% if ((deal.status === 'Pending Delivery') && (user._id.toString() === buyer._id.toString())) { %>
                                <div class="buttons" style="display: block; margin: auto;">
                                    <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                    <div>
                                        <form action="/deals/<%= deal._id %>/complete?_method=PUT" method="POST" style="margin-top: 1vh;"><button class="button is-success">Complete Deal</button></form>
                                        <button class="button is-primary refundRequest" style="margin-top: 1vh;">Ask for a refund</button>
                                        <div class="modal modalrefundRequest">
                                            <div class="modal-background"></div>
                                                <div class="modal-card">
                                                    <header class="modal-card-head">
                                                        <p class="modal-card-title">Ask for a refund</p>
                                                        <button class="delete deleteRefundRequest" aria-label="close"></button>
                                                    </header>
                                                    <section class="modal-card-body">
                                                        <form class="modal-form" action="/deals/<%= deal._id %>/refundRequest?_method=PUT" method="POST" style="display: block;">
                                                            <div class="field select cont-select smmargin">
                                                                <select name="reason" style="width: 100%;">
                                                                    <option selected disabled>Reason</option>
                                                                    <option value="Product doesn't match">The product doesn't match the listing</option>
                                                                    <option value="Faulty product">Faulty product</option>
                                                                    <option value="Product hasn't arrived">The product hasn't arrived</option>
                                                                </select>
                                                            </div>
                                                            <div class="field select cont-select smmargin">
                                                                <select name="option" style="width: 100%;">
                                                                    <option selected disabled>Refund option</option>
                                                                    <option value="Money Back">Money Back</option>
                                                                    <option value="New Object">New object (if possible)</option>
                                                                </select>
                                                            </div>
                                                            <div class="field" style="margin-top: 3px;">
                                                                <div class="control">
                                                                    <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                                                </div>
                                                            </div>
                                                            <button class="button is-primary">Send</button>
                                                        </form>
                                                    </section>
                                                </div>
                                        </div>
                                    </div> 
                                </div>
                            <% } %>
                            <% if ((deal.status === 'Completed') && (user._id.toString() === buyer._id.toString()) && (deal.refund.status === 'Not requested')) { %>
                                <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>                            
                                <button class="button is-primary refundRequest">Ask for a refund</button>
                                <div class="modal modalRefundRequest">
                                    <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Ask for a refund</p>
                                                <button class="delete deleteRefundRequest" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <form class="modal-form" action="/deals/<%= deal._id %>/refundRequest?_method=PUT" method="POST" style="display: block;">
                                                    <div class="field select cont-select smmargin">
                                                        <select name="reason" style="width: 100%;">
                                                            <option value="" selected disabled>Reason</option>
                                                            <option value="Product doesn't match">The product doesn't match the listing</option>
                                                            <option value="Faulty product">Faulty product</option>
                                                            <option value="Product hasn't arrived">The product hasn't arrived</option>
                                                        </select>
                                                    </div>
                                                    <div class="field select cont-select smmargin">
                                                        <select name="option" style="width: 100%;">
                                                            <option value="" selected disabled>Refund option</option>
                                                            <option value="Money Back">Money Back</option>
                                                            <option value="New Object">New object (if possible)</option>
                                                        </select>
                                                    </div>
                                                    <div class="field" style="margin-top: 3px;">
                                                        <div class="control">
                                                            <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                                        </div>
                                                    </div>
                                                    <button class="button is-primary">Send</button>
                                                </form>
                                            </section>
                                        </div>
                                </div>
                            <% } %>
    
                            <% if ((user._id.toString() === seller._id.toString()) && (deal.refund.status !== 'Not requested')) { %>
                                <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                <button class="button is-primary refundDetails">View Refund Details</button>
                                <div class="modal modalrefundDetails">
                                    <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Refund Deal</p>
                                                <button class="delete deleterefundDetails" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body" style="text-align: left;">
                                                <p class="title is-5">Reason: <%= deal.refund.reason %></p>
                                                <p class="title is-5">Message: <%= deal.refund.message %></p>
                                                <p class="title is-5">Preferred method of refund: <%= deal.refund.option %></p>
                                                <br>
                                                <% if (deal.refund.status === 'Not fulfilled') { %>
                                                    <p class="title is-6" style="border-bottom:solid; border-width:1px;">Accept refund</p>
                                                    <div style="display: flex; justify-content: space-evenly;">
                                                        <form class="modal-form" action="/deals/<%= deal._id %>/refund?_method=PUT" method="POST" style="display: block;">
                                                            <input type="text" name="refundOption" value="Money Back" hidden>
                                                            <button class="button is-primary">Refund Money</button>
                                                        </form>
                                                        <form class="modal-form" action="/deals/<%= deal._id %>/refund?_method=PUT" method="POST" style="display: block;">
                                                            <input type="text" name="refundOption" value="New Product" hidden>                                                
                                                            <button class="button is-primary">Send another product</button>
                                                        </form>
                                                    </div>
                                                    <br>
                                                    <p class="title is-6" style="border-bottom:solid; border-width:1px;">Deny refund</p>
                                                    <form class="modal-form" action="/deals/<%= deal._id %>/refundDeny?_method=PUT" method="POST" style="display: block;">
                                                        <div class="column">
                                                            <div class="field select cont-select smmargin">
                                                                <select name="reason" style="width: 100%;">
                                                                    <option value="" selected disabled>Reason</option>
                                                                    <option value="Scam attempt">I suspect the buyer is trying to scam me</option>
                                                                    <!-- Add more later -->
                                                                </select>
                                                            </div>
                                                            <div class="field" style="margin-top: 3px;">
                                                                <div class="control">
                                                                    <textarea class="textarea" name="message" placeholder="Your message"></textarea>
                                                                </div>
                                                            </div>
                                                            <button class="button is-primary">Send</button>
                                                        </div>
                                                    </form>
                                                <% }  else { %>                     
                                                    <p class="title is-5">Deal Refunded</p>
                                                    <p class="title is-5">Refund option: <%= deal.refund.sellerOption %></p>
                                                <% } %>
                                            </section>
                                        </div>
                                </div>
                            <% } %>
                            
                            <% if ((deal.status === 'Processing') && (user._id.toString() === buyer._id.toString())) { %>
                                <div style="display: flex; justify-content: space-evenly">
                                    <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                    <form action="/deals/<%= deal._id %>/cancel?_method=PUT" method="POST"><button class="button is-danger">Cancel Deal</button></form>
                                </div>
                            <% } %>
                            <% if ((deal.refund.status === 'Pending Delivery') && (user._id.toString() === buyer._id.toString())) { %>
                                <div style="display: flex; justify-content: space-evenly">
                                    <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                                    <form action="/deals/<%= deal._id %>/complete?_method=PUT" method="POST"><button class="button is-success">Complete Deal</button></form>
                                </div>
                            <% } %>
                            <% if ((deal.status === 'Pending Delivery') && (user._id.toString() === seller._id.toString())) { %>
                                <a href="/products/<%= deal.product.id %>/view" class="button is-primary">View Product</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <p class="title is-3">Error 404: Page Not Found</p>
        <% } %>
    </div>
</div>

<script src="/dist/js/deal.js"></script>
<% include ../partials/footer %>
