<% include ../partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/dist/css/dashboard.css" />
<link rel="stylesheet" href="/dist/css/search.css">
<link rel="stylesheet" href="/dist/css/categories.css">
<link rel="stylesheet" href="/dist/css/products.css">

<div class="columns wrapper">
    <div class="column dashboard-right" >
        <div class="dashTop column">
            <h2 class="title dashTitle" style="color: white !important;">Cart</h2>
        </div>
        <br>
        <div class="container is-fluid errors">
            <% if(errors){ %>
                <div class="notification is-danger" role="alert"> 
                <% errors.forEach(function( err){ %>
                    <%= err.msg %><br>
                <% }) %>
                </div>
            <% } %>
        </div>
        <br>
        <div class="columns">
            <% if (products.length == 0) { %>
                <div class="column">
                    <p class="subtitle is-size-3">Your cart is empty. Click <a href="/firstCategSearch?searchName=&category=all" class="link">here</a> to start looking for deals!</p>
                </div>   
            <% } else { %>
            <div class="column"></div>
            <% if (shipping) { %>
                <div class="column is-two-fifths">
                    <div class="frame">
                        <p class="subtitle">Shipping address</p>
                        <form action="/cart/checkout" method="post" id="payForm">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="smallerCenter">
                                <div class="field">
                                    <label class="label" for="deliveryName" style="text-align: left !important;">Full Name</label>
                                    <p class="control has-icons-left">
                                        <% if ( user && user.full_name) { %>
                                            <input class="input" name="deliveryName" type="tel" value="<%= user.full_name %>" required/>
                                        <% } else { %>
                                            <input class="input" name="deliveryName" type="tel" placeholder="Full Name" required/>
                                        <% } %>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user-tie"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label" for="deliveryEmail" style="text-align: left !important;">Email</label>
                                    <p class="control has-icons-left">
                                        <% if (user && user.email) { %>
                                            <input class="input" name="deliveryEmail" type="tel" value="<%= user.email %>" required/>
                                        <% } else { %>
                                            <input class="input" name="deliveryEmail" type="tel" placeholder="Contact Email" required/>
                                        <% } %>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label" for="deliveryCountry" style="text-align: left !important;">Country</label>
                                    <p class="control has-icons-left">
                                        <input class="input" name="deliveryCountry" type="text" placeholder="Country" value="<% if (user) { %><% if (user.country) { %> <%= user.country %> <% } } %>" required/>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label" for="deliveryState" style="text-align: left !important;">State</label>
                                    <p class="control has-icons-left">
                                        <input class="input" name="deliveryState" type="text" placeholder="State or County" value="<% if (user) { %><% if (user.state) { %> <%= user.state %> <% }} %>" required/>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-globe-americas"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label" for="deliveryCity" style="text-align: left !important;">City</label>
                                    <p class="control has-icons-left">
                                        <input class="input" name="deliveryCity" type="text" placeholder="City" value="<% if (user) { %><% if (user.city) { %> <%= user.city %> <% }} %>" required/>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-city"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label" for="deliveryStreet" style="text-align: left !important;">Street</label>
                                    <p class="control has-icons-left">
                                        <input class="input" name="deliveryStreet1" type="text" placeholder="Street" value="<% if (user) { %><% if (user.address1) { %> <%= user.address1 %> <% }} %>" required/>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-road"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label" for="deliveryZip" style="text-align: left !important;">Zip Code</label>
                                    <p class="control has-icons-left">
                                        <input class="input" name="deliveryZip" type="text" placeholder="Zip Code" value="<% if (user) { %><% if (user.zip) { %> <%= user.zip %> <% }} %>" required/>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-sort-numeric-down"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <% products.forEach((product, i) => { %>
                                <input type="number" name="qty[<%= i %>]" id="qty<%= i %>" value="1" hidden>
                            <% }); %>
                        </form>    
                    </div>
                </div>
            <% } %>
            <div class="column <% if (shipping) { %>is-two-fifths<% } else { %>is-three-fifths<% } %>">
                <main class="productWrapper frame" id="hits">
                    <% products.forEach((product, i) => { %>
                        <article class="hit columns" style="margin-top: 0;">
                            <div class="product-picture-wrapper" >
                                <figure class="image is-128x128" style="margin:auto;">
                                    <a href="/products/<%= product._id %>/view">
                                        <img <% if (product.images.sec[0]) { %> src="<%= product.images.sec[0].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> class="productImage" alt="<%= product.name %> Image">
                                    </a>
                                </figure>
                            </div>
                            <div class="column prod_info product-desc-wrapper" style="text-align: left !important;">
                                <div class="product-name">
                                    <a class="is-5 dealname link" href="/products/<%= product._id %>/view"><%= product.name %></a>
                                    <p class="productRating">
                                        <% for(let i = 0; i < 5; i++) { %>
                                            <% if(i < Math.floor(product.avgRating)) { %>
                                            <!-- display a full star -->
                                            <i class="fas fa-star" style="color: orange;"></i>
                                            <% } else if((product.avgRating - i) > 0 && (product.avgRating - i) < 1) { %>
                                            <!-- display a half star -->
                                            <i class="fas fa-star-half-alt" style="color: orange;"></i>
                                            <% } else { %>
                                            <!-- display an empty star -->
                                            <i class="far fa-star" style="color: orange;"></i>
                                            <% } %>
                                        <% } %>
                                    </p>
                                    <div class="buttons">
                                        <a href="/products/<%= product._id %>/view" class="button is-primary">View Details</a>
                                        <form action="/cart/delete/<%= product._id%>?_method=PUT" method="POST">
                                            <button class="button is-danger">Remove</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="column prod_info productPrice">
                                <div class="prices openPrices frame" style="width: 100%;">
                                    <p class="price_text" style="padding-left: 2vw;">$<%= product.usdPrice %> USD</p>
                                    <input type="number" class="priceVal" value="<%= (product.usdPrice * oneDollar).toFixed(8) %>" hidden>
                                    <input type="number" class="usdPriceVal" value="<%= product.usdPrice %>" hidden>
                                    <span class="price_img"><i class="fas fa-dollar-sign fa-lg currencyIcon" style="color: green;"></i></span>
                                </div>
                                <% if (product.repeatable) { %>
                                    <br>
                                    <div style="display: flex; align-items: center; justify-content: space-between;">
                                        <label class="label" for="qty<%= i %>" style="text-align: left !important;">Qty.</label>
                                        <input type="number" class="input qty" placeholder="Quantity" style="width: 50%;" step="1" min="1" max="1000" value="1">
                                    </div>
                                <% } %>
                            </div>
                        </article>      
                        <% }); %>
                        <div class="smallerCenter">
                            <% let price = 0; products.forEach(product => { price += Number((product.usdPrice * oneDollar).toFixed(8))}); %>
                            <% let totalUsdPrice = 0; products.forEach(product => { totalUsdPrice += Number(product.usdPrice)}); %>
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <label class="label" for="totalPrice" style="text-align: left !important;">Total Price (BTC):</label>
                                <input type="text" class="input" id="totalPrice" placeholder="Total Price" style="width: 50%;" value="<%= price.toFixed(8) %> BTC" readonly>
                            </div>
                            <br>
                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                <label class="label" for="totalPriceUSD" style="text-align: left !important;">Total Price (USD):</label>
                                <input type="text" class="input" id="totalPriceUSD" placeholder="Total Price" style="width: 50%;" value="$<%= totalUsdPrice.toFixed(2) %> USD" readonly>
                            </div>
                            <br>
                            <% if(user) { %>
                                <% if (price > user.btcbalance) { %>
                                    <p class="subtitle is-5">You don't have enough balance.</p>
                                    <div class="productBuyForm">
                                    <a href="/dashboard/addresses" class="button is-primary is-medium">Add Balance</a>    
                                <% } else { %>
                                    <% if (shipping) { %>
                                        <button type="submit" form="payForm" class="button is-primary is-medium">Pay now</button>
                                    <% } else { %>
                                        <form action="/cart/checkout" method="POST">
                                            <div class="smallerCenter">
                                                <div class="field">
                                                    <label class="label" for="deliveryName" style="text-align: left !important;">Full Name</label>
                                                    <p class="control has-icons-left">
                                                        <% if(user.full_name) { %>
                                                            <input class="input" name="deliveryName" type="tel" value="<%= user.full_name %>" required/>
                                                        <% } else { %>
                                                            <input class="input" name="deliveryName" type="tel" placeholder="Full Name" required/>
                                                        <% } %>
                                                        <span class="icon is-small is-left">
                                                            <i class="fas fa-user-tie"></i>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <label class="label" for="deliveryEmail" style="text-align: left !important;">Email</label>
                                                    <p class="control has-icons-left">
                                                        <% if(user.email) { %>
                                                            <input class="input" name="deliveryEmail" type="tel" value="<%= user.email %>" required/>
                                                        <% } else { %>
                                                            <input class="input" name="deliveryEmail" type="tel" placeholder="Contact Email" required/>
                                                        <% } %>
                                                        <span class="icon is-small is-left">
                                                            <i class="fas fa-envelope"></i>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <br>
                                            <% products.forEach((product, i) => { %>
                                                <input type="number" name="qty[<%= i %>]" id="qty<%= i %>" value="1" hidden>
                                            <% }); %>
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="button is-primary is-medium">Pay now</button>
                                        </form>    
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <% products.forEach((product, i) => { %>
                                    <input type="number" name="qty[<%= i %>]" id="qty<%= i %>" value="1" hidden>
                                <% }); %>
                                <a class="button is-primary is-medium" href="/login">
                                    <span class="icon is-medium">
                                        <i class="fas fa-shopping-cart has-text-light"></i>
                                    </span>
                                    <span class="has-text-white">Login to Checkout</span>
                                </a>
                            <% } %>
                        </div>  
                    </main>
                    <br> 
                <% } %>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>

<script src="/dist/js/cart.js"></script>
<% include ../partials/footer %>