<% include ../partials/header %>
<script src="../../dist/js/maincateg.js"></script>
<link rel="stylesheet" href="../../dist/css/categories.css">
<link rel="stylesheet" href="../../dist/css/products.css">

<div class="hero-body">
    
        <div class="columns">
            <div class="column is-one-fifth menu menu-categ">
                <div class="categ_menu" id="maincateg">
                    <!-- <a class="sub_name menu-label" href="/categories/<%= main %>/"><%= main %></a> -->
                    <!-- Make script to modify this text according to the main categ -->
                </div>
                
                <ul class="menu-list">
                    <li>
                    <a class="sub_name" href="/categories/<%= main %>/<%= subfirst %>"><%= subfirst %></a>
                    </li>
                    <li>
                    <a class="sub_name" href="/categories/<%= main %>/<%= subsecond %>"><%= subsecond %></a>
                    </li>
                    <li>
                    <a class="sub_name" href="/categories/<%= main %>/<%= subthird %>"><%= subthird %></a>
                    </li>
                    <li>
                    <a class="sub_name" href="/categories/<%= main %>/<%= subfourth %>"><%= subfourth %></a>
                    </li>
                </ul>
                <hr style="background-color: orange;">

                <div class="categ_menu">
                    <p class="menu-label">
                        Filters
                    </p>
                </div>

                <form>
                    <ul class="filter-list">
                            <% 
                                switch(categ) {
                                    case('Collectibles'): { %>
                                       <p>Add Filters</p> 
                                       <%
                                        break;
                                    }
                                    case('Antiques'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('SportsMemorabilia'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('Art'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('YardGardenOutdoor'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('Crafts'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('HomeImprovement'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('PetSupplies'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('OutdoorSports'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('TeamSports'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('ExerciseFitness'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('Golf'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('ComputersTablets'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('CamerasPhoto'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('TvAudioSurveillance'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('PhonesAndAccessories'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('GpsSecurity'): { %>
                                    <p>Add Filters</p> 
                                    <%
                                     break;
                                    }
                                    case('RadarLaser'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('CareDetailing'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('Scooter'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('RadioControl'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('KidsToys'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('ActionFigures'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('DollsBears'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('Women'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('Men'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('JewelryWatches'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('Shoes'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('Guitar'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('ProAudio'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('String'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('StageLightningEffects'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('VideoGamesConsoles'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('HealthBeauty'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('Baby'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    case('BusinessIndustrial'): { %>
                                        <p>Add Filters</p> 
                                        <%
                                         break;
                                    }
                                    default: { %>
                                        <p>default</p>
                                        <p> <%= categ %></p>
                                        <% break;
                                    }
                                }
                            
                            
                            %>
                        <li>
                            <details>
                                <ul class="menu-list">
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="radio" name="product[accepted]" value="BTC" id="filter-btc">
                                            <label for="filter-btc" class="curr-label">BTC</label>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="radio" name="product[accepted]" value="BCH" id="filter-bch">
                                            <label for="filter-bch" class="curr-label">BCH</label>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="radio" name="product[accepted]" value="ETH" id="filter-eth">
                                            <label for="filter-eth" class="curr-label">ETH</label>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="radio" name="product[accepted]" value="LTC" id="filter-ltc">
                                            <label for="filter-ltc" class="curr-label">LTC</label>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="radio" name="product[accepted]" value="DASH" id="filter-dash">
                                            <label for="filter-dash" class="curr-label">DASH</label>
                                        </a>
                                    </div>
                                </ul>
                                <summary class="filter-summary">Currency</summary> 
                            </details>
                        </li>
                        <li>
                            <details>
                                <ul class="menu-list">
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="checkbox" name="condition[0]" value="New" id="filter-new">
                                            <label for="filter-new" class="curr-label">Brand New</label>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="checkbox" name="condition[1]" value="LNew" id="filter-lnew">
                                            <label for="filter-lnew" class="curr-label">Like New</label>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="checkbox" name="condition[2]" value="Used" id="filter-used">
                                            <label for="filter-used" class="curr-label">Used</label>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="checkbox" name="condition[3]" value="Non" id="filter-non">
                                            <label for="filter-non" class="curr-label">Not Specified</label>
                                        </a>
                                    </div>
                                </ul>
                                <summary class="filter-summary">Condition</summary> 
                            </details>
                        </li>
                        <li>
                            <details>
                                <ul class="menu-list">
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="number" class="filter-input" name="price[0]" id="filter-min" step="any">
                                            <label for="filter-min" class="curr-label">Min</label>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="curr-filter">
                                            <input type="number" class="filter-input" name="price[1]" id="filter-max" step="any">
                                            <label for="filter-max" class="curr-label">Max</label>
                                        </a>
                                    </div>
                                </ul>
                                <summary class="filter-summary">Price</summary> 
                            </details>
                        </li>
                        <li>
                            <a href="#" class="curr-filter" style="justify-content: center; margin-bottom: 1vh; margin-top: 0.5vh;">
                                <input type="checkbox" class="filter-input" name="shipping" id="filter-free-ship">
                                <label for="filter-ship" class="curr-label">Free Shipping</label>
                            </a>
                        </li>
                    </ul>
                    
                    <button class="button is-primary">Filter</button>
                </form>
            </div>
            <div class="column content">
                <% products.forEach(function(product){ %>
                    <% 
                        let currencies = [0, 0, 0, 0, 0];
                        product.accepted.forEach(( key ) => {
                            if (key == 'BTC'){
                                currencies[0] = 1;
                            }
                            if (key == 'BCH'){
                                currencies[1] = 1;
                            }
                            if (key == 'ETH'){
                                currencies[2] = 1;
                            }
                            if (key == 'LTC'){
                                currencies[3] = 1;
                            }
                            if (key == 'DASH'){
                                currencies[4] = 1;
                            }
                        });
                    %>
                    <div class="columns">
                        <div class="column is-one-quarter">
                                <img src="<%= product.image %>" class="open-img">
                        </div>
                        <div class="column prod_info is-half">
                            <p class="title is-5"><%= product.name %></p>
                            <p class="subtitle is-6"><sub>Shipping: TBD</sub></p>
                            <div style="display: flex;">
                                <a href="/products/<%= product._id %>/view"><button class="button view-btn">View</button></a>
                            </div>   
                        </div>
                        <div class="column prod_info">
                            <% if ((product.price[0] != 0) && (currencies[0] == 1)) { %>
                                <div class="prices">
                                    <p class="price_text"> <%= product.price[0] %></p>
                                    <span class="price_img"><img src="../../dist/img/bitcoin.png" alt="Bitcoin"></span>
                                </div>
                            <% } 
                                if ((product.price[1] != 0) && (currencies[1] == 1)) {
                            %>
                                <div class="prices">
                                    <p class="price_text"> <%= product.price[1] %></p>
                                    <span class="price_img"><img src="../../dist/img/bitcoincash.png" alt="BitcoinCash"></span>
                                </div>
                            <% } 
                                if ((product.price[2] != 0) && (currencies[2] == 1)) {
                            %>
                                <div class="prices">
                                    <p class="price_text"> <%= product.price[2] %></p>
                                    <span class="price_img"><img src="../../dist/img/ethereum.png" alt="Ethereum"></span>
                                </div>
                            <% } 
                                if ((product.price[3] != 0) && (currencies[3] == 1)) {
                            %>
                                <div class="prices">
                                    <p class="price_text"> <%= product.price[3] %></p>
                                    <span class="price_img"><img src="../../dist/img/litecoin.png" alt="Litecoin"></span>
                                </div>
                            <% } 
                                if ((product.price[4] != 0) && (currencies[4] == 1)) {
                            %>
                                <div class="prices">
                                    <p class="price_text"> <%= product.price[4] %></p>
                                    <span class="price_img"><img src="../../dist/img/dash.png" alt="DASH"></span> 
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <hr style="background-color: orange !important;">                    
                <% }); %>         
            </div>
        </div>
   
</div>

<% include ../partials/footer %>
<script src="../../dist/js/categname.js"></script>