<% include ../partials/header %>
<script src="/dist/js/maincateg.js"></script>
<script src="/dist/js/products.js"></script>       
<link rel="stylesheet" href="/dist/css/categories.css">
<link rel="stylesheet" href="/dist/css/products.css">
<link rel="stylesheet" href="/dist/css/product_view.css">
<link rel="stylesheet" href="/dist/css/index.css"> 
<link rel="stylesheet" href="/dist/css/starability-basic.min.css">
<script src="/dist/js/product_view.js"></script>
<div class="hero-body">
    <div class="container frame">
        <nav class="breadcrumb is-medium" style="margin-left: 1vw;" aria-label="breadcrumbs">
            <ul>
                <li>
                    <form action="/firstCategSearch" method="POST">
                        <input type="text" name="searchName" value="" hidden>
                        <input type="text" name="category" value="<%= product.category[1] %>" hidden>
                        <button class="searchBtn"><%= product.category[1] %></button>
                    </form>
                </li>
                <li>
                    <form action="/secondCategSearch" method="POST" =>
                        <input type="text" name="searchName" value="" hidden>
                        <input type="text" name="searchCateg" value="<%= product.category[1] %>" hidden>
                        <input type="text" name="category" value="<%= product.category[2] %>" hidden>
                        <button class="searchBtn"><%= product.category[2] %></button>
                    </form>
                </li>
                <li>
                    <form action="/thirdCategSearch" method="POST">
                        <input type="text" name="searchName" value="" hidden>
                        <input type="text" name="searchCateg" value="<%= product.category[1] %>" hidden>
                        <input type="text" name="secondSearchCateg" value="<%= product.category[2] %>" hidden>
                        <input type="text" name="category" value="<%= product.category[3] %>" hidden>
                        <button class="searchBtn searchCategBtn"><%= product.category[3] %></button>
                    </form>
                </li>
                <li class="is-active"><a href="#" aria-current="page"><%= product.name %></a></li>
            </ul>
        </nav>
        <div class="column smallerCenter">
            <h1 class="title"><strong><%= product.name %></strong></h1>
        </div>
        <hr  class="smallerCenter">
        <div class="columns detailsContainer">
            <div class="column">
                <div class="slider">
                    <figure class="image is-square sliderFig">
                        <img class="mainImg" <% if (product.images.main[0]) { %> src="<%= product.images.main[0].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Picture 1 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                        <img class="mImg"  <% if (product.images.main[0]) { %> src="<%= product.images.main[0].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Picture 1 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                    </figure>
                    <% if (product.images.main[1]) { %>
                        <figure class="image is-square sliderFig hiddenFig">
                            <img class="mainImg hiddenImg replaceMe" <% if (product.images.main[1]) { %> src="<%= product.images.main[1].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Picture 2 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                            <img class="mImg noDisp replaceMe" <% if (product.images.main[1]) { %> src="<%= product.images.main[1].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Picture 2 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                        </figure>
                    <% } %>
                    <% if (product.images.main[2]) { %>
                        <figure class="image is-square sliderFig hiddenFig">
                            <img class="mainImg hiddenImg replaceMe" <% if (product.images.main[2]) { %> src="<%= product.images.main[2].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Picture 3 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                            <img class="mImg noDisp replaceMe"<% if (product.images.main[2]) { %> src="<%= product.images.main[2].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Picture 3 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                        </figure>
                    <% } %>
                    <% if (product.images.main[3]) { %>
                        <figure class="image is-square sliderFig hiddenFig">
                            <img class="mainImg hiddenImg replaceMe" <% if (product.images.main[3]) { %> src="<%= product.images.main[3].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Picture 4 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                            <img class="mImg noDisp replaceMe" <% if (product.images.main[3]) { %> src="<%= product.images.main[3].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Picture 4 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                        </figure>
                    <% } %>
                    <% if (product.images.main[4]) { %>
                        <figure class="image is-square sliderFig hiddenFig">
                            <img class="mainImg hiddenImg replaceMe" <% if (product.images.main[4]) { %> src="<%= product.images.main[4].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Picture 5 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                            <img class="mImg noDisp replaceMe" <% if (product.images.main[4]) { %> src="<%= product.images.main[4].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Picture 5 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                        </figure>
                    <% } %>
                </div>
                <div class="thumbnails">
                    <div class="thumbnailsDiv">
                        <div class="">
                            <input type="radio" name="slide_switch" id="id1" checked="checked"/>
                            <label for="id1">
                                <img class="thumbnail replaceImg" <% if (product.images.sec[0]) { %> src="<%= product.images.sec[0].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Thumbnail 1 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                            </label>
                        </div>
                        <% if (product.images.sec[1]) { %>
                        <div class="">
                            <input type="radio" name="slide_switch" id="id2"/>
                            <label for="id2" class="thumbnailLabelPast1">
                                <img class="thumbnail replaceImg" <% if (product.images.sec[1]) { %> src="<%= product.images.sec[1].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Thumbnail 2 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                            </label>
                        </div>
                        <% } %>
                        <% if (product.images.sec[2]) { %>
                        <div class="">
                            <input type="radio" name="slide_switch" id="id3"/>
                            <label for="id3" class="thumbnailLabelPast1">
                                <img class="thumbnail replaceImg" <% if (product.images.sec[2]) { %> src="<%= product.images.sec[2].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Thumbnail 3 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                            </label>
                        </div>
                        <% } %>
                        <% if (product.images.sec[3]) { %>
                        <div class="">
                            <input type="radio" name="slide_switch" id="id4"/>
                            <label for="id4" class="thumbnailLabelPast1">
                                <img class="thumbnail replaceImg" <% if (product.images.sec[3]) { %> src="<%= product.images.sec[3].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Thumbnail 4 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                            </label>
                        </div>
                        <% } %>
                        <% if (product.images.sec[4]) { %>
                        <div class="">
                            <input type="radio" name="slide_switch" id="id5"/>
                            <label for="id5" class="thumbnailLabelPast1">
                                <img class="thumbnail replaceImg" <% if (product.images.sec[4]) { %> src="<%= product.images.sec[4].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> alt="Thumbnail 5 for <%= product.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';"/>
                            </label>
                        </div> 
                        <% } %>                
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="frame" style="display: flex; margin: auto;">
                    <p class="productUserText" style="margin: auto;">Sold by: <a class="productUserLink link" href="/profile/<%= product.author.id%>"><%= product.author.username %></a></p>
                    <% if (product.author.accountType == 'Partner') { %> <img src="/dist/img/badge.png" alt="Partnered user" title="Partnered user" class="badge" style="margin: auto;"> <% } %>
                </div>
                <br>
                <% for(let i = 0; i < 5; i++) { %>
                    <% if(i < floorRating) { %>
                    <!-- display a full star -->
                    <i class="fas fa-star" style="color: orange;"></i>
                    <% } else if((product.avgRating - i) > 0 && (product.avgRating - i) < 1) { %>
                    <!-- display a half star -->
                    <i class="fas fa-star-half-alt" style="color: orange;"></i>
                    <% } else { %>
                    <!-- display an empty star -->
                    <i class="far fa-star" style="color: orange;"></i>
                    <% } %>
                <% } %>
                <p><%= `${product.avgRating} star${product.avgRating === 1 ? '' : 's'}` %> from <%= product.reviews.length %> reviews</p>
                <form action="/deals/<%= product.id %>/buy" id="buyForm" method="GET" class="productBuyPrice">
                    <div class="column prod_info" style="padding: 0;">
                        <label class="img-check ">
                            <div class="prices frame openPrices">
                                <p class="price_text">
                                    <%= (product.usdPrice * oneDollar).toFixed(8) %>
                                </p>
                                <span class="price_img"><i class="fab fa-bitcoin fa-lg currencyIcon" style="color: orange;"></i></span>
                            </div>
                        </label>
                    </div>
                    <div class="column prod_info" style="padding: 0;">
                        <label class="img-check ">
                            <div class="prices frame openPrices">
                                <p class="price_text">
                                    $<%= product.usdPrice %> USD
                                </p>
                                <span class="price_img"><i class="fas fa-dollar-sign fa-lg currencyIcon" style="color: green;"></i></span>
                            </div>
                        </label>
                    </div>
                    <% if (product.dropshipped) { %>
                        <sub style="color: black;">Free delivery</sub>    
                    <% } %>
                    <br>   
                </form>

                <% if (!user) { %>
                    <form action="/cart/add/<%= product._id %>" method="post">
                        <button class="button is-primary is-large">
                            <span class="icon is-medium">
                                <i class="fas fa-cart-plus has-text-light"></i>
                            </span>
                            <span class="has-text-white">Add to cart</span>
                        </button>
                    </form>
                    <% } else if (user.username === product.author.username) { %>
                        <a href="/dashboard/<%= product._id %>/edit" class="button is-primary is-rounded">Update</a>
                    <% } else if (dealExists) { %>
                        <form action="/messages/<%= dealExists[1] %>/<%= dealExists[0] %>?_method=PUT" method="POST">
                            <button class="button view-btn is-primary">View Deal</button>
                        </form>
                    <% } else if (user.btcbalance >= (product.usdPrice * oneDollar).toFixed(8)) { %>
                        <div class="productBuyForm">
                            <button class="button is-primary" form="buyForm" id="buyBtn">Buy</button>                
                            <form action="/cart/add/<%= product._id %>" method="post">
                                <button class="button is-primary">Add to cart</button>
                            </form>
                        </div>
                        <br>
                        <form action="/messages/<%= product._id %>/createChat" method="POST">
                            <button class="productContactLink button is-primary">Contact Seller</button>
                        </form>
                    <% } else { %>
                        <p class="subtitle is-6">You don't have enough balance.</p>
                        <div class="productBuyForm">
                            <a href="/dashboard/addresses" class="button is-primary">Add Balance</a>
                            <form action="/cart/add/<%= product._id %>" method="post">
                                <button class="button is-primary">Add to cart</button>
                            </form>
                            <form action="/messages/<%= product._id %>/createChat" method="POST">
                                <button class="productContactLink button is-primary">Contact Seller</button>
                            </form>
                        </div>
                    <% } %>
                    <hr>
                    <h1 class="subtitle">Share</h1>
                    <div id="share-buttons">
                    
                        <!-- Facebook -->
                        <a href="http://www.facebook.com/sharer.php?u=<%= fullUrl %>" target="_blank" title="Share on Facebook">
                            <img src="/dist/img/facebook.png" alt="Facebook" />
                        </a>
                        
                        <!-- Twitter -->
                        <a href="https://twitter.com/share?url=<%= fullUrl %>&amp;text=<%= product.name %>&amp;hashtags=DealYourCrypto" target="_blank" title="Share on Twitter">
                            <img src="/dist/img/twitter.png" alt="Twitter" />
                        </a>

                        <!-- Google+ -->
                        <a href="https://plus.google.com/share?url=<%= fullUrl %>" target="_blank" title="Share on Google+">
                            <img src="/dist/img/google.png" alt="Google" />
                        </a>
                        
                        <!-- LinkedIn -->
                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= fullUrl %>" target="_blank" title="Share on LinkedIn">
                            <img src="/dist/img/linkedin.png" alt="LinkedIn" />
                        </a>
                        
                        <!-- Reddit -->
                        <a href="http://reddit.com/submit?url=<%= fullUrl %>&amp;title=<%= product.name %> found on Deal Your Crypto" target="_blank" title="Share on Reddit">
                            <img src="/dist/img/reddit.png" alt="Reddit" />
                        </a>
                        
                        <!-- Email -->
                        <a href="mailto:?Subject=<%= product.name %> found on Deal Your Crypto&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 <%= fullUrl %>" title="Share via Email">
                            <img src="/dist/img/email.png" alt="Email" />
                        </a>
                        
                    </div>
                    <br>
                    <% if (user) { %>
                        <button class="button is-danger reportBtn">Report</button>
                        <div class="modal modalReport">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Are you sure?</p>
                                <button class="delete deleteReport" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                <form class="deleteForm" action="/products/<%= product._id %>/report?_method=PUT" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <textarea class="textarea" name="message" cols="30" rows="5" placeholder="Please tell us more about why this product should be removed"></textarea>
                                    <br>
                                    <div class="field select cont-select">
                                        <select name="reason" style="width: 100vw;">
                                            <option disabled selected>Reason</option>
                                            <option value="Scam">Scam attempt</option>
                                            <option value="No Product">The product doesn't exist</option>
                                            <option value="Illegal">Illegal product</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <button class="button is-danger">Delete</button>
                                </form>
                            </section>
                            </div>
                        </div>
                    <% } %>
            </div>     
        </div>  
        <hr  class="smallerCenter">
        <div class="column detailsContainer">
            <p class="productSubTitleText">Description</p>
            <br>
            <p class="productDescriptionText" ><%= product.description %></p>
            <br>
            <table class="table is-striped is-narrow">
                <thead>
                    <td><p class="productDescriptionText" style="font-weight: 600;">Additional Information</p></td>
                    <td><p class="productDescriptionText" style="font-weight: 600;"></p></td>
                    <% if (product.dropshipped) { %>
                        <td><p class="productDescriptionText" style="font-weight: 600;"></p></td>
                    <% } %>
                </thead>
                <tbody>
                    <tr>
                        <td>Condition</td>
                        <td><%= product.condition %></td>
                    </tr>
                    <tr>
                        <td>Continent of origin</td>
                        <td><% if (product.dropshipped) { %><%= product.from %><% } else { %><%= product.author.continent %><% } %></td>
                    </tr>
                    <% if (product.dropshipped) { %>
                        <tr>
                            <td>Delivery</td>
                            <td><%= product.deliversTo %> (FREE)</td>
                        </tr>    
                    <% } %>
                </tbody>
            </table>
        </div> 
        <div class="column">
            <% if (reviews.total > 0) { %>
                <hr class="smallerCenter">
                <p class="productSubTitleText">Reviews</p>
                <br>
                <% reviews.docs.forEach(function(review, index) { %>
                    <div class="columns container is-fluid frame reviewWrapper">
                        <div>
                            <a href="/profile/<%= review.author %>" class="link">
                                <figure class="image">
                                    <img src="<%= review.avatarUrl %>" class="avatarSize" alt="">
                                </figure>
                            </a>
                            <a class="link" href="/profile/<%= review.author %>"><p style="text-align:center !important;" ><%= review.name %></p></a>
                            <% if (review.createdAt) { %>
                            <p style="text-align:center !important;" >
                                <% switch(review.createdAt.getMonth()) {
                                    case (0) : { %>
                                    Jan
                                    <% break; }%>
                                    <% case (1) :{ %>
                                    Feb
                                    <% break; } %>
                                    <% case (2) :{ %>
                                    Mar
                                    <% break; } %>
                                    <% case (3) :{ %>
                                    Apr
                                    <% break; } %>
                                    <% case (4) :{ %>
                                    May
                                    <% break; } %>
                                    <% case (5) :{ %>
                                    Jun
                                    <% break; } %>
                                    <% case (6) :{ %>
                                    Jul
                                    <% break; } %>
                                    <% case (7) :{ %>
                                    Aug
                                    <% break; } %>
                                    <% case (8) :{ %>
                                    Sep 
                                    <% break; } %>
                                    <% case (9) :{ %>
                                    Oct
                                    <% break; } %>
                                    <% case (10) :{ %>
                                    Nov
                                    <% break; } %>
                                    <% case (11) :{ %>
                                    Dec
                                    <% break; } %>
                                    <% default: { break; }%>
                                <% } %>/<%= (( review.createdAt.getDate()) < 10) ? '0' + ( review.createdAt.getDate()) : ( review.createdAt.getDate()) %>/<%= 1900 + Number((( review.createdAt.getYear()) < 10) ? '0' + ( review.createdAt.getYear()) : ( review.createdAt.getYear())) %></p>
                            <% } %>
                        </div>
                        
                        <div class="reviewRating">
                            <div style="float: left;"><%  
                                let i = 0;
                                for(i; i < review.rating; i++) { %>
                                <!-- display a full star -->
                                <i class="fas fa-star" style="color: orange;"></i>
                            <% } %>
                            <% for(i; i < 5; i++) { %>
                                    <!-- display an empty star -->
                                    <i class="far fa-star" style="color: orange;"></i>
                            <% } %>
                            </div>
                            <br>
                            <p class="productDescriptionText"><%= review.body %></p>
                        </div>
                        <% if(user){ %>
                            <div class="column is-one-fifth reviewAuthorButtons">
                            <% if(review.author.equals(user._id)) { %>
                                <button class="button is-primary edit">Edit</button>
                                <div class="modal modalEdit">
                                    <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Edit Review</p>
                                                <button class="delete deleteEdit" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-foot" style="display: block;">
                                                <form action="/reviews/<%= product.id %>/reviews/<%= review.id %>?_method=PUT&from=product" method="POST" class="edit-review-form">
                                                    <textarea class="textarea" name="review[body]" required><%= review.body %></textarea>
                                                    <fieldset class="starability-basic reviewRating">
                                                        <legend>Rating:</legend>
                                                        <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" <% if (review.rating == 1) { %> checked <% } %> aria-label="No rating." />
                                                        <input type="radio" id="edit-rate1" name="review[rating]" value="1" <% if (review.rating == 1) { %> checked <% } %> />
                                                        <label for="edit-rate1" title="Terrible">1 star</label>
                                                        <input type="radio" id="edit-rate2" name="review[rating]" value="2" <% if (review.rating == 2) { %> checked <% } %> />
                                                        <label for="edit-rate2" title="Not good">2 stars</label>
                                                        <input type="radio" id="edit-rate3" name="review[rating]" value="3"  <% if (review.rating == 3) { %> checked <% } %>/>
                                                        <label for="edit-rate3" title="Average">3 stars</label>
                                                        <input type="radio" id="edit-rate4" name="review[rating]" value="4" <% if (review.rating == 4) { %> checked <% } %> />
                                                        <label for="edit-rate4" title="Very good">4 stars</label>
                                                        <input type="radio" id="edit-rate5" name="review[rating]" value="5" <% if (review.rating == 5) { %> checked <% } %> />
                                                        <label for="edit-rate5" title="Amazing">5 stars</label>
                                                    </fieldset>
                        
                                                    <input class="button is-primary" type="submit" value="Update">
                                                </form>
                                            </section>
                                        </div>
                                </div>        
                                <button class="button is-danger del">Delete</button>
                                <div class="modal modalDelete">
                                    <div class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Are you sure?</p>
                                            <button class="delete deleteDelete" aria-label="close"></button>
                                        </header>
                                        <section class=" modal-card-foot" style="display: block;">
                                            <p class="title is-5">This action is irrevocable and will remove the review permanently.</p>
                                            <form action="/reviews/<%= product.id %>/reviews/<%= review.id %>?_method=DELETE&from=product" method="POST">
                                                <input class="button is-danger noborder" type="submit" value="Delete">
                                            </form>
                                        </section>
                                    </div>
                                </div>

                                <% } else { %>
                                    <form action="/reviews/<%= product._id %>/reviews/<%= review._id %>/report?_method=PUT" method="POST">
                                        <button class="button is-danger">Report</button>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    </form>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                    <% if (index < reviews.total - 1) { %><hr  class="smallerCenter"><% } %>
                <% }); %>
            <% } %>
        </div>

        <% if (similar.length > 0) { %>
            <hr class="smallerCenter">
            <p class="productSubTitleText">Similar products</p>
            <div class="column detailsContainer">    
                <div class="columns indexRow" style="justify-content: center;">
                    <% similar.forEach((sim) => { %>
                        <div class="column card feat_card frame smallerCenter similarProducts">
                            <a href="/products/<%= sim._id %>/view">
                                <div class="card-image">
                                    <figure class="image featimg is-square similarFigure">
                                        <img <% if (sim.images.main[0].url) { %> src="<%= sim.images.main[0].url %>" <% } else { %> src="/dist/img/uploading_placeholder.png" <% } %> class="featimgs replaceImg" alt="<%= sim.name %>" onError="this.onerror=null;this.src='/dist/img/missing_image.png';">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title productName dealname" style="overflow: hidden;"><%= sim.name %></p>
                                        </div>
                                    </div>
                                    <p class="curr_text"><b><%= (sim.usdPrice * oneDollar).toFixed(8) %></b> BTC</p>
                                    <p class="curr_text"><b>$<%= sim.usdPrice %></b> USD</p>
                                </div> 
                            </a>      
                        </div>
                    <% }); %>  
                </div>
            </div>
        <% } %>
    </div>    
</div>

<% include ../partials/footer %>